{%  extends "healthseeker/base_dashboard.html" %}
{% load static %}

{% block content %}

    {% block facilitations %}
        {% endblock %}

        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="form_reg_one form_reg_one_m_p">
                            
                            
                            <div class="form_reg_one_in form_reg_one_in_my_p">
                                
                                <h3>Facilitation</h3>

                                
                                <div class="my_pro_form_he">
                                
                                    <h2>Customer Care</h2>
                                    
                                    <div class="custo_care_acc">
                                        <div class="custo_care_acc_img">
                                            <img src="{% static 'img/dashboard/customer.jpg' %}">
                                        </div>
                                        
                                        <div class="custo_care_acc_deta">
                                            <h3>P Krishna</h3>
                                            <p>Krishna@phealth.com</p>
                                            <p>8844884488</p>
                                        </div>
                                        
                                        <div class="custo_care_acc_cont">
                                            <a class="contact_btn" href="#">Contact</a>
                                        </div>
                                    </div>
                                
                                </div>
                                
                                
                                <ul class="save_next">
                                    <li><a class="next_inf" href="../healthseeker/comlaints.html">Next</a></li>
                                    
                                </ul>
                                
                        </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
      

   {% endblock  %}