{% load static %}




 <ul class="dropdown-menu">
                            <li><a href="../dashboard/booked.html">My Appointments</a></li>
                            <li><a href="../dashboard/health_records.html">Health Records</a></li>
                            <li><a href="../dashboard/health_alerts.html">Health Alerts</a></li>
                            <li><a href="../dashboard/favorite_decors.html">Favorite Decors</a></li>
                            <li><a href="../dashboard/comlaints.html">Facilitation</a></li>
                            <li><a href="../dashboard/change_pswd.html">Settings</a></li>
                            <li><a href="#">Logout</a></li>
                          </ul>.



{% block appointments %}
        {% endblock %}