{% load static %}





<ul class="dropdown-menu">
                            <li><a href="../dashboard/personal_information.html">Personal Information</a></li>
                            <li><a href="../dashboard/family_details.html">Family Details</a></li>
                            <li><a href="../dashboard/contact_details.html">Contact Details</a></li>
                            <li><a href="../dashboard/other_info.html">Other Information</a></li>
                          </ul>



{% block facilitations %}
        {% endblock %}