{% load static %}
<ul class="my_profile_div my_profile_div_w">
    <li>
        <a href="{% url 'healthseeker:booking' %}"><img src="{% static 'healthseeker/img/dashboard/my_profile.png' %}">Booked</a>
    </li>

    <li>
        <a href="{% url 'healthseeker:schedule' %}"><img src="{% static 'healthseeker/img/dashboard/my_profile.png' %}">Scheduled</a>
    </li>

    <li><a href="{% url 'healthseeker:complaints' %}"><img src="{% static 'healthseeker/img/dashboard/my_profile.png' %}">Visited</a></li>

    <li class="search_for_dc"><input class="form-control" type="text" placeholder="Enter Doctor name or Hospital"></li>

</ul>