{%  extends "healthseeker/base_dashboard.html" %}
{% load static %}

{% block content %}


      
        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="form_reg_one form_reg_one_m_p">
                            
                            
                            <div class="form_reg_one_in form_reg_one_in_my_p">
                                
                                <h3>Facilitation</h3>
                        
                               {% block facilitations %}
                                {% endblock %}

                                <div class="my_pro_form_he">
                                    
                                    <h2 class="reset_psdd">Complaints</h2>
                                    <a class="qfc_a" href="#">Queries / Feedback / Complaints</a>
                                    <p class="qfc_p">You can reach us for any query / Complaint through any of our access channels mentioned below:</p>
                                
                                    <form class="registration_form">
                                
                                <div class="row">
                                    
                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Title" class="form-control" id="phone">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Email" class="form-control" id="email">
                                        </div>
                                    </div>  
                                    
                                    
                                    <div class="form-group custom_md_45 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <textarea placeholder="Complaint Description" class="form-control" rows="3" id="comment"></textarea>
                                        </div>
                                    </div>  
                                    
                                 
                                    <div style="margin-top: 27px;" class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Mobile" class="form-control" id="email">
                                        </div>
                                    </div>  
                                </div>
                                
                               
                            
                        </form>
                                
                                </div>
                                
                                
                                <ul class="save_next">
                                   
                                    <li><a class="next_inf" href="#">Next</a></li>
                                     <li><a class="save_inf" href="#">Save</a></li>
                                    
                                </ul>
                                
                        </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>


{% endblock  %}