{%  extends "healthseeker/dashboard/base_dashboard.html" %}
{% load static %}

{% block content %}

    {% block profile %}
        {% endblock %}
     
        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="form_reg_one form_reg_one_m_p">
                            
                            
                            <div class="form_reg_one_in form_reg_one_in_my_p">
                                
                                <h3>My Profile</h3>
                        
                                <ul class="my_profile_div">
                                    <li><a href="../dashboard/personal_information.html"><img src="../img/dashboard/my_profile.png">Personal information</a></li>
                                    <li><a href="../dashboard/family_details.html"><img src="../img/dashboard/my_profile.png">Family Details</a></li>
                                    <li class="active"><a href="../dashboard/contact_details.html"><img src="../img/dashboard/my_profile.png">Contact Details</a></li>
                                    <li><a href="../dashboard/other_info.html"><img src="../img/dashboard/my_profile.png">Other Information</a></li>
                                </ul>
                                
                                <div class="my_pro_form_he">
                                
                                <div class="full_width curent_location">
                                    <div style="margin-bottom: 30px;" class="col-md-7 padding_all_0">
                                        <label><p><input type="radio" name="location"> &nbsp;Current Location</p></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Madhapur Ayyappa Society...">
                                            <span class="input-group-addon">Change</span>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.131522315598!2d78.39221431443993!3d17.453417988039117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91638b1458e1%3A0x872cd53869cbcd42!2sMBR+Informatics+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1517829412276" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <form class="cureent_loca_form">
                                    
                                            <div class="row">
                                                
                                                <div class="form-group col-md-12">
                                                    <div class="icon-addon addon-md">
                                                        <input type="text" placeholder="Door / Flat no" class="form-control border_borrom">
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <div class="icon-addon addon-md">
                                                        <input type="text" placeholder="Landmark" class="form-control">
                                                    </div>
                                                </div>  
                                                
                                                <div class="col-md-12">
                                                    <ul class="loca_po_li">
                                                        <li><a href="#"><i class="fa fa-home"></i>home</a></li>
                                                        <li><a href="#"><i class="fa fa-briefcase"></i>Work</a></li>
                                                        <li><a href="#"><i class="fa fa-map-marker"></i>Other</a></li>
                                                    </ul>
                                                
                                                </div>
                                                
                                                

                                            </div>

                               
                            
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                
                                 <div class="col-md-12 padding_all_0 current_loc_form">
                                     <label><p><input type="radio" name="location"> &nbsp;Update Manually</p> </label>
                                </div>
                                
                               <form class="registration_form current_loc_form">
                                    
                                
                                
                                   
                                <div class="row">
                                   
                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="State" class="form-control">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="City" class="form-control">
                                        </div>
                                    </div>  
                                    
                                  
                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Area/Location" class="form-control">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="land Mark" class="form-control">
                                        </div>
                                    </div>  
                                    
                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Building Name" class="form-control">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="H.No / Flat No" class="form-control">
                                        </div>
                                    </div>  
                                    
                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Pin Code" class="form-control">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                               
                            
                        </form>
                                    
                                    
                                    
                                 
                            </div>
                                
                                
                                <ul class="save_next">
                                    <li><a class="next_inf" href="../dashboard/other_info.html">Next</a></li>
                                    <li><a class="save_inf" href="#">Save</a></li>
                                    
                                </ul>
                                
                        </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
      
       {% endblock  %}