{%  extends "healthseeker/base_dashboard.html" %}
{% load static %}
{% block content %}

<style>
    .h40{
        height: 32px !important;
    }
    .manual {
        display: none;
    }
</style>

<script src="{% static 'common/js/all.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMCBCYMwsj0JQowT1a4GMNtYJqVEPqxVc&libraries=places"></script>
<script>
        let makeRequest = (obj) => {
            var place = obj.place || "", latLong = obj.latLong;
            let setPlace = (place) => {
                place = placeToJSON(place);
                $.ajax({
                    url: window.location.pathname,
                    method: "POST",
                    data: {
                        place: place,
                    },
                    success: function(response) {
                        alert("Location" + ((response.status)? " " : " not ") + "updated successfully!");
                        $("pre#id_place").text(JSON.stringify(response, null, 4));
                        $("pre#id_place").fadeIn();
                        if(response['status']) $("pre#id_place").css({ 'color' : 'black', });
                        else $("pre#id_place").css({ 'color' : 'red', });
                        setTimeout(() => { $("pre#id_place").fadeOut(); }, 5000);
                    }
                });
            };
            if(latLong) {
                let geocoder = new google.maps.Geocoder;
                geocoder.geocode({'location': latLong }, function(results, status) {
                    if (status === google.maps.GeocoderStatus.OK) setPlace(results[0]);
                    else alert('Geocoder failed due to: ' + status + '! Please add manually!');
                });
            }
            else setPlace(place);
        };
</script>
        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form_reg_one form_reg_one_m_p">


                            <div class="form_reg_one_in form_reg_one_in_my_p">

                                <h3>My Profile</h3>

                                {% include 'healthseeker/base_profile.html' %}

                                <div class="my_pro_form_he">
                                     <form class="registration_form">


                                <h2>Please fill the contcat datails form!</h2>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box">
                                        <div class="form-group ">
                                            <label class="radio-inline">
                                                <input type="radio" name="location_type" class="ltype" value=".current" checked>Current Location
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="location_type" class="ltype" value=".manual">Update Manually
                                            </label>
                                        </div>
                                        <br>
                                        <div class="current location_sections">

                                            <ul class="nav nav-tabs">
                                                <li>
                                                    <a data-toggle="tab" href="#geo">Current Location</a>
                                                </li>
                                                <li class="active">
                                                    <a data-toggle="tab" href="#map">Enter Your Location</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="geo" class="tab-pane fade">
                                                    <div class="getlocation" style="cursor: pointer;">
                                                        <img src="https://git.reviewboard.kde.org/media/uploaded/files/2015/07/30/019abdbb-80cf-4935-8d6d-0c3e6927d2b3__gps_fixed_600.png"
                                                        style="height:50px"> Click to Get Current Location
                                                    </div>
                                                </div>
                                                <div id="map" class="tab-pane fade  in active">
                                                    <div class="form-horizontal" style="width: 550px">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Location:</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" id="clickhealth_address" value="{{data}}" />
                                                            </div>
                                                        </div>
                                                        <div class="clearfix">&nbsp;</div>
                                                        <div class="m-t-small" style="display:none">
                                                            <label class="p-r-small col-sm-1 control-label">Lat.:</label>

                                                            <div class="col-sm-3">
                                                                <input type="text" class="form-control" style="width: 110px" name="longitude" id="clickhealth_lat" />
                                                            </div>
                                                            <label class="p-r-small col-sm-2 control-label">Long.:</label>

                                                            <div class="col-sm-3">
                                                                <input type="text" class="form-control" style="width: 110px" name="latitude" id="clickhealth_lon" />
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <script>
                                                            var place = "";
                                                            var input = document.getElementById('clickhealth_address');
                                                            autocomplete = new google.maps.places.Autocomplete(input, {
                                                                    types: ['geocode']
                                                                });
                                                            autocomplete.addListener('place_changed', function () {
                                                                place = autocomplete.getPlace();
                                                                makeRequest({ 'place' : place });
                                                            });
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="manual location_sections">
                                            <div class="form-group">
                                                <label for="id_state">State:</label>
                                                <br>
                                                <select name="state" class="form-control h40" placeholder="state" id="id_state">
                                                    <option value="" selected>---------</option>
                                                    {% for result in states %}
                                                    <option value="{{ result.pk }}">{{ result.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="id_city">City:</label>
                                                <br>
                                                <select name="city" class="form-control h40" placeholder="city" id="id_city">
                                                    <option value="" selected>---------</option>

                                                    {% for result in cities %}
                                                    <option value="{{ result.pk }}">{{ result.name }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_area">Area:</label>
                                                <br>
                                                <input type="text" name="area" maxlength="200" class="form-control h40" placeholder="area" id="id_area" />
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <br>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <div class="icon-addon addon-md">
                                                            <pre id="id_place"></pre>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                    </div>
                                </div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </section>
    <script>
        $(document).ready(function () {
            $("div.location_sections").hide();
            $("div.current").fadeIn();

            $(".ltype").click(function () {
                let radioValue = $("input[name='location_type']:checked").val();
                $("div.location_sections").hide();
                $(radioValue).fadeIn();
            });

            $(".getlocation").click(function () {
                if ("geolocation" in navigator) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        $("#clickhealth_lat").val(position.coords.latitude);
                        $("#clickhealth_lon").val(position.coords.longitude);
                        let latLong = {
                            'lat' : position.coords.latitude,
                            'lng' : position.coords.longitude,
                        };
                        makeRequest({ 'latLong' : latLong });
                    });
                } else
                    alert("Browser doesn't support geolocation!");
            });
        });
    </script>

    {% endblock %}
