{%  extends "healthseeker/base_dashboard.html" %}
{% load static %}

{% block content %}


        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form_reg_one form_reg_one_m_p">


                            <div class="form_reg_one_in form_reg_one_in_my_p">

                                <h3>My Profile</h3>
                                {% include 'healthseeker/base_profile.html' %}

                                <div class="my_pro_form_he">

                                <h2>Please add your family member</h2>




                                <a href="#" class="add_family_me add_family_me_my_p" data-toggle="modal" data-target=".bs-example-modal-lg">
                                  <i class="fa fa-plus"></i> Add Family Number
                                </a>
                                    {% include 'healthseeker/familymember.html' %}
                                 <div class="full_width">
                                <table class="table table-striped famil_membe_table famil_membe_table_m_p">
                                         <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>DOB</th>
                                        <th>Profile_Pic</th>
                                        <th>Relation</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                    <tr>
                                        <td>{{seeker.first.user.name}}</td>
                                       <!-- <td>{{ result.family }} </td>-->
                                        <td>{{ seeker.first.user.mobile }} </td>
                                        <td>{{ seeker.first.user.email }}</td>
                                        <td>{{ seeker.first.user.gender }} </td>
                                        <td>{{ seeker.first.user.dob }} </td>
                                        <td>Self</td>
                                        <td>Self</td>



                                        <td><center><a class="btn btn-warning"   disabled> Edit</a> <a class="btn  btn-danger"  disabled > Delete</a></center></td>
                                    </tr>
                                <tbody>
                                   {% for result in family %}
                                    <tr>
                                        <td>{{ result.user.name }} </td>
                                        <td>{{ result.user.mobile }} </td>
                                        <td>{{ result.user.email }}</td>
                                        <td>{{ result.user.gender }} </td>
                                        <td>{{ result.user.dob }} </td>
                                       <td> <div class="image_avatar_ad">
                                <img src= "/media/{{ result.user.profile_pic }}">
                            </div></td>
                                        <td>{{ result.relation }}</td>
                                        <!--<td>{{ result.user.profile_pic }} </td>-->

                                        <td><center><a class="btn btn-warning"  href="{% url 'healthseeker:family_edit' pk=result.user.pk %}"> Edit</a> <a class="btn  btn-danger" href="{% url 'healthseeker:family_delete' pk=result.user.pk %}" onclick="return confirm('Are you sure you want to delete this item?');"  > Delete</a></center></td>
                                    </tr>
                                    {% endfor %}

                                </tbody>


                                </table>


                            </div>




                            </div>


                                <ul class="save_next">
                                    <li><a class="save_inf" href="{% url 'healthseeker:contact' %}">Next</a></li>


                                </ul>

                        </div>

                        </div>


                    </div>
                </div>
            </div>
        </section>

       {% endblock %}