{%  extends "healthseeker/base_dashboard.html" %}
{% load static %}

{% block content %}

      
        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="form_reg_one form_reg_one_m_p">
                            
                            
                            <div class="form_reg_one_in form_reg_one_in_my_p">
                                
                                <h3>My Profile</h3>
                                {% include 'healthseeker/base_profile.html' %}

                                <div class="my_pro_form_he">
                                
                                <h2>Please add your family member</h2>
                                
                                <a href="#" class="add_family_me add_family_me_my_p" data-toggle="modal" data-target=".bs-example-modal-lg">
                                  <i class="fa fa-plus"></i> Add Family Member
                                </a>


                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" >
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                        <div class="modal-body add_familymnumber">
                                            <div class="form_reg_one_in">
                                <h2>Please add your family member</h2>


                                <form class="registration_form registration_form_popu">

                                <div class="row">



                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <select name="cars" class="form-control">
                                                <option value="volvo">Relation</option>
                                                <option value="saab">Option One</option>
                                                <option value="fiat">Option Two</option>
                                                <option value="audi">Option Three</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Name" class="form-control" id="email">
                                        </div>
                                    </div>


                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="DOB" class="form-control" id="phone">
                                        </div>
                                    </div>

                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <select name="cars" class="form-control">
                                                <option value="volvo">Gender</option>
                                                <option value="saab">Male</option>
                                                <option value="fiat">Female</option>
                                                <option value="audi">Other</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Mobile Number" class="form-control" id="phone">
                                        </div>
                                    </div>

                                    <!--<ul class="pro_upl">
                                        <li>Profile Picture</li>
                                        <li>
                                            <div class="prof_avatar4">
                                                <img src="../img/avatar2.png">
                                            </div>
                                        </li>
                                        <li><i class="fa fa-camera"></i> &nbsp;Profile Picture</li>
                                    </ul>-->

                                    <div class="full_width upload_new_img">

                                      <div class="profile_text  no_padding_left">
                                        <p>profile picture</p>
                                      </div>

                                      <div class="col-md-3 profile_img_main">
                                        <div class="proifile_in">
                                            <img class="profile-pic" src="../img/avatar2.png">

                                        </div>
                                      </div>

                                     <div class="col-md-6 p-image">
                                        <i class="fa fa-camera upload-button"><span>Change Profile Photo</span></i>
                                        <input class="file-upload" type="file" accept="image/*"/>
                                     </div>

                                    </div>

                                </div>



                        </form>
                                 <a class="search_vtm btn btn-4 btn-4c icon-arrow-right registration_form_popu_a" href="#">Add</a>
                            </div>
                      </div>

                    </div>
                                  </div>
                                </div>
                                
                                <div class="full_width">
                                <table class="table table-striped famil_membe_table famil_membe_table_m_p">
                                    <thead>
                                        <tr>
                                            <th>Name</th> 
                                            <th>Relation</th> 
                                            <th>Gender</th>
                                            <th>DOB</th> 
                                            <th>Mobile No</th> 
                                            <th>Photo</th> 
                                        </tr> 
                                    </thead>
                                    
                                    <tbody>
                                        <tr> 
                                            <td>Laxman P</td> 
                                            <td>Wife</td> 
                                            <td>Male</td>
                                            <td>05/08/1993</td>
                                            <td>9701086993</td>
                                            <td>
                                                <div class="image_avatar_ad">
                                                    <img src="../img/avatar2.png">
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        <tr> 
                                            <td>Laxman P</td> 
                                            <td>Son</td> 
                                            <td>Male</td>
                                            <td>05/08/1993</td>
                                            <td>9701086993</td>
                                            <td>
                                                <div class="image_avatar_ad">
                                                    <img src="../img/test1.jpg">
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        <tr> 
                                            <td>Laxman P</td> 
                                            <td>Daughter</td> 
                                            <td>Male</td>
                                            <td>05/08/1993</td>
                                            <td>9701086993</td>
                                            <td>
                                                <div class="image_avatar_ad">
                                                    <img src="../img/avatar_ma.png">
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        <tr> 
                                            <td>Laxman P</td> 
                                            <td>Father</td> 
                                            <td>Male</td>
                                            <td>05/08/1993</td>
                                            <td>9701086993</td>
                                            <td>
                                                <div class="image_avatar_ad">
                                                    <img src="../img/test2.jpg">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                    
                            </div>
                                    
                                    
                                    
                                 
                            </div>
                                
                                
                                <ul class="save_next">
                                    <li><a class="next_inf" href="../dashboard/contact_details.html">Next</a></li>
                                    <li><a class="save_inf" href="#">Save</a></li>
                                    
                                </ul>
                                
                        </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
      
       {% endblock %}