{%  extends "healthseeker/base_dashboard.html" %}
{% load static %}

{% block content %}
      
      
        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form_reg_one form_reg_one_in_my_p  form_reg_one_m_p">
                      <h3>Favorite Decors</h3>
                            <div class="">
                                <!--<h2>Please fill the Registration form!</h2>
                                <p>Base on your profile & intrest we will provide free Health tips</p>
                                
                                -->
                                
                                
                                <div class="full_width refer_earn_ds favoreite_doctors">
                                   
                                    <div class="row">
                                         <div class="catalog-row alternative">
                
					<div class="appointment_main_hero">
						<div class="app_list_in">
							<div class="appointment_list_in">
  								<div class="appointment_list_clo">
									<div class="alt-center">
										<div class="alt-center-l">
  											<div class="alt-center-lp">
                                               
  											<div class="alt-logo flight-line-b">
                                                <b><a href="#"><img alt="" src="{% static 'healthseeker/img/doctor_new.jpg' %}"></a></b>
											</div>
											</div>
										</div>
										<div class="alt-center-c">
                                                <div class="alt-center-cb">
                                                    <div class="row">
                                                        <div class="col-md-5 col-lg-5">
                                                            <div class="full_width doctr_details">
                                                                <div class="flight-line-b">
                                                                    <b><h4>Dr. Harini</h4></b>
                                                                </div>
                                                                <p>MS - General Surgery, 15 Years Experience </p>
                                                                <span class="lagu_span">consultation: Telugu, Hindi</span>
                                                                <span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;040 123456789</span>

                                                                <a data-toggle="tooltip" title="Add to favorite and get maximum discount" class="heart_fav activet activet" href=""><i class="fa fa-heart"></i></a>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-lg-4 padding_left_0">
                                                            <div class="full_width doctr_details3">
                                                                <h4>09:00 PM - 04:00 PM</h4>
                                                                <p>Ayyappa Society Main Road, Madhapur, Hyderabad, </p>


                                                                <a data-toggle="modal" data-target="#myModal" href="#">View map <span class="fa fa-angle-right"></span></a>

                                                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                                  <div class="modal-dialog fade" role="document">
                                                                    <div class="modal-content">
                                                                      <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                        <h4 class="modal-title" id="myModalLabel">View Map</h4>
                                                                      </div>
                                                                      <div class="modal-body">
                                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.131522315598!2d78.39221431443993!3d17.453417988039117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91638b1458e1%3A0x872cd53869cbcd42!2sMBR+Informatics+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1517829412276" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                                      </div>

                                                                    </div>
                                                                  </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-lg-3">
                                                            <div class="alt-flight-lr pricing_list">
                                                                <div class="padding">
                                                                    <div class="flt-i-price"><span>Rs</span>&nbsp;599</div>
                                                                    <div class="flt-i-price-b">Get 25% Discount on First Consultation</div>
                                                                    <a class="flight-line-b cat-list-btn popper" href="#!" data-toggle="popover" id="timeslots" >book appointment</a>
                                                               </div>
                                                            </div>


                                                            <div class="popper-content hide">My first popover content goes here.</div>

                                                        </div>

                                                </div>


                                            </div>

                                            <div class="full_width">
                                                <div class="view_more_de">
                                                    <div class="flight-line-b">
                                					   <b id="doctorinfo">View more details</b>
                              					     </div>
                                                </div>
                                            </div>



										</div>


									</div>
  								</div>
							</div>
						</div>

						<div class="alt-details">
							<div class="row doctorinfo">
                                <div class="col-md-5 padding_right_0">
                                    <div class="full_width veiw_collaps">
                                        <div class="header_main_col">
                                            <img src="{% static 'healthseeker/img/avatar_ma.png' %}">
                                            <div class="avatar_main_des">
                                                <span>About</span>
                                                <h4>Dr. Harini</h4>
                                            </div>
                                        </div>
                                        <p>Dr. Harini is a Consultant General Surgeon, Female Fertility Specialist, Earlier, She worked as Registrar at King's College Hospital, London, UK and Karolinska Institute, Stockholm, Sweden.</p>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Awards and Rewards</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="{% static 'healthseeker/img/award1.png' %}">

                                            </div>

                                            <div class="col-md-8"><br>
                                                <p> Topper Fellowship in Surgical Gastro at NIMS – 2008</p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Discount</h4>
                                        </div>
                                        <p>25% Discount</p>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Awards and Rewards</h4>
                                        </div>
                                        <p> Conditions that require treatment from a medical or surgical specialist can be addressed at Mercy Personal Physicians at  Hegde through a network of Mercy specialists who provide on-site office visits.</p>
                                    </div>

                                </div>
                                <div class="col-md-7">
                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>condition treated </h4>
                                        </div>
                                        <p>A Type of cancer that starts in the cells of the liver. Viral heatitis and liver damage from alcohol or fatty liver are risk factors for liver cancer, An abnormal growth of cells within bone that may be cancerous or cenign...</p>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Procedures / Surgeries</h4>
                                        </div>
                                        <p>Hegde Hospitals has consistently led game-changing developments in healthcare by bringing to the people, the latest innovations in key medical specialities and superspecialities on par with the West. We highlight in this section some of the latest procedures, services and therapies that Hegde  hospitals provides, in keeping with the tradition of providing outstanding healthcare of international standards.</p>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Experience</h4>
                                        </div>
                                        <p>15 Years Experience in General Surgeon, Laparoscopic Surgeon, Gastroenterologist</p>

                                        <ol class="insrurer">

                                            <li>2014 - 2016 Consultant at Hegde Hospital Madhapur</li>
                                            <li>2010 - 2014 Fellowship in Surgical Gastroenterology at NIMS</li>
                                            <li>2006 - 2010 Registrar in Surgical Gastroenterology at NIMS</li>

                                        </ol>
                                    </div>
                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Registration</h4>
                                        </div>
                                        <p>69690 Andhra Pradesh Medical Council, 2011</p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeslots">
                                <h3 class="calender_heading">Please Select Your Preferrable Time Slot from Below</h3>
                            <section id="demos">
                              <div class="div_slde_main">
                                <div class="large-12 columns">
                                  <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <span>Tue</span>
                                          <h2>23</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Wed</span>
                                          <h2>24</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Thu</span>
                                          <h2>25</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Fri</span>
                                          <h2>26</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Sat</span>
                                          <h2>27</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Sun</span>
                                          <h2>28</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Mon</span>
                                          <h2>29</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Thu</span>
                                          <h2>30</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Fri</span>
                                          <h2>1</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Sat</span>
                                          <h2>2</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Sun</span>
                                          <h2>3</h2>
                                          <span>Jan</span>
                                    </div>
                                    <div class="item">
                                        <span>Mon</span>
                                          <h2>4</h2>
                                          <span>Jan</span>
                                    </div>
                                  </div>
                                    </div>
                              </div>
                            </section>


                            <div class="div_slde_main timings_div_in">
                                <div class="col-md-4 timins_hero_first_main">
                                    <div class="timins_hero">
                                    <div class="full_width timins_hero_first">
                                        <h3>Morning</h3>
                                    </div>

                                    <ul>
                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">10:00 AM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">10:30 AM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">11:00 AM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">11:30 AM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">12:00 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">12:30 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">01:00 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                    </ul>
                                        </div>
                                </div>
                                <div class="col-md-4 timins_hero_first_main">
                                    <div class="timins_hero">
                                    <div class="full_width timins_hero_secnd">
                                        <h3>Afternoon</h3>
                                    </div>

                                    <ul>
                                        <li>


                                            <div class="checkbox">
                                                <label class="container12">01:30 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">02:00 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">02:30 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">03:00 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">03:30 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">04:00 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">04:30 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                    </ul>
                                        </div>
                                </div>
                                <div class="col-md-4 timins_hero_first_main timins_hero_first_main_3">
                                    <div class="timins_hero">
                                    <div class="full_width timins_hero_three">
                                        <h3>Evening</h3>
                                    </div>

                                    <ul>
                                        <li>


                                            <div class="checkbox">
                                                <label class="container12">05:00 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">05:30 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">06:00 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">06:30 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">07:00 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">07:30 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox">
                                                <label class="container12">08:00 PM
                                                  <input type="radio" name="colorRadio" value="red">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>

                                    </ul>
                                        </div>
                                </div>

                                <div class="col-md-12 red box">
                                    <div class="full_width date_based_select">
                                        <div class="date_based_select_text">
                                            <p><span>Date : 24-01-2018 </span> &nbsp;&nbsp;<span><img src="{% static 'healthseeker/img/icons/arrow' %}.png"></span>&nbsp;&nbsp;<span>Time : 01:25 AM</span></p>
                                        </div>
                                        <div class="date_based_select_date">
                                            <a href="ap_details.html">continue</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            </div>
						</div>

					</div>


					<div class="appointment_main_hero">
						<div class="app_list_in">
							<div class="appointment_list_in">
  								<div class="appointment_list_clo">
									<div class="alt-center">
										<div class="alt-center-l">
  											<div class="alt-center-lp">

  											<div class="alt-logo flight-line-b">
                                                <b><a href="#"><img alt="" src="{% static 'healthseeker/img/doctor2.jpg' %}"></a></b>
											</div>
											</div>
										</div>
										<div class="alt-center-c">
                                                <div class="alt-center-cb">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="full_width doctr_details">
                                                                <div class="flight-line-b">
                                                                    <b><h4>Dr Keerthi</h4></b>
                                                                </div>
                                                                <p>MS - General Surgery, 15 Years Experience </p>
                                                                <span class="lagu_span">consultation: Telugu, Hindi</span>
                                                                <span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;040 123456789</span>

                                                                <a data-toggle="tooltip" title="Add to favorite and get maximum discount" class="heart_fav activet" href=""><i class="fa fa-heart"></i></a>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 padding_left_0">
                                                            <div class="full_width doctr_details3">
                                                                <h4>09:00 PM - 04:00 PM</h4>
                                                                <p>Ayyappa Society Main Road, Madhapur, Hyderabad, </p>


                                                                <a data-toggle="modal" data-target="#myModal" href="#">View map <span class="fa fa-angle-right"></span></a>

                                                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog fade" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">View Map</h4>
      </div>
      <div class="modal-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.131522315598!2d78.39221431443993!3d17.453417988039117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91638b1458e1%3A0x872cd53869cbcd42!2sMBR+Informatics+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1517829412276" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="alt-flight-lr pricing_list">
                                                                <div class="padding">
                                                                    <div class="flt-i-price"><span>Rs</span>&nbsp;599</div>
                                                                    <div class="flt-i-price-b">Get 25% Discount on First Consultation</div>
                                                                    <a class="flight-line-b cat-list-btn popper" href="#!" data-toggle="popover" id="timeslots" >book appointment</a>
                                                               </div>
                                                            </div>


                                                            <div class="popper-content hide">My first popover content goes here.</div>

                                                        </div>

                                                </div>


                                            </div>

                                            <div class="full_width">
                                                <div class="view_more_de">
                                                    <div class="flight-line-b">
                                					   <b id="doctorinfo">View more details</b>
                              					     </div>
                                                </div>
                                            </div>



										</div>


									</div>
  								</div>
							</div>
						</div>

						<div class="alt-details">
							<div class="row doctorinfo">
                                <div class="col-md-5 padding_right_0">
                                    <div class="full_width veiw_collaps">
                                        <div class="header_main_col">
                                            <img src="{% static 'healthseeker/img/avatar_ma.png' %}">
                                            <div class="avatar_main_des">
                                                <span>About</span>
                                                <h4>Dr. Harini</h4>
                                            </div>
                                        </div>
                                        <p>Dr. Harini is a Consultant General Surgeon, Female Fertility Specialist, Earlier, She worked as Registrar at King's College Hospital, London, UK and Karolinska Institute, Stockholm, Sweden.</p>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Awards and Rewards</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="{% static 'healthseeker/img/award1.png' %}">

                                            </div>

                                            <div class="col-md-8"><br>
                                                <p> Topper Fellowship in Surgical Gastro at NIMS – 2008</p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Discount</h4>
                                        </div>
                                        <p>25% Discount</p>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Awards and Rewards</h4>
                                        </div>
                                        <p> Conditions that require treatment from a medical or surgical specialist can be addressed at Mercy Personal Physicians at  Hegde through a network of Mercy specialists who provide on-site office visits.</p>
                                    </div>

                                </div>
                                <div class="col-md-7">
                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>condition treated </h4>
                                        </div>
                                        <p>A Type of cancer that starts in the cells of the liver. Viral heatitis and liver damage from alcohol or fatty liver are risk factors for liver cancer, An abnormal growth of cells within bone that may be cancerous or cenign...</p>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Procedures / Surgeries</h4>
                                        </div>
                                        <p>Hegde Hospitals has consistently led game-changing developments in healthcare by bringing to the people, the latest innovations in key medical specialities and superspecialities on par with the West. We highlight in this section some of the latest procedures, services and therapies that Hegde  hospitals provides, in keeping with the tradition of providing outstanding healthcare of international standards.</p>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Experience</h4>
                                        </div>
                                        <p>15 Years Experience in General Surgeon, Laparoscopic Surgeon, Gastroenterologist</p>

                                        <ol class="insrurer">

                                            <li>2014 - 2016 Consultant at Hegde Hospital Madhapur</li>
                                            <li>2010 - 2014 Fellowship in Surgical Gastroenterology at NIMS</li>
                                            <li>2006 - 2010 Registrar in Surgical Gastroenterology at NIMS</li>

                                        </ol>
                                    </div>
                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Registration</h4>
                                        </div>
                                        <p>69690 Andhra Pradesh Medical Council, 2011</p>
                                    </div>
                                </div>
                            </div>

						</div>

					</div>

                    <div class="appointment_main_hero">
						<div class="app_list_in">
							<div class="appointment_list_in">
  								<div class="appointment_list_clo">
									<div class="alt-center">
										<div class="alt-center-l">
  											<div class="alt-center-lp">

  											<div class="alt-logo flight-line-b">
                                                <b><a href="#"><img alt="" src="{% static 'healthseeker/img/doctor4.jpg' %}"></a></b>
											</div>
											</div>
										</div>
										<div class="alt-center-c">
                                                <div class="alt-center-cb">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="full_width doctr_details">
                                                                <div class="flight-line-b">
                                                                    <b><h4>Dr Sushma</h4></b>
                                                                </div>
                                                                <p>MS - General Surgery, 15 Years Experience </p>
                                                                <span class="lagu_span">consultation: Telugu, Hindi</span>
                                                                <span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;040 123456789</span>

                                                                <a data-toggle="tooltip" title="Add to favorite and get maximum discount" class="heart_fav activet" href=""><i class="fa fa-heart"></i></a>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 padding_left_0">
                                                            <div class="full_width doctr_details3">
                                                                <h4>09:00 PM - 04:00 PM</h4>
                                                                <p>Ayyappa Society Main Road, Madhapur, Hyderabad, </p>


                                                                <a data-toggle="modal" data-target="#myModal" href="#">View map <span class="fa fa-angle-right"></span></a>

                                                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog fade" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">View Map</h4>
      </div>
      <div class="modal-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.131522315598!2d78.39221431443993!3d17.453417988039117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91638b1458e1%3A0x872cd53869cbcd42!2sMBR+Informatics+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1517829412276" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="alt-flight-lr pricing_list">
                                                                <div class="padding">
                                                                    <div class="flt-i-price"><span>Rs</span>&nbsp;599</div>
                                                                    <div class="flt-i-price-b">Get 25% Discount on First Consultation</div>
                                                                    <a class="flight-line-b cat-list-btn popper" href="#!" data-toggle="popover" id="timeslots" >book appointment</a>
                                                               </div>
                                                            </div>


                                                            <div class="popper-content hide">My first popover content goes here.</div>

                                                        </div>

                                                </div>


                                            </div>

                                            <div class="full_width">
                                                <div class="view_more_de">
                                                    <div class="flight-line-b">
                                					   <b id="doctorinfo">View more details</b>
                              					     </div>
                                                </div>
                                            </div>



										</div>


									</div>
  								</div>
							</div>
						</div>

						<div class="alt-details">
							<div class="row doctorinfo">
                                <div class="col-md-5 padding_right_0">
                                    <div class="full_width veiw_collaps">
                                        <div class="header_main_col">
                                            <img src="{% static 'healthseeker/img/avatar_ma.png' %}">
                                            <div class="avatar_main_des">
                                                <span>About</span>
                                                <h4>Dr. Harini</h4>
                                            </div>
                                        </div>
                                        <p>Dr. Harini is a Consultant General Surgeon, Female Fertility Specialist, Earlier, She worked as Registrar at King's College Hospital, London, UK and Karolinska Institute, Stockholm, Sweden.</p>
                                    </div>

                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Awards and Rewards</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="{% static 'healthseeker/img/award1.png' %}">
                                                
                                            </div>
                                            
                                            <div class="col-md-8"><br>
                                                <p> Topper Fellowship in Surgical Gastro at NIMS – 2008</p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    
                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Discount</h4>
                                        </div>
                                        <p>25% Discount</p>
                                    </div>
                                    
                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Awards and Rewards</h4>
                                        </div>
                                        <p> Conditions that require treatment from a medical or surgical specialist can be addressed at Mercy Personal Physicians at  Hegde through a network of Mercy specialists who provide on-site office visits.</p>
                                    </div>
                                    
                                </div>
                                <div class="col-md-7">
                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>condition treated </h4>
                                        </div>
                                        <p>A Type of cancer that starts in the cells of the liver. Viral heatitis and liver damage from alcohol or fatty liver are risk factors for liver cancer, An abnormal growth of cells within bone that may be cancerous or cenign...</p>
                                    </div>
                                    
                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Procedures / Surgeries</h4>
                                        </div>
                                        <p>Hegde Hospitals has consistently led game-changing developments in healthcare by bringing to the people, the latest innovations in key medical specialities and superspecialities on par with the West. We highlight in this section some of the latest procedures, services and therapies that Hegde  hospitals provides, in keeping with the tradition of providing outstanding healthcare of international standards.</p>
                                    </div>
                                    
                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Experience</h4>
                                        </div>
                                        <p>15 Years Experience in General Surgeon, Laparoscopic Surgeon, Gastroenterologist</p>
                                        
                                        <ol class="insrurer"> 
                                            
                                            <li>2014 - 2016 Consultant at Hegde Hospital Madhapur</li> 
                                            <li>2010 - 2014 Fellowship in Surgical Gastroenterology at NIMS</li>
                                            <li>2006 - 2010 Registrar in Surgical Gastroenterology at NIMS</li> 
                                            
                                        </ol>
                                    </div>
                                    <div class="full_width veiw_collaps veiw_collaps_23">
                                        <div class="header_main_col">
                                            <h4>Registration</h4>
                                        </div>
                                        <p>69690 Andhra Pradesh Medical Council, 2011</p>
                                    </div>
                                </div>
                            </div>
                            
						</div>
                        
					</div>
                
               
				                                                       
            </div>
                                    </div>
                                    
                                    
                                    
                                    
                                </div>
                                
                        
                            <!--    
                                <div class="full_width">
                                    <ul class="add_more_li">
                                        <li>Hindi</li>
                                        <li>English</li>
                                    </ul>
                                </div>-->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock  %}

      