{%  extends "healthseeker/base_dashboard.html" %}
{% load static %}

{% block content %}

      
        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="form_reg_one form_reg_one_m_p">
                            
                            
                            <div class="form_reg_one_in form_reg_one_in_my_p">
                                
                                <h3>Health Alerts</h3>
                        
                                
                                
                                <div class="my_pro_form_he">
                                
                                <h2 style="    margin-bottom: 6px;">Configure Health Alerts</h2>
                                    <p>Because we care your health</p>
                                
                                <a style="background-color: #2658a4 !important;" href="#" class="add_family_me add_family_me_my_p" data-toggle="modal" data-target=".bs-example-modal-lg">
                                  <i class="fa fa-plus"></i> Add Falert
                                </a>
                                
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" >
                                  
                                    <div class="modal-dialog add_famil_fr_health" role="document">
                                        <div class="modal-content health_rec_modal">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body add_familymnumber add_familymnumber3">
                                                <div class="form_reg_one_in">
                                                    <h2>New Alert</h2>
                                                    <form class="registration_form health_reco_form">
                                                        
                                                            <div class="">
                                                                <p>Health Record Type</p>
                                                            </div>
                                                            <section class="health_record_owl health_chenks" id="demos">
                                                                <div class="div_slde_main ">
                                                                    <div class="large-12 columns">
                                                                        <div class="owl-carousel owl-theme">
                                                                            <div style="height: 8rem !important;" class="item">
                                                                                <i class="fa fa-stethoscope"></i>
                                                                                <h5>Medication </h5>
                                                                            </div>
                                                                            <div style="height: 8rem !important;"  class="item">
                                                                                <i class="fa fa-stethoscope"></i>
                                                                                <h5>Consultation</h5>
                                                                            </div>
                                                                            <div style="height: 8rem !important;"  class="item">
                                                                                <i class="fa fa-stethoscope"></i>
                                                                                <h5>Consultation</h5>
                                                                            </div>
                                                                            <div style="height: 8rem !important;"  class="item">
                                                                                <i class="fa fa-stethoscope"></i>
                                                                                <h5>Consultation</h5>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        <div class="row">
                                                           
                                                            <div class="form-group custom_md_3 col-md-12">
                                                                <div style="width: 50%;" class="icon-addon addon-md">
                                                                    <input type="text" placeholder="Alert Name" class="form-control" id="email">
                                                                </div>
                                                            </div>
                                                            <div class="form-group custom_md_3 col-md-6">
                                                                <div class="icon-addon addon-md">
                                                                    <input type="text" placeholder="Start Date" class="form-control" id="email">
                                                                </div>
                                                            </div>
                                                            <div class="form-group custom_md_3 col-md-6">
                                                                <div class="icon-addon addon-md">
                                                                    <input type="text" placeholder="End Date" class="form-control" id="phone">
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </form>
                                                    
                                                    
                                                    <div class="alert_noto">
                                                        <p style="color: #2658a4;">Alert As</p>
                                                        <ul>
                                                            <li><a href="#">Text Message</a></li>
                                                            <li><a href="#">Email Message</a></li>
                                                            <li><a href="#">Both</a></li>
                                                        </ul>
                                                    </div>
                                                    
                                                    <div class="alert_noto alert_noto2">
                                                        <p style="color: #2658a4;">Alert To</p>
                                                        <ul>
                                                            <li><a href="#">Self</a></li>
                                                            <li><a href="#">Spouse</a></li>
                                                            <li><a href="#">Both</a></li>
                                                        </ul>
                                                    </div>
                                               
                                                    <a class="search_vtm btn btn-4 btn-4c icon-arrow-right" href="#">Save &amp; Go</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                    <div class="full_width">
                                        <ul class="health_recordsz health_alerts">
                                            <li class="time_record">
                                                <div class="item">
                                                    <img src="{% static 'healthseeker/img/icons/health_alerts.jpg' %}">
                                                </div>
                                                <span>Consultation</span>
                                            </li>
                                            <li class="heal_rec_heading health_alerts1">
                                                <div class="health_recc_name">
                                                    <p>Morning consultation</p>
                                                    <span>12-01-2918 to 25-02-2018</span>
                                                </div>
                                            </li>
                                            <li class="doctor_pres_record">
                                                <div class="doctor_presc">
                                                    <a href="#" class="btn_he_re share_btn" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Modify</a>
                                                    <a href="#" class="btn_he_re modify_btn"><i class="fa fa-share-alt" aria-hidden="true"></i> &nbsp;Share</a>
                                                </div>
                                            </li>
                                            <li class="deatils_re_of_record">
                                                <a href="#" class="delete_btn"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                            </li>
                                        </ul>

                                        <ul class="health_recordsz health_alerts">
                                            <li class="time_record">
                                                <div class="item">
                                                    <img src="{% static 'healthseeker/img/icons/health_alerts.jpg' %}">
                                                </div>
                                                <span>Consultation</span>
                                            </li>
                                            <li class="heal_rec_heading health_alerts1">
                                                <div class="health_recc_name">
                                                    <p>Morning consultation</p>
                                                    <span>12-01-2918 to 25-02-2018</span>
                                                </div>
                                            </li>
                                            <li class="doctor_pres_record">
                                                <div class="doctor_presc">
                                                    <a href="#" class="btn_he_re share_btn" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Modify</a>
                                                    <a href="#" class="btn_he_re modify_btn"><i class="fa fa-share-alt" aria-hidden="true"></i> &nbsp;Share</a>
                                                </div>
                                            </li>
                                            <li class="deatils_re_of_record">
                                                <a href="#" class="delete_btn"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                            </li>
                                        </ul>

                                        <ul class="health_recordsz health_alerts">
                                            <li class="time_record">
                                                <div class="item">
                                                    <img src="{% static 'healthseeker/img/icons/health_alerts.jpg' %}">
                                                </div>
                                                <span>Consultation</span>
                                            </li>
                                            <li class="heal_rec_heading health_alerts1">
                                                <div class="health_recc_name">
                                                    <p>Morning consultation</p>
                                                    <span>12-01-2918 to 25-02-2018</span>
                                                </div>
                                            </li>
                                            <li class="doctor_pres_record">
                                                <div class="doctor_presc">
                                                    <a href="#" class="btn_he_re share_btn" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Modify</a>
                                                    <a href="#" class="btn_he_re modify_btn"><i class="fa fa-share-alt" aria-hidden="true"></i> &nbsp;Share</a>
                                                </div>
                                            </li>
                                            <li class="deatils_re_of_record">
                                                <a href="#" class="delete_btn"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    
                                    
                                 
                            </div>
                                
                             
                        </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
  