{%  extends "healthseeker/dashboard/base_dashboard.html" %}
{% load static %}

{% block content %}
		
		<section class="form_reg_one_hero dash_board">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="form_reg_one form_reg_one_m_p">
							<div class="form_reg_one_in form_reg_one_in_my_p">
								<h3>Health Rocords</h3>
								<div class="my_pro_form_he my_pro_form_wait my_pro_form_recor">
									<div class="row">
										<div  class="col-md-12">
											<div class="row">
												<div class="col-md-3 padding_right_0 custum_3">
													<ul class="nav nav-tabs tabs-left">
														<li class="active"><a href="#home" data-toggle="tab">Selft</a></li>
														<li><a href="#profile" data-toggle="tab">Wife</a></li>
														<li><a href="#messages" data-toggle="tab">Son</a></li>
														<li><a href="#settings" data-toggle="tab">Daughter</a></li>
													</ul>
												</div>
												<div class="col-md-9 custum_9">
													<!-- Tab panes -->
													<div class="tab-content">
														<div class="tab-pane active" id="home">
															<div class="full_width">
																<a href="#" class="add_family_me" data-toggle="modal" data-target=".bs-example-modal-lg1">
																<i class="fa fa-upload"></i> Upload Health Records</a>
																<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" >
																	<div class="modal-dialog add_famil_fr_health" role="document">
																		<div class="modal-content health_rec_modal">
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
																			<div class="modal-body add_familymnumber add_familymnumber3">
																				<div class="form_reg_one_in">
																					<h2>Health Records</h2>
																					<form class="registration_form health_reco_form">
																						<div class="row">
																							<div class="col-md-12">
																								<p>Health Record of</p>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<select name="cars" class="form-control">
																										<option value="volvo">Select</option>
																										<option value="saab">laxman P</option>
																										<option value="fiat">Ramu P</option>
																										<option value="audi">Ashok</option>
																									</select>
																								</div>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<input type="text" placeholder="Health Record Title" class="form-control" id="email">
																								</div>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<input type="text" placeholder="Reference Datew" class="form-control" id="phone">
																								</div>
																							</div>
																							<div class="col-md-12">
																								<p>Health Record Type</p>
																							</div>
																							<section class="health_record_owl" id="demos">
																								<div class="div_slde_main ">
																									<div class="large-12 columns">
																										<div class="owl-carousel owl-theme">
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Lab <br>Results</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Radiology Results
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Discharge Summary
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Radiology Results
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</section>
																						</div>
																					</form>
																					<div class="add_photos">
																						<div>
																							
																							<input id="files" type="file" multiple/>
																							<output id="result" />
                                                                                            
																						</div>
																					</div>
																					<a class="search_vtm btn btn-4 btn-4c icon-arrow-right" href="ap_otp.html">Save &amp; Go</a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="full_width">
																<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingOne">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
																						View Details
																						</a>    
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingTwo">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
																						View Details
																						</a> 
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingThree">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
																						View Details
																						</a>
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="profile">
															<div class="full_width">
																<a href="#" class="add_family_me" data-toggle="modal" data-target=".bs-example-modal-lg1">
																<i class="fa fa-upload"></i> Upload Health Records</a>
																<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" >
																	<div class="modal-dialog add_famil_fr_health" role="document">
																		<div class="modal-content">
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
																			<div class="modal-body add_familymnumber add_familymnumber3">
																				<div class="form_reg_one_in">
																					<h2>Health Records</h2>
																					<form class="registration_form health_reco_form">
																						<div class="row">
																							<div class="col-md-12">
																								<p>Health Record of</p>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<select name="cars" class="form-control">
																										<option value="volvo">Select</option>
																										<option value="saab">laxman P</option>
																										<option value="fiat">Ramu P</option>
																										<option value="audi">Ashok</option>
																									</select>
																								</div>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<input type="text" placeholder="Health Record Title" class="form-control" id="email">
																								</div>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<input type="text" placeholder="Reference Datew" class="form-control" id="phone">
																								</div>
																							</div>
																							<div class="col-md-12">
																								<p>Health Record Type</p>
																							</div>
																							<section class="health_record_owl" id="demos">
																								<div class="div_slde_main ">
																									<div class="large-12 columns">
																										<div class="owl-carousel owl-theme">
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Lab <br>Results</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Radiology Results
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Discharge Summary
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Radiology Results
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</section>
																						</div>
																					</form>
																					<div class="add_photos">
																						<div>
																							
																							<input id="files" type="file" multiple/>
																							<output id="result" />
                                                                                            
																						</div>
																					</div>
																					<a class="search_vtm btn btn-4 btn-4c icon-arrow-right" href="ap_otp.html">Save &amp; Go</a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="full_width">
																<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingOne">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
																						View Details
																						</a>    
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingTwo">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
																						View Details
																						</a> 
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingThree">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
																						View Details
																						</a>
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="messages">
															<div class="full_width">
																<a href="#" class="add_family_me" data-toggle="modal" data-target=".bs-example-modal-lg3">
																<i class="fa fa-upload"></i> Upload Health Records</a>
																<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" >
																	<div class="modal-dialog add_famil_fr_health" role="document">
																		<div class="modal-content">
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
																			<div class="modal-body add_familymnumber add_familymnumber3">
																				<div class="form_reg_one_in">
																					<h2>Health Records</h2>
																					<form class="registration_form health_reco_form">
																						<div class="row">
																							<div class="col-md-12">
																								<p>Health Record of</p>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<select name="cars" class="form-control">
																										<option value="volvo">Select</option>
																										<option value="saab">laxman P</option>
																										<option value="fiat">Ramu P</option>
																										<option value="audi">Ashok</option>
																									</select>
																								</div>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<input type="text" placeholder="Health Record Title" class="form-control" id="email">
																								</div>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<input type="text" placeholder="Reference Datew" class="form-control" id="phone">
																								</div>
																							</div>
																							<div class="col-md-12">
																								<p>Health Record Type</p>
																							</div>
																							<section class="health_record_owl" id="demos">
																								<div class="div_slde_main ">
																									<div class="large-12 columns">
																										<div class="owl-carousel owl-theme">
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Lab <br>Results</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Radiology Results
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Discharge Summary
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Radiology Results
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</section>
																						</div>
																					</form>
																					<div class="add_photos">
																						<div>
																							
																							<input id="files" type="file" multiple/>
																							<output id="result" />
                                                                                            
																						</div>
																					</div>
																					<a class="search_vtm btn btn-4 btn-4c icon-arrow-right" href="ap_otp.html">Save &amp; Go</a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="full_width">
																<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingOne">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
																						View Details
																						</a>    
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingTwo">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
																						View Details
																						</a> 
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingThree">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
																						View Details
																						</a>
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="settings">
															<div class="full_width">
																<a href="#" class="add_family_me" data-toggle="modal" data-target=".bs-example-modal-lg2">
																<i class="fa fa-upload"></i> Upload Health Records</a>
																<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" >
																	<div class="modal-dialog add_famil_fr_health" role="document">
																		<div class="modal-content">
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
																			<div class="modal-body add_familymnumber add_familymnumber3">
																				<div class="form_reg_one_in">
																					<h2>Health Records</h2>
																					<form class="registration_form health_reco_form">
																						<div class="row">
																							<div class="col-md-12">
																								<p>Health Record of</p>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<select name="cars" class="form-control">
																										<option value="volvo">Select</option>
																										<option value="saab">laxman P</option>
																										<option value="fiat">Ramu P</option>
																										<option value="audi">Ashok</option>
																									</select>
																								</div>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<input type="text" placeholder="Health Record Title" class="form-control" id="email">
																								</div>
																							</div>
																							<div class="form-group custom_md_3 col-md-6">
																								<div class="icon-addon addon-md">
																									<input type="text" placeholder="Reference Datew" class="form-control" id="phone">
																								</div>
																							</div>
																							<div class="col-md-12">
																								<p>Health Record Type</p>
																							</div>
																							<section class="health_record_owl" id="demos">
																								<div class="div_slde_main ">
																									<div class="large-12 columns">
																										<div class="owl-carousel owl-theme">
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Lab <br>Results</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Radiology Results
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Discharge Summary
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												Radiology Results
																											</div>
																											<div class="item">
																												<i class="fa fa-stethoscope"></i>
																												<h5>Doctor Prescription</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</section>
																						</div>
																					</form>
																					<div class="add_photos">
																						<div>
																							
																							<input id="files" type="file" multiple/>
																							<output id="result" />
                                                                                            
																						</div>
																					</div>
																					<a class="search_vtm btn btn-4 btn-4c icon-arrow-right" href="ap_otp.html">Save &amp; Go</a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="full_width">
																<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingOne">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
																						View Details
																						</a>    
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingTwo">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
																						View Details
																						</a> 
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingThree">
																			<ul class="health_recordsz">
																				<li class="time_record">
																					<div class="item">
																						<span>Wed</span>
																						<h2>24</h2>
																						<span>Jan</span>
																					</div>
																				</li>
																				<li class="heal_rec_heading">
																					<div class="health_recc_name">
																						<p>Health Records</p>
																						<span>Records for Harsha Reddy</span>
																					</div>
																				</li>
																				<li class="doctor_pres_record">
																					<div class="doctor_presc">
																						<p><span  class="fa fa-user-md"></span>Doctor  Drescription</p>
																					</div>
																				</li>
																				<li class="deatils_re_of_record">
																					<h4 class="panel-title">
																						<a href="#">Send Records</a>
																						<a style="background: #666666;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
																						View Details
																						</a>
																					</h4>
																				</li>
																			</ul>
																		</div>
																		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
																			<div class="panel-body images_add_family_main">
																				<h4>What is Lorem Ipsum?</h4>
																				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}
	