{%  extends "healthseeker/dashboard/base_dashboard.html" %}
{% load static %}

{% block content %}
{% block settings %}
        {% endblock %}
      
      
        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="form_reg_one form_reg_one_m_p">
                            
                            
                            <div class="form_reg_one_in form_reg_one_in_my_p">
                                
                                <h3>Settings</h3>
                        
                                <ul class="my_profile_div">
                                    <li><a href="../dashboard/change_pswd.html"><img src="../img/dashboard/my_profile.png">Change Password</a></li>
                                    <li class="active"><a href="../dashboard/manage_intrests.html"><img src="../img/dashboard/my_profile.png">Manage Intrests</a></li>
                                    
                                </ul>
                                
                                <div class="my_pro_form_he">
                                
                                        <div class="confi_inter confi_inter_seting">
                                        <h3>Configure Interests</h3>
                                        <p>We will notify you all</p>
                                        
                                        <ul>
                                            <li>
                                                <div class="conone concom"></div>
                                                Health Tips Notifications
                                            </li>
                                            
                                            <li>
                                                <div class="con2 concom"></div>
                                                Health <br>Offers
                                            </li>
                                            
                                            <li>
                                                <div class="con3 concom"></div>
                                                Featured Doctors
                                            </li>
                                            
                                            <li>
                                                <div class="con4 concom"></div>
                                                Offer From Providers
                                            </li>
                                        </ul>
                                        
                                    </div>
                                    
                                    <div class="confi_inter confi_inter_seting">
                                        <h3>Configure Health Feeds</h3>
                                        <p>Get Free Blog Updates in Dashboardl</p>
                                        
                                        <ul>
                                            <li>
                                                <div class="con5 concom"></div>
                                                Weight <br>Loss
                                            </li>
                                            
                                            <li>
                                                <div class="con6 concom"></div>
                                                Healthy <br>Skin 
                                            </li>
                                            
                                            <li>
                                                <div class="con7 concom"></div>
                                                Healthy <br>Hair
                                            </li>
                                            
                                            <li class="view_all_confr">
                                                View All
                                            </li>
                                        </ul>
                                        
                                    </div>
                                        
                                    
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input class="reset_psd_save" type="button" value="Save">
                                            <input class="reset_psd_cancel" type="button" value="Concel">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                
                                <ul class="save_next">
                                    <li><a class="next_inf" href="../dashboard/family_details.html">Next</a></li>
                                    
                                </ul>
                                
                        </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
             {% endblock %}
