{%  extends "healthseeker/dashboard/base_dashboard.html" %}
{% load static %}

{% block content %}

{% block profile %}
        {% endblock %}
      
      
        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="form_reg_one form_reg_one_m_p">
                            
                            
                            <div class="form_reg_one_in form_reg_one_in_my_p">
                                
                                <h3>My Profile</h3>
                        
                                <ul class="my_profile_div">
                                    <li><a href="../dashboard/personal_information.html"><img src="../img/dashboard/my_profile.png">Personal information</a></li>
                                    <li><a href="../dashboard/family_details.html"><img src="../img/dashboard/my_profile.png">Family Details</a></li>
                                    <li><a href="../dashboard/contact_details.html"><img src="../img/dashboard/my_profile.png">Contact Details</a></li>
                                    <li class="active"><a href="../dashboard/other_info.html"><img src="../img/dashboard/my_profile.png">Other Information</a></li>
                                </ul>
                                
                                <div class="my_pro_form_he lagunages">
                                
                                <div class="form_reg_one_DC">
                                        <h2>Other Information</h2>
                                        <p>Languages Known</p>
                                    </div>
                                    
                                    <ul>
                                        <li class="no_margin_left"><a href="#"><i class="fa fa-star"></i> Bengali</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> Gujarati</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> Hindi</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> Kannada</a></li>
                                        
                                        <li class="no_margin_left"><a href="#"><i class="fa fa-star"></i> Marathi</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> Odia</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> Tamil</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> Telugu</a></li>
                                        
                                        <li class="no_margin_left"><a href="#"><i class="fa fa-star"></i> English</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> Urdu</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> Nepali</a></li>
                                        <li><a href="#"><i class="fa fa-star"></i> Bengali</a></li>
                                        
                                        
                                        
                                        
                                    </ul>
                                    
                                    
                                    <div class="row">
                                        <div class="col-md-5">
                                        <select style="padding-left: 0 !important;
    border-bottom: 1px solid #d8d8d8 !important;
    border: 0;
    width: 100%;    background-color: transparent;    box-shadow: none;" name="cars" class="form-control">
                                            <option value="volvo">Profession</option>
                                            <option value="saab">Option one</option>
                                            <option value="fiat">Option Two</option>
                                            <option value="audi">Option Three</option>
                                        </select>
                                    </div>
                                    </div>
                                    
                                    
                                    
                                 
                            </div>
                                
                                
                                <ul class="save_next">
                                    <li><a class="next_inf" href="#">Next</a></li>
                                    <li><a class="save_inf" href="#">Save</a></li>
                                    
                                </ul>
                                
                        </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
      
            {% endblock %}
