{%  extends "healthseeker/base_dashboard.html" %}
{% load static %}
{% block content %}

        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="form_reg_one form_reg_one_m_p">
                            
                            
                            <div class="form_reg_one_in form_reg_one_in_my_p">
                                
                                <h3>My Profile</h3>
                        
                                {% include 'healthseeker/base_profile.html' %}

                                <div class="my_pro_form_he lagunages">
                                <div class="full_width curent_location lagunages">
                                    <div class="form_reg_one_DC">
                                <div class="form_reg_one_DC">
                                        <h2>Other Information</h2>
                                        <p>Languages Known</p>
                                    </div>
                                     <form method="POST" class="post-form">
                                            {% csrf_token %}

                                    {% for field in form %}
										   <div class="form-group">
											{{ field.label_tag }}<br>
											{{ field }}<br>
											{% for error in field.errors %}
											  <p style="color: red">{{ error }}</p>
											{% endfor %}
										  </div>
										{% endfor %}

 <button type="submit" class="btn btn-success pull-right savebtn" style="color: #fff;background-color: #5cb85c;
    border-color: #4cae4c;">Save & Next</button>

                        </form>

                                    
                                    

                            </div>
                                
                                
                                <ul class="save_next">

                                    
                                </ul>
                                
                        </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
      
            {% endblock %}
