{%  extends "healthseeker/base_dashboard.html" %}
{% load static %}

{% block content %}

      
        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form_reg_one form_reg_one_m_p">


                            <div class="form_reg_one_in form_reg_one_in_my_p">

                                <h3>My Profile</h3>

                                {% include 'healthseeker/base_profile.html' %}

                                <div class="nav navbar-nav navbar-right custom_nav nav_inner">


                                <h2>Please fill the Personal Information form!</h2>

                                  <form method="POST" class="registration_form">{% csrf_token %}
                                   <div class="row">
                            	        {% for field in form %}
                                                   <div class="form-group custom_md_3 col-md-6">
                                        <div class="icon-addon addon-md">

											{{ field }}
											{% for error in field.errors %}
											  <p style="color: red">{{ error }}</p>
											{% endfor %}
										  </div>
										  </div>
										{% endfor %}

                                    </div>
                                   </div>

                                <ul class="save_next">
                                    <li><button class="next_inf" type="submit">Save</button></li>
                                    <li><button class="next_inf" type="submit">Next</button></li>

                                </ul>
                                  </form>




                                    </div>
                        </form>







                            </div>



                        </div>

                        </div>


                    </div>
                </div>


            </div>
        </section>

              {% endblock %}
