{%  extends "healthseeker/base_dashboard.html" %}
{% load static %}

{% block content %}
      
      
      
        <section class="form_reg_one_hero dash_board">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form_reg_one form_reg_one_in_my_p  form_reg_one_m_p">
                      <h3>Refer & Earn</h3>
                            <div class="">
                                <!--<h2>Please fill the Registration form!</h2>
                                <p>Base on your profile & intrest we will provide free Health tips</p>
                                
                                -->
                                
                                
                                <div class="full_width refer_earn_ds">
                                   
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="full_width refere_and_earn">
                                                <img src="{% static 'healthseeker/img/refere.png' %}">
                                                <p>Refer to a friend </p>
                                                <h6>Earn Cashback 50</h6>
                                                <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#">Select</a>
                                                <div class="modal fade bs-example-modal-lg refere_earn_modal" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                                            <div class="modal-body add_familymnumber">
                                                                <div class="form_reg_one_in">
                                                                    <h2>Refer and Earn</h2>
                                                                    <p>Invite your friends and Earn exiting Benifits</p>
                                                                    <form method="POST" class="registration_form">{% csrf_token %}
                                                                        <div class="row">
                            	                                            {% for field in uform %}
                                                                         <div class="form-group custom_md_3 col-md-6">
                                                                            <div class="icon-addon addon-md">

											                                    {{ field }}
											                                {% for error in field.errors %}
											                                    <p style="color: red">{{ error }}</p>
											                                {% endfor %}
                                                                            </div>
										                                    </div>
										                                    {% endfor %}
                                                                            <div class="col-md-3" style="float:right">
                                                                        <ul class="save_next">
                                                                            <li><input type="submit" class="btn save_inf" value="Send"></li>
                                                                        </ul>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                    <h2>Invitation sent to Mobile !</h2>
                                                                </div>

                                                            </div>
                                                        </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="full_width refere_and_earn">
                                                <img src="{% static 'healthseeker/img/refere.png' %}">
                                                <p>Refer to 2 friends </p>
                                                <h6>Earn Cashback 50</h6>
                                                <a data-toggle="modal" data-target=".bs-example-modal-lg2" href="#">Select</a>
                                                <div class="modal fade bs-example-modal-lg2 refere_earn_modal" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                                            <div class="modal-body add_familymnumber">
                                                                <div class="form_reg_one_in">
                                                                    <h2>Refer and Earn</h2>
                                                                    <p>Invite your friends and Earn exiting Benifits</p>
                                                                   <form method="POST" class="registration_form">{% csrf_token %}
                                                                        <div class="row">
                            	                                            {% for field in uform %}
                                                                         <div class="form-group custom_md_3 col-md-6">
                                                                            <div class="icon-addon addon-md">

											                                    {{ field }}
											                                {% for error in field.errors %}
											                                    <p style="color: red">{{ error }}</p>
											                                {% endfor %}
                                                                            </div>
										                                    </div>
										                                    {% endfor %}
                                                                             {% for field in uform %}
                                                                         <div class="form-group custom_md_3 col-md-6">
                                                                            <div class="icon-addon addon-md">

											                                    {{ field }}
											                                {% for error in field.errors %}
											                                    <p style="color: red">{{ error }}</p>
											                                {% endfor %}
                                                                            </div>
										                                    </div>
										                                    {% endfor %}
                                                                            <div class="col-md-3" style="float:right">
                                                                        <ul class="save_next">
                                                                            <li><input type="submit" class="btn save_inf" value="Send"></li>
                                                                        </ul>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    </div>
                                                                     <h2>Invitation sent to Mobile !</h2>
                                                                </div>

                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="full_width refere_and_earn">
                                                <img src="{% static 'healthseeker/img/refere.png' %}">
                                                <p>Refer to 3 friends </p>
                                                <h6>Earn Cashback 50</h6>
                                                <a data-toggle="modal" data-target=".bs-example-modal-lg3" href="#">Select</a>
                                                <div class="modal fade bs-example-modal-lg3 refere_earn_modal" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                                            <div class="modal-body add_familymnumber">
                                                                <div class="form_reg_one_in">
                                                                    <h2>Refer and Earn</h2>
                                                                    <p>Invite your friends and Earn exiting Benifits</p>
                                                                    <form method="POST" class="registration_form">{% csrf_token %}
                                                                        <div class="row">
                            	                                            {% for field in uform %}
                                                                         <div class="form-group custom_md_3 col-md-6">
                                                                            <div class="icon-addon addon-md">

											                                    {{ field }}
											                                {% for error in field.errors %}
											                                    <p style="color: red">{{ error }}</p>
											                                {% endfor %}
                                                                            </div>
										                                    </div>
										                                    {% endfor %}
                                                                             {% for field in uform %}
                                                                         <div class="form-group custom_md_3 col-md-6">
                                                                            <div class="icon-addon addon-md">

											                                    {{ field }}
											                                {% for error in field.errors %}
											                                    <p style="color: red">{{ error }}</p>
											                                {% endfor %}
                                                                            </div>
										                                    </div>
										                                    {% endfor %}
                                                                            {% for field in uform %}
                                                                         <div class="form-group custom_md_3 col-md-6">
                                                                            <div class="icon-addon addon-md">

											                                    {{ field }}
											                                {% for error in field.errors %}
											                                    <p style="color: red">{{ error }}</p>
											                                {% endfor %}
                                                                            </div>
										                                    </div>
										                                    {% endfor %}
                                                                            <div class="col-md-3" style="float:right">
                                                                        <ul class="save_next">
                                                                            <li><input type="submit" class="btn save_inf" value="Send"></li>
                                                                        </ul>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    </div>
                                                                      <h2>Invitation sent to Mobile !</h2>
                                                                </div>

                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>




                              <ul class="save_next">
                                    <li><a class="next_inf" href="{% url 'healthseeker:dashboard' %}">Next</a></li>
                                </ul>
                                
                                
                              
                                
                            <!--    
                                <div class="full_width">
                                    <ul class="add_more_li">
                                        <li>Hindi</li>
                                        <li>English</li>
                                    </ul>
                                </div>-->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
        {% endblock  %}
