{% extends 'sponsor/dashboard/base.html.j2' %}
{% load static %}

{% block content %}
	<div class="container-fluid">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Manage Payments</h4>
			</div>
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
				<ol class="breadcrumb">
					<li><a href="index.html">Dashboard</a></li>
					<li><a href="#">Add New Payment</a></li>
				</ol>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading">
						Add New Payments
					</div>
					<div class="panel-wrapper collapse in" aria-expanded="true">
						<div class="panel-body">
							<div class="form-body">
								<ul class="nav nav-pills m-b-30 pull-right">
									<li class="active"> <a href="#discountcardstab" data-toggle="tab" aria-expanded="true">Discount Cards</a> </li>
									<li class=""> <a href="#healthcheckstab" data-toggle="tab" aria-expanded="false">Health Checks</a> </li>
								</ul>
								<h3 class="box-title">&nbsp;</h3>
								<hr class="m-t-0 m-b-40">
								<div class="tab-content br-n pn">
									<div id="discountcardstab" class="tab-pane active">
										<h3 class="box-title">Pay by selecting the Discount Card</h3>
										<div class="row">
											{% for discount in discounts %}
											<div class="col-md-6 col-lg-3 col-xs-12 col-sm-6">
												<!-- <img class="img-responsive" alt="user" src=""> -->
												<div class="white-box">
													<div class="text-muted">
														<!-- <span class="m-r-10"> Actual Amount Rs.599</span> -->
														<a class="text-muted m-l-10" href="#">Amount Rs. {{ discount.price }}</a>
													</div>
													<h3 class="m-t-20 m-b-20">{{ discount.name }}</h3>
													<p>
														<ul>
															{% for checkup in discount.health_checkups.all %}
															<li>{{ checkup.name }}</li>
															{% endfor %}
														</ul>
													</p>
													<button class="btn btn-success btn-rounded waves-effect waves-light m-t-20" data-toggle="modal" data-target="#viewdetailsmodaldiscount{{ discount.id }}">View Details</button>
													<a href="{% url 'sponsor:payments_add' type='discountcard'  package_id=discount.uid %}"><button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Select &amp; Pay</button></a>
												</div>
											</div>
											{% endfor %}
										</div>
										<div class="form-actions">
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-offset-10 col-md-2">
															<button type="submit" class="btn btn-info">Request custom Discount cards</button>
														</div>
													</div>
												</div>
												<div class="col-md-6"> </div>
											</div>
										</div>
									</div>
									<div id="healthcheckstab" class="tab-pane">
										<h3 class="box-title">Pay by selecting the Health Check Package</h3>
										<div class="row">
											{% for checkup in checkups %}
											<div class="col-md-6 col-lg-3 col-xs-12 col-sm-6">
												<!-- <img class="img-responsive" alt="user" src="plugins/images/big/img2.jpg"> -->
												<div class="white-box">
													<div class="text-muted">
														<!-- <span class="m-r-10"> Actual Amount Rs.599</span> -->
														<a class="text-muted m-l-10" href="#">Amount Rs. {{ checkup.price }}</a>
													</div>
													<h3 class="m-t-20 m-b-20">{{ checkup.name }}</h3>
													<p>
														<ul>
															{% for test in checkup.tests.all %}
															<li>{{ test.name }}</li>
															{% endfor %}
														</ul>
													</p>
													<button class="btn btn-success btn-rounded waves-effect waves-light m-t-20" data-toggle="modal" data-target="#viewdetailsmodalcheckup">View Details</button>
													<a href="{% url 'sponsor:payments_add' type='healthcheck' package_id=checkup.uid %}"><button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Select &amp; Pay</button></a>
												</div>
											</div>
											{% endfor %}
										</div>
										<div class="form-actions">
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-offset-10 col-md-2">
															<button type="submit" class="btn btn-info">Request custom Health Checks</button>
														</div>
													</div>
												</div>
												<div class="col-md-6"> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% for discount in discounts %}
		<div class="modal fade" id="viewdetailsmodaldiscount{{ discount.id }}" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">{{ discount.name }}</h4>
					</div>
					<div class="modal-body">
						<p>
							{{ discount.description|safe }}
						</p>
						<p>
							<ul>
								{% for checkup in discount.health_checkups.all %}
								<li>{{ checkup.name }}</li>
								{% endfor %}
							</ul>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% for checkup in checkups %}
		<div class="modal fade" id="viewdetailsmodalcheckup{{ discount.id }}" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">{{ checkup.name }}</h4>
					</div>
					<div class="modal-body">
						<p>
							{{ checkup.description|safe }}
						</p>
						<p>
							<ul>
								{% for test in checkup.tests.all %}
								<li>{{ test.name }}</li>
								{% endfor %}
							</ul>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
