<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="modal-body add_familymnumber">
                <div class="form_reg_one_in">
                    <h2>Add Family Number</h2>
                    <form class="registration_form">
                        <div class="row">
                            <div class="form-group custom_md_3 col-md-6">
                                <div class="icon-addon addon-md">
                                    <select name="relation" class="form-control">
                                        <option value="">Relation</option>
                                        <option value="father">Father</option>
                                        <option value="mother">Mother</option>
                                        <option value="brother">Brother</option>
                                        <option value="sister">Sister</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group custom_md_3 col-md-6">
                                <div class="icon-addon addon-md">
                                    <input type="text" name="s" placeholder="Name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group custom_md_3 col-md-6">
                                <div class="icon-addon addon-md">
                                    <input type="text" name="dj" placeholder="DOB" class="form-control">
                                </div>
                            </div>
                            <div class="form-group custom_md_3 col-md-6">
                                <div class="icon-addon addon-md">
                                    <select name="gender" class="form-control">
                                        <option value="">Gender</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group custom_md_3 col-md-6">
                                <div class="icon-addon addon-md">
                                    <input type="text" name="mobile" placeholder="Mobile Number" class="form-control" id="phone">
                                </div>
                            </div>
                            <div class="form-group custom_md_3 col-md-6">
                                <div class="icon-addon addon-md">
                                    <input type="submit" class="add_family_me" value="Save">
                                </div>
                            </div>
                            <!--<div class="full_width upload_new_img">-->
                                <!--<div class="profile_text no_padding_left">-->
                                    <!--<p>profile picture</p>-->
                                <!--</div>-->
                                <!--<div class="profile_img_main">-->
                                    <!--<div class="proifile_in">-->
                                        <!--<img class="profile-pic" src="../img/avatar2.png">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-3 p-image">-->
                                    <!--<i class="fa fa-camera upload-button"><span>Change Profile Photo</span></i>-->
                                    <!--<input class="file-upload" type="file" accept="image/*" />-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
