{% extends 'healthseeker/base.html' %} {% load static %} {% block styles %}
<style>
    .h40 {
        height: 32px !important;
    }

    .manual {
        display: none;
    }
</style>
{% endblock styles %} {% block scripts %}
<script src="//geodata.solutions/includes/statecity.js"></script>
<script>
    $(document).ready(function () {
        // control visual components
        $("div.location_sections").hide();
        $("div.current").fadeIn();

        $(".ltype").click(function () {
            let radioValue = $("input[name='location_type']:checked").val();
            $("div.location_sections").hide();
            $(radioValue).fadeIn();
        });

        $("button#nextBtn").on('click', function () {
            $("form#locForm").submit();
        });
    });
</script>
<script>
    // geolocation button linking
    $(document).ready(function () {
        $("button#geolocation_btn").on('click', function () {
            let geocoder = new google.maps.Geocoder;
            if (navigator.geolocation)
                navigator.geolocation.getCurrentPosition((location) => {
                    let lat = location.coords.latitude;
                    lng = location.coords.longitude;
                    geocoder.geocode({
                        'location': {
                            'lat': lat,
                            'lng': lng
                        }
                    }, (obj, status) => {
                        console.log(obj);
                        if (status == 'OK') placeToJSON(obj, (place) => {
                            console.log(place);
                            $("input#loc_json").val(JSON.stringify(place));
                            $("input#loc_full").val(place.formatted_address);
                        });
                    });
                }, showError = (error) => {
                    let mesg = "";
                    switch (error.code) {
                        case error.PERMISSION_DENIED:
                            mesg = "User denied the request for Geolocation."
                            break;
                        case error.POSITION_UNAVAILABLE:
                            mesg = "Location information is unavailable."
                            break;
                        case error.TIMEOUT:
                            mesg = "The request to get user location timed out."
                            break;
                        case error.UNKNOWN_ERROR:
                            mesg = "An unknown error occurred."
                            break;
                    }
                    console.log(mesg);
                    mesg += " Please update manually!";
                    alert(mesg);
                });
            else alert("Geolocation not supported! Please update manually!");
        });
    });
</script>
<script>
    // autocomplete field and location update
    $(document).ready(function () {
        let autocomplete = new google.maps.places.Autocomplete($("input#autocomplete_field")[0], {
            types: ['address'],
            componentRestrictions: {
                country: "in"
            }
        });
        autocomplete.addListener('place_changed', function () {
            let places = autocomplete.getPlace();
            placeToJSON(places, (place) => {
                console.log(place);
                $("input#loc_json").val(JSON.stringify(place));
                $("input#loc_full").val(place.formatted_address);
            });
        });
    });
</script>
<script>
    // manual address handling
    let prev_string = "";
    $(document).ready(function () {
        $("button#updateManual").on('click', function () {
            let state = $("select#stateId").val(),
                city = $("select#cityId").val(),
                remaining = $("input#manual_locality").val(),
                query_string = [remaining, city, state, "India"].join(", ");
            console.log(query_string);
            if (prev_string != query_string) {
                prev_string = query_string;
                let url = 'http://maps.googleapis.com/maps/api/place/textsearch/json/',
                    params = {
                        'key': "AIzaSyDMCBCYMwsj0JQowT1a4GMNtYJqVEPqxVc",
                        'query': query_string,
                        'region': "in"
                    },
                    path = url + $.param(params);
                $.getJSON(path, (data, status) => {
                    if (data.status == 'OK') placeToJSON(obj, (place) => {
                        console.log(place);
                        $("input#loc_json").val(JSON.stringify(place));
                        $("input#loc_full").val(place.formatted_address);
                    });

                });
            }
        });
    })
</script>
{% endblock scripts %} {% block content %}
<section class="form_reg_one_hero container">
    <div class="row full_width form_reg_one">
        <div class="header_form">
            <div class="form_reg_one_in">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
                </div>
            </div>
        </div>
        <a href="{% url 'healthseeker:step5' %}" class="skipt0page">
            <i class="fa fa-share"></i> &nbsp;Skip this page</a>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">Health Seeker</div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <div class="form-body">
                            <h3 class="box-title">Contact Details</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="white-box">
                                        <div class="form-group ">
                                            <label class="radio-inline">
                                                <input type="radio" name="location_type" class="ltype" value=".current" checked>Current Location
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="location_type" class="ltype" value=".manual">Update Manually
                                            </label>
                                        </div>
                                        <br>
                                        <div class="current location_sections">
                                            <ul class="nav nav-tabs">
                                                <li>
                                                    <a data-toggle="tab" href="#geolocation_tab">Current Location</a>
                                                </li>
                                                <li class="active">
                                                    <a data-toggle="tab" href="#autocomplete_tab">Enter Your Location</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="geolocation_tab" class="tab-pane fade">
                                                    <button class="btn btn-info" id="geolocation_btn">
                                                        <i class="fa fa-map-marker fa-lg"></i> Click to get location!
                                                    </button>
                                                </div>
                                                <div id="autocomplete_tab" class="tab-pane fade  in active">
                                                    <div class="form-horizontal" style="width: 550px">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Location:</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" id="autocomplete_field" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="manual location_sections">
                                            <input type="hidden" name="country" id="countryId" value="IN" />
                                            <label>Choose and fill in your address : </label>
                                            <br>
                                            <select name="state" class="states order-alpha" id="stateId">
                                                <option value="">Select State</option>
                                            </select>
                                            <select name="city" class="cities order-alpha" id="cityId">
                                                <option value="">Select City</option>
                                            </select>
                                            <input type="text" id="manual_locality" placeholder="Enter the address">
                                            <button type="button" id="updateManual" class="btn btn-success">Update!
                                                <i class="fa fa-chevron-up"></i>
                                            </button>
                                        </div>
                                        <!-- common information to collect AND submit -->
                                        <form method="POST" id="locForm">
                                            {% csrf_token %}
                                            <input type="hidden" name="location" id="loc_json" value="" required>
                                            <div class="form-group">
                                                <label for="loc_full">Full Location (will be updated automatically)</label>
                                                <br>
                                                <input type="text" readonly value="" class="text-danger" id="loc_full">
                                            </div>
                                            <div class="form-group">
                                                <label for="id_area">Area:</label>
                                                <br>
                                                <input type="text" name="extra" maxlength="200" class="form-control h40" placeholder="area" id="id_area" />
                                            </div>
                                            <div class="form-group">
                                                <label for="id_area">Flat No/Apartment:</label>
                                                <br>
                                                <input type="text" name="extra" maxlength="200" class="form-control h40" placeholder="flat no/Apartment" id="id_apart" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <ul class="save_next">
                                <li>
                                    <button class="save_inf" id="nextBtn">Next</button>
                                </li>
                                <li>
                                    <a class="next_inf" href="{% url 'healthseeker:step3' %}">Back</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if message is not None %}
        <div class="col-xs-10 col-xs-offset-1 well well-lg text-danger" id="success-mesg">
            {{ message }}
        </div>
        <script>
            setTimeout(() => $("div#success-mesg").fadeOut().remove(), 3000);
        </script>
        {% endif %}
    </div>
</section>
{% endblock %}