{% extends 'healthseeker/base.html' %}
{% load static %}
{% block content %}
      

        <section class="form_reg_one_hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full_width form_reg_one">
                            
                            <div class="header_form">
                                <div class="form_reg_one_in">
                                    <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div></div>
                                </div>
                               
                            </div>
                            
                            <a href="#" class="skipt0page"><i class="fa fa-share"></i> &nbsp;Skip to page</a>
                            <div class="form_reg_one_in">
                               
                                <div class="full_width">
                                    <div class="confi_inter">
                                        <h3>Configure Interests</h3>
                                        <p>We will notify you all</p>
                                        
                                        <ul>
                                            <li>
                                                <div class="conone concom"></div>
                                                Health Tips Notifications
                                            </li>
                                            
                                            <li>
                                                <div class="con2 concom"></div>
                                                Health <br>Offers
                                            </li>
                                            
                                            <li>
                                                <div class="con3 concom"></div>
                                                Featured Doctors
                                            </li>
                                            
                                            <li>
                                                <div class="con4 concom"></div>
                                                Offer From Providers
                                            </li>
                                        </ul>
                                        
                                    </div>
                                    
                                    <div class="confi_inter">
                                        <h3>Configure Health Feeds</h3>
                                        <p>Get Free Blog Updates in Dashboardl</p>
                                        
                                        <ul>
                                            <li>
                                                <div class="con5 concom"></div>
                                                Weight <br>Loss
                                            </li>
                                            
                                            <li>
                                                <div class="con6 concom"></div>
                                                Healthy <br>Skin 
                                            </li>
                                            
                                            <li>
                                                <div class="con7 concom"></div>
                                                Healthy <br>Hair
                                            </li>
                                            
                                            <li class="view_all_confr">
                                                View All
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                                
                                
                                
                                
                              
                                
                              
                                
                            <!--    
                                <div class="full_width">
                                    <ul class="add_more_li">
                                        <li>Hindi</li>
                                        <li>English</li>
                                    </ul>
                                </div>-->
                                
                                 <a class="search_vtm btn btn-4 btn-4c icon-arrow-right" href="form7.html">Save & Go</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  {% endblock %}