{% extends 'healthseeker/base.html' %}
{% load static %}

{% block content %}
<style>
.buy_now_DC{
    text-align: center;width: 48%;padding: 6px 10px;font-size: 11px;background: #ff9f00;
    color: #fff;
    text-transform: uppercase;
    float: left;
    border-radius: 4px;
    }
    .buy_now_btn{
    background: #47ba4a;
    margin-left: 7px;
    color: #fff;
        text-align: center;
    width: 48%;
    padding: 6px 10px;
    font-size: 11px;
    }
</style>

        <section class="form_reg_one_hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full_width form_reg_one">

                            <div class="header_form">
                                <div class="form_reg_one_in">
                                    <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:25%"></div></div>
                                </div>

                            </div>

                            <a href="{% url 'healthseeker:step4' %}" class="skipt0page"><i class="fa fa-share"></i> &nbsp;Skip this page</a>
                            <div class="form_reg_one_in form_reg_one_DC">
                                <h2>Discount Cards</h2>
                                <p>Choose best Discount Cards based on your family</p>


                                <div class="registration_form discou_ad_da">

                                    <section class="car_top_city" id="demos">
										<div class="div_slde_main">
											<div class="large-12 columns">
												<div class="owl-carousel owl-theme">

                                                    {% for card in cards %}
                                                    <form method="post">
                                                        {% csrf_token %}
													<div class="item">
														<img src="{% static 'healthseeker/img/dc_card.png' %}">
												        <div class="captoNcard">
                                                            <p>{{ card.name }}</p>
                                                            <small>Covers {{ card.coverage }} family Members</small>
                                                            <small>{{ card.applicable_family_members }} </small>
                                                            <a class="view_details_dc" target="_blank" href="{% url 'healthseeker:step2' %}">View Details</a>
                                                            <input type="hidden" name="discountcard_id" value="{{ card.pk }}">
                                                            <button type="submit"  class="buy_now_DC" >Wish List</button>
                                                            <button type="submit"  class="buy_now_btn" >Buy Now</button>
                                                        </div>
													</div>
                                                           </form>
                                                    {% endfor %}
												</div>
											</div>
										</div>
									</section>




                                </div>
                            </div>
                        </div>


                         <ul class="save_next">
                              <li><a class="save_inf" href="{% url 'healthseeker:step4' %}">Next</a></li>


                        </ul>

                    </div>
                </div>
            </div>
        </section>







{% endblock %}