
{% extends 'healthseeker/base.html' %}
{% load static %}
{% block content %}

        <section class="form_reg_one_hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full_width form_reg_one">
                            
                            <div class="header_form">
                                <div class="form_reg_one_in">
                                    <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div></div>
                                </div>
                               
                            </div>
                            
                            <a href="#" class="skipt0page"><i class="fa fa-share"></i> &nbsp;Skip to page</a>
                            <div class="form_reg_one_in">
                                <!--<h2>Please fill the Registration form!</h2>
                                <p>Base on your profile & intrest we will provide free Health tips</p>
                                
                                -->
                                
                                
                                <div class="full_width curent_location">
                                    <div class="form_reg_one_DC">
                                        <h2>Refer & Earn</h2>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="full_width refere_and_earn">
                                                <img src="../img/refere.png">
                                                <p>Refer to 2 friend </p>
                                                <h6>Earn Cashback 50</h6>
                                                <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#">Select</a>
                                                <div class="modal fade bs-example-modal-lg refere_earn_modal" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                                            <div class="modal-body add_familymnumber">
                                                                <div class="form_reg_one_in">
                                                                    <h2>Refer and Earn</h2>
                                                                    <p>Invite your friends and Earn exiting Benifits</p>
                                                                    <form class="registration_form">

                                                                        <div class="row">
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Name" class="form-control" id="email">
                                                                                </div>
                                                                            </div> 
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Phone Number" class="form-control" id="email">
                                                                                </div>
                                                                            </div>  
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Name" class="form-control" id="email">
                                                                                </div>
                                                                            </div> 
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Phone Number" class="form-control" id="email">
                                                                                </div>
                                                                            </div>  
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Name" class="form-control" id="email">
                                                                                </div>
                                                                            </div> 
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Phone Number" class="form-control" id="email">
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                    </form>
                                                                    <a class="search_vtm btn btn-4 btn-4c icon-arrow-right" href="#">Send Invitation</a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <div class="full_width refere_and_earn">
                                                <img src="../img/refere.png">
                                                <p>Refer to 2 friend </p>
                                                <h6>Earn Cashback 50</h6>
                                                <a data-toggle="modal" data-target=".bs-example-modal-lg2" href="#">Select</a>
                                                <div class="modal fade bs-example-modal-lg2 refere_earn_modal" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                                            <div class="modal-body add_familymnumber">
                                                                <div class="form_reg_one_in">
                                                                    <h2>Refer and Earn</h2>
                                                                    <p>Invite your friends and Earn exiting Benifits</p>
                                                                    <form class="registration_form">

                                                                        <div class="row">
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Name" class="form-control" id="email">
                                                                                </div>
                                                                            </div> 
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Phone Number" class="form-control" id="email">
                                                                                </div>
                                                                            </div>  
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Name" class="form-control" id="email">
                                                                                </div>
                                                                            </div> 
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Phone Number" class="form-control" id="email">
                                                                                </div>
                                                                            </div>  
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Name" class="form-control" id="email">
                                                                                </div>
                                                                            </div> 
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Phone Number" class="form-control" id="email">
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                    </form>
                                                                    <a class="search_vtm btn btn-4 btn-4c icon-arrow-right" href="#">Send Invitation</a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <div class="full_width refere_and_earn">
                                                <img src="../img/refere.png">
                                                <p>Refer to 2 friend </p>
                                                <h6>Earn Cashback 50</h6>
                                                <a data-toggle="modal" data-target=".bs-example-modal-lg3" href="#">Select</a>
                                                <div class="modal fade bs-example-modal-lg3 refere_earn_modal" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                                            <div class="modal-body add_familymnumber">
                                                                <div class="form_reg_one_in">
                                                                    <h2>Refer and Earn</h2>
                                                                    <p>Invite your friends and Earn exiting Benifits</p>
                                                                    <form class="registration_form">

                                                                        <div class="row">
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Name" class="form-control" id="email">
                                                                                </div>
                                                                            </div> 
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Phone Number" class="form-control" id="email">
                                                                                </div>
                                                                            </div>  
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Name" class="form-control" id="email">
                                                                                </div>
                                                                            </div> 
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Phone Number" class="form-control" id="email">
                                                                                </div>
                                                                            </div>  
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Name" class="form-control" id="email">
                                                                                </div>
                                                                            </div> 
                                                                            <div class="form-group custom_md_3 col-md-6">
                                                                                <div class="icon-addon addon-md">
                                                                                    <input type="text" placeholder="Phone Number" class="form-control" id="email">
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                    </form>
                                                                    <a class="search_vtm btn btn-4 btn-4c icon-arrow-right" href="#">Send Invitation &amp; Go</a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    
                                </div>
                                
                                
                                
                                
                              
                                
                              
                                
                            <!--    
                                <div class="full_width">
                                    <ul class="add_more_li">
                                        <li>Hindi</li>
                                        <li>English</li>
                                    </ul>
                                </div>-->
                                
                            </div>
                        </div>
                        
                        
                        <ul class="save_next">
                            <li><a class="save_inf" href="../registrations/form6.html">Next</a></li>
                            <li><a class="next_inf" href="../registrations/form4.html">Back</a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </section>
      
      {% endblock %}