{% extends 'healthseeker/base.html' %}
{% load static %}

{% block content %}
<style>
    .h40{
        height: 32px !important;
    }
    .manual {
        display: none;
    }
</style>
<section class="form_reg_one_hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full_width form_reg_one">

                            <div class="header_form">
                                <div class="form_reg_one_in">
                                    <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div></div>
                                </div>

                            </div>

                            <a href="{% url 'healthseeker:step5' %}" class="skipt0page"><i class="fa fa-share"></i> &nbsp;Skip this page</a>
                            <div class="form_reg_one_in">
                                <div class="full_width curent_location">

                                    <form method="POST" class="post-form cureent_loca_form">
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            <label class="radio-inline">
                                                <input type="radio" name="location_type" class="ltype" value="current" checked>Current Location
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="location_type" class="ltype" value="manual">Update Manually
                                            </label>
                                        </div>
                                        <br>
                                        <div class="current">

                                      <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#geo">Current Location</a></li>
                                        <li><a data-toggle="tab" href="#map">Choose From Map</a></li>
                                      </ul>
                                      <div class="tab-content">
                                        <div id="geo" class="tab-pane fade in active">
                                            <div class="getlocation" style="cursor: pointer;">
                                                <img src="https://git.reviewboard.kde.org/media/uploaded/files/2015/07/30/019abdbb-80cf-4935-8d6d-0c3e6927d2b3__gps_fixed_600.png" style="height:50px">
                                               Click to Get Current Location
                                            </div>
                                        </div>
                                        <div id="map" class="tab-pane fade">
                                          <div class="form-horizontal" style="width: 550px">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Location:</label>

                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="clickhealth_address" />
                                                    </div>
                                                </div>
                                                <div class="form-group" style="display:none">
                                                    <label class="col-sm-2 control-label">Radius:</label>

                                                    <div class="col-sm-5">
                                                        <input type="text" class="form-control" id="clickhealth_radius" />
                                                    </div>
                                                </div>
                                                    <div class="col-md-12">
                                                <div id="clickhealth_map" style="width: 550px; height: 400px;"></div>
                                                    </div>
                                                <div class="clearfix">&nbsp;</div>
                                                <div class="m-t-small" style="display:none">
                                                    <label class="p-r-small col-sm-1 control-label">Lat.:</label>

                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" style="width: 110px" name="longitude" id="clickhealth_lat" />
                                                    </div>
                                                    <label class="p-r-small col-sm-2 control-label">Long.:</label>

                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" style="width: 110px" name="latitude" id="clickhealth_lon" />
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <script>
                                                    $('#clickhealth_map').locationpicker({
                                                        location: {
                                                            latitude: 17.453418,
                                                            longitude: 78.39440300000001
                                                        },
                                                        radius: 100,
                                                        inputBinding: {
                                                            latitudeInput: $('#clickhealth_lat'),
                                                            longitudeInput: $('#clickhealth_lon'),
                                                            radiusInput: $('#clickhealth_radius'),
                                                            locationNameInput: $('#clickhealth_address')
                                                        },
                                                        enableAutocomplete: true,
                                                        onchanged: function (currentLocation, radius, isMarkerDropped) {
                                                            // Uncomment line below to show alert on each Location Changed event
                                                            //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
                                                        }
                                                    });
                                                </script>
                                            </div>

                                        </div>
                                      </div>


                                            </div>
                                        <div class="manual">

                                           <div class="form-group">
                                            <label for="id_state">State:</label><br>
                                            <select name="state" class="form-control h40" placeholder="state" id="id_state">
                                                <option value="" selected>---------</option>
                                                    {% for result in states %}
                                                <option value="{{ result.pk }}">{{ result.name }}</option>
                                                    {% endfor %}
                                            </select>
                                          </div>

                                        <div class="form-group">
                                            <label for="id_city">City:</label><br>
                                            <select name="city" class="form-control h40" placeholder="city" id="id_city">
                                            <option value="" selected>---------</option>

                                            {% for result in cities %}
                                            <option value="{{ result.pk }}">{{ result.name }}</option>
                                            {% endfor %}

                                            </select>
                                        </div>
										   <div class="form-group">
											<label for="id_area">Area:</label><br>
											<input type="text" name="area" maxlength="200" class="form-control h40" placeholder="area" id="id_area" />

										  </div>
                                        </div>
                                    <br>
                                    <div class="row">
                                        <!--
                                        <div class="col-md-12">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.131522315598!2d78.39221431443993!3d17.453417988039117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91638b1458e1%3A0x872cd53869cbcd42!2sMBR+Informatics+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1517829412276" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                                        </div>
-->


                                        <div class="col-md-12">
        <br>

                                            <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <div class="icon-addon addon-md">
											<input type="text" name="door_no" maxlength="200" class="form-control border_borrom" placeholder="Door no:" id="id_door_no" required/>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div class="icon-addon addon-md">
                                                        <input type="text" name="landmark" maxlength="200" class="form-control" placeholder="Enter Landmark" id="id_landmark" />

                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                     <div class="icon-addon addon-md">
                                                    <input type="text" name="pincode" maxlength="9" class="form-control" placeholder="Pincode" id="id_pincode" />

                                                  </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <ul class="loca_po_li">
                                                        <li>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="resident_type" value="home" checked><i class="fa fa-home"></i>Home
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="resident_type" value="office"><i class="fa fa-briefcase"></i>Office
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="resident_type" value="other"><i class="fa fa-map-marker"></i>Other
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                        </div>


                                    </div>
                                        <br>

                                          <button type="submit" class="btn btn-success pull-right savebtn" style="color: #fff;background-color: #5cb85c;
    border-color: #4cae4c;">Save & Next</button>
                        </form>
<div id="result"></div>
                                        </div>
                                    </div>

                                </div>




                            </div>
                        </div>





                        <ul class="save_next">

                            <li><a class="next_inf" href="{% url 'healthseeker:step3' %}">Back</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>
<script>
$(document).ready(function(){
    $(".ltype").click(function(){
             var radioValue = $("input[name='location_type']:checked").val();
            if(radioValue == 'current'){
                $(".manual").hide();
                $(".current").show();
            }else{
                $(".current").hide();
                $(".manual").show();
            }
    });
});
</script>



<script>
$(document).ready(function(){
    $(".getlocation").click(function () {
     alert("clicked");
        if ("geolocation" in navigator){
            navigator.geolocation.getCurrentPosition(function(position){
                    $("#clickhealth_lat").val(position.coords.latitude);
                    $("#clickhealth_lon").val(position.coords.longitude);
                });
        }else{
            console.log("Browser doesn't support geolocation!");
        }
    });
});
</script>
    {% endblock %}
