{% extends 'healthseeker/base.html' %}
{% load static %}
{% block content %}
 <section class="form_reg_one_hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full_width form_reg_one">

                            <div class="header_form">
                                <div class="form_reg_one_in">
                                    <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:30%"></div></div>
                                </div>

                            </div>

                            <a href="#" class="skipt0page"><i class="fa fa-share"></i> &nbsp;Skip to page</a>
                            <div class="form_reg_one_in">

                                <div class="full_width space">


                                <h2>Discount Cards</h2>
                                <div class="row">
                                    <div class="col-md-5 padding_right_0">
                                        <div class="full_width discountcard_he">
                                            <img src="../img/discountcard01.jpg">
                                        </div>
                                    </div>
                                    <div class="col-md-7 padding_left_0">
                                            <div class="full_width main_screen_3">
                                            <div class="col-md-6">
                                               <div class="ful_width health_seeker_detials health_detials_regi">
                                                    <h4>Healthy Family</h4>
                                                    <ul>
                                                        <li>Name</li>
                                                        <li>Rajesh P</li>
                                                    </ul>

                                                    <ul>
                                                        <li>Age</li>
                                                        <li>45 Years</li>
                                                    </ul>

                                                    <ul>
                                                        <li>Covers</li>
                                                        <li>4 Numbers</li>
                                                    </ul>
                                                    <ul>
                                                        <li>Sex</li>
                                                        <li>male</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="content_confirm_in content_confirm_in_r content_regi_5">
                                                <div class="final_amount_d">
                                                    <span>Final Amount</span>
                                                    <span class="fnal_amoun_act">Rs 499</span>
                                                </div>

                                                <div class="final_amount_d">
                                                    <span>Actual Amount</span>
                                                    <span class="actutal_amount"><del>Rs 599</del></span>
                                                </div>

                                                <div class="final_amount_d">
                                                    <span>Save Price</span>
                                                    <span class="actutal_amount">999</span>
                                                </div>


                                            </div>

                                                </div>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <a href="#" class="add_family_me" data-toggle="modal" data-target=".bs-example-modal-lg">
                                  <i class="fa fa-plus"></i> Add Family Number
                                </a>
                                    {% include 'healthseeker/registration/familymember.html' %}

                                <!--<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" >-->
                                  <!--<div class="modal-dialog" role="document">-->
                                    <!--<div class="modal-content">-->

                                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>-->

                                        <!--<div class="modal-body add_familymnumber">-->
                                            <!--<div class="form_reg_one_in">-->
                                <!--<h2>Add Family Number</h2>-->


                                <!--<form class="registration_form">-->

                                <!--<div class="row">-->



                                    <!--<div class="form-group custom_md_3 col-md-6">-->
                                        <!--<div class="icon-addon addon-md">-->
                                            <!--<select name="cars" class="form-control">-->
                                                <!--<option value="volvo">Relation</option>-->
                                                <!--<option value="saab">Option one</option>-->
                                                <!--<option value="fiat">Option Tw0</option>-->
                                                <!--<option value="audi">Option Three</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group custom_md_3 col-md-6">-->
                                        <!--<div class="icon-addon addon-md">-->
                                            <!--<input type="text" placeholder="Name" class="form-control" id="email">-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <!--<div class="form-group custom_md_3 col-md-6">-->
                                        <!--<div class="icon-addon addon-md">-->
                                            <!--<input type="text" placeholder="DOB" class="form-control" id="phone">-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group custom_md_3 col-md-6">-->
                                        <!--<div class="icon-addon addon-md">-->
                                            <!--<select name="cars" class="form-control">-->
                                                <!--<option value="volvo">Gender</option>-->
                                                <!--<option value="saab">Male</option>-->
                                                <!--<option value="fiat">Female</option>-->
                                                <!--<option value="audi">Other</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group custom_md_3 col-md-6">-->
                                        <!--<div class="icon-addon addon-md">-->
                                            <!--<input type="text" placeholder="Mobile Number" class="form-control" id="phone">-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="full_width upload_new_img">-->

                                      <!--<div class="profile_text no_padding_left">-->
                                        <!--<p>profile picture</p>-->
                                      <!--</div>-->

                                      <!--<div class="profile_img_main">-->
                                        <!--<div class="proifile_in">-->
                                            <!--<img class="profile-pic" src="../img/avatar2.png">-->

                                        <!--</div>-->
                                      <!--</div>-->

                                     <!--<div class="col-md-3 p-image">-->
                                        <!--<i class="fa fa-camera upload-button"><span>Change Profile Photo</span></i>-->
                                        <!--<input class="file-upload" type="file" accept="image/*"/>-->
                                     <!--</div>-->

                                    <!--</div>-->

                                <!--</div>-->



                        <!--</form>-->

                            </div>
                      </div>

                    </div>
                                  </div>
                                </div>

                                <div class="full_width">
                                <table class="table table-striped famil_membe_table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Relation</th>
                                            <th>Gender</th>
                                            <th>DOB</th>
                                            <th>Mobile No</th>
                                            <th>Photo</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>Laxman P</td>
                                            <td>Wife</td>
                                            <td>Male</td>
                                            <td>05/08/1993</td>
                                            <td>9701086993</td>
                                            <td>
                                                <div class="image_avatar_ad">
                                                    <img src="../img/avatar2.png">
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Laxman P</td>
                                            <td>Son</td>
                                            <td>Male</td>
                                            <td>05/08/1993</td>
                                            <td>9701086993</td>
                                            <td>
                                                <div class="image_avatar_ad">
                                                    <img src="../img/test1.jpg">
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Laxman P</td>
                                            <td>Daughter</td>
                                            <td>Male</td>
                                            <td>05/08/1993</td>
                                            <td>9701086993</td>
                                            <td>
                                                <div class="image_avatar_ad">
                                                    <img src="../img/avatar_ma.png">
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Laxman P</td>
                                            <td>Father</td>
                                            <td>Male</td>
                                            <td>05/08/1993</td>
                                            <td>9701086993</td>
                                            <td>
                                                <div class="image_avatar_ad">
                                                    <img src="../img/test2.jpg">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                    <ul class="applY_coupon">
                                    <li>Apply Coupon</li>
                                    <li><input type="text"></li>
                                    <li><a href="#" class="save_details_cop">Save Details</a></li>
                                    <li><a href="#">Book Order</a></li>
                                </ul>
                            </div>




                            </div>




                        </div>

                        <ul class="save_next">
                              <li><a class="save_inf" href="../registrations/form4.html">Next</a></li>
                            <li><a class="next_inf" href="../registrations/form2.html">Back</a></li>


                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}



