{% extends 'healthseeker/base.html' %}
{% load static %}
{% block content %}

        <section class="form_reg_one_hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full_width form_reg_one">
                            
                            <div class="header_form">
                                <div class="form_reg_one_in">
                                    <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div></div>
                                </div>
                               
                            </div>
                            
                            <a href="#" class="skipt0page"><i class="fa fa-share"></i> &nbsp;Skip to page</a>
                            <div class="form_reg_one_in">
                                <!--<h2>Please fill the Registration form!</h2>
                                <p>Base on your profile & intrest we will provide free Health tips</p>
                                
                                -->
                                
                                
                                <div class="full_width curent_location lagunages">
                                    <div class="form_reg_one_DC">
                                        <h2>Other Information</h2>
                                        <p>Languages Known</p>
                                    </div>

                                        <label class="checkbox-inline"><input type="checkbox" value="bengali">Bengali</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="checkbox-inline"><input type="checkbox" value="gujarati">Gujarati</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="checkbox-inline"><input type="checkbox" value="hindi">Hindi</label><br><br>
                                        <label class="checkbox-inline"><input type="checkbox" value="kannada">Kannada</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="checkbox-inline"><input type="checkbox" value="marathi">Marathi</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="checkbox-inline"><input type="checkbox" value="odia">Odia</label><br><br>
                                        <label class="checkbox-inline"><input type="checkbox" value="tamil">Tamil</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="checkbox-inline"><input type="checkbox" value="telugu">Telugu</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="checkbox-inline"><input type="checkbox" value="english">English</label><br><br>
                                        <label class="checkbox-inline"><input type="checkbox" value="urdu">Urdu</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="checkbox-inline"><input type="checkbox" value="nepali">Nepali</label>




                                    <br><br>

                                    
                                    <div class="row">
                                        <div class="col-md-5">
                                        <select style="padding-left: 0 !important;border-bottom: 1px solid #d8d8d8 !important;border: 0; width: 100%;    background-color: transparent;" name="cars" class="form-control">
                                            <option value="volvo">Profession</option>
                                            <option value="saab">Option one</option>
                                            <option value="fiat">Option Two</option>
                                            <option value="audi">Option Three</option>
                                        </select>
                                    </div>
                                    </div>
                                       

                                    
                                    
                                    
                                </div>
                                
          
                            </div>
                        </div>
                        
                        
                         <ul class="save_next">
                            <li><a class="save_inf" href="#">Save</a></li>
                            <li><a class="next_inf" href="../registrations/form3.html">Back</a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </section>
      
 {% endblock %}