{% extends 'healthseeker/base.html' %}
{% load static %}
{% block content %}

        <section class="form_reg_one_hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full_width form_reg_one">
                            
                            <div class="header_form">
                                <div class="form_reg_one_in">
                                    <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div></div>
                                </div>
                               
                            </div>
                            
                            <a href="{% url 'healthseeker:dashboard' %}" class="skipt0page"><i class="fa fa-share"></i> &nbsp;Skip this page</a>
                            <div class="form_reg_one_in">
                                <!--<h2>Please fill the Registration form!</h2>
                                <p>Base on your profile & intrest we will provide free Health tips</p>
                                
                                -->
                                
                                
                                <div class="full_width curent_location lagunages">
                                    <div class="form_reg_one_DC">
                                        <h2>Other Information</h2>
                                        <p>Languages Known</p>
                                    </div>
                                    <h4><b>Select Your Language</b></h4>

                                        <form method="POST" class="post-form">
                                            {% csrf_token %}

                                    {% for field in form %}
										   <div class="form-group">
											{{ field.label_tag }}<br>
											{{ field }}
											{% for error in field.errors %}
											  <p style="color: red">{{ error }}</p>
											{% endfor %}
										  </div>
										{% endfor %}


                                              <button type="submit" class="btn btn-success pull-right">Save</button>
                        </form>

                                    <br><br>


                                    
                                </div>
                                
          
                            </div>
                        </div>



                        <ul class="save_next">
                            <li><a class="save_inf" href="{% url 'healthseeker:dashboard' %}">Next</a></li>
                            <li><a class="next_inf" href="{% url 'healthseeker:step6' %}">Back</a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </section>
      
 {% endblock %}