<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>P Health</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/fontopen.css" rel="stylesheet">
		<link href="css/font.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
      <!--  
        <style>
            body {
                background-color: #f6f6f6;
            }
        </style>-->
	</head>
	<body>
        
		<nav class="navbar navbar-default navbar-static inner_nav_menu blog_main_nav">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="img/logo1.png"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<!-- <ul class="nav navbar-nav">
						<li><a href="#"><span class="call_span"><i class="fa fa-phone" aria-hidden="true"></i></span>Call Us : 040-12345678</a></li>
						</ul>-->
					<ul class="nav navbar-nav navbar-right custom_nav nav_inner">
						<li class="call_li_menu" style="margin-right: 20px;"><a href="#"><span class="call_span"><i class="fa fa-phone" aria-hidden="true"></i></span>Call Us : 040-12345678</a></li>
						<li><a href="for_corporates.html">For Corporates</a></li>
						<li><a href="for_health_providers.html">For Health Providers</a></li>
						<li><a href="#">Contact</a></li>
                        
                        <li>
                            <ul class="use_menu nav navbar-nav">
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user-o"></span></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                                  </ul>
                                </li>
                              </ul>
                        </li>
						
					</ul>
                    
                    
				</div>
			</div>
		</nav>
        
     
        <section class="nav_blog">
            <div class="container">
				<div class="row">
					<div class="col-md-12">
                        <ul class="blog_nav_in">
                            <li class="purple"><a href="#"><span class="fa fa-circle"></span>Healthy Hair</a></li>
                            <li class="orange"><a href="#"><span class="fa fa-circle"></span>Healthy Eating</a></li>
                            <li class="blue"><a href="#"><span class="fa fa-circle"></span>Healthy Skin</a></li>
                            <li class="green"><a href="#"><span class="fa fa-circle"></span>Weight Loss</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        
        <main id="main" class="site-main page_spacing">
	
	
	<div class="container">
	
		<div class="row">
		
			<div class="content-area content-left col-xl-8 col-lg-8 col-md-6 blog-listing blog-single">
<article id="post-478" class="post-478 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion tag-architecture">
					<div class="entry-cover">
					<img width="770" height="513" src="img/blog/blog1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="img/blog/indiv.jpg" sizes="(max-width: 770px) 100vw, 770px">				</div>
					<div class="entry-content">
					<div class="entry-header">
									
					<h3 class="entry-title">Relationships 101: How to get the best
out of a Relationship?</h3>					<div class="post-meta">
						<span class="byline">by							<a href="http://atixscripts.info/demo/minimag/author/ati_minimag/" title="Minimag">Minimag</a>
						</span>
						<span class="post-date">August 23, 2017</span>
						<span class="post-view">92 Views</span>					</div>
								</div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</p>
<blockquote><p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.”<strong>Oscar Wilde</strong></p></blockquote>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</p>
<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

</p>
<h4>More into summer fashion</h4>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

</p>

			<div class="entry-footer">
									<div class="tags">
						
										</div>
										<ul class="social-share">
						                  <li><a class="share-facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>						
                                            <li><a class="share-twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>						
                                            <li><a class="share-pinterest" target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>	
                                            <li><a class="share-google" target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>		
                                            <li><a class="share-linkedin" target="_blank" href="#e"><i class="fa fa-linkedin"></i></a></li>						
                                            <li><a class="share-digg" target="_blank" href="#"><i class="fa fa-digg"></i></a>
                                            </li>					
                                            <li><a class="share-reddit" target="_blank" href="#"><i class="fa fa-reddit"></i></a>
                                            </li>			
                </ul>
								</div>
				</div>
</article>
	<!-- About Author -->
	<!-- About Author /- -->
		<!-- Related Post -->
	
	
<!-- .comments-area -->
		</div><!-- content-area + page_layout_css -->

				<div class="widget-area col-lg-4 col-md-6 col-12 sidebar-right sidebar-1 ">
		<aside id="widget_advertise-4" class="widget widget_advertise">		<div class="advertise-content">
			<img src="img/blog/add.jpg" alt="">				<!--<div class="advertise-inner">
					<h3>Advertiser</h3>					<p>New Furniture</p>				</div>-->
						</div>
		</aside>	</div><!-- End Sidebar -->
	
		</div><!-- .container /- -->
		
	</div><!-- .row /- -->

</main>
        
     
        
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="full-widrth">
							<h4>About us</h4>
							<p>Lorem Ipsum is simply dummy text of the printing<br> and typesetting industry. Lorem Ipsum has<br> been the industry's standard dummy text</p>
							<img src="img/logo.png">
						</div>
					</div>
					<div class="col-md-2">
						<div class="full-widrth">
							<h4>Quick Links</h4>
							<ul>
								<li><a href="#">How it works</a></li>
								<li><a href="#">Our Team</a></li>
								<li><a href="#">Vision</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="full-widrth">
							<h4>Contact Us</h4>
							<p>#658, 3rd Floor, Ayyappa Socitey, Madhapur, Hyderabad, 500081, Telangana </p>
							<p>+91 8686768612,</p>
							<p>contact@mbrinformatics.com</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="full-widrth">
							<h4>Subscribe Us</h4>
							<div class="row">
								<div class="col-md-12">
									<form action="#">
										<div class="input-group">
											<input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email Address" required>
											<button class="btn btn-lg" type="submit"><i class="fa fa-envelope" aria-hidden="true"></i></button>
										</div>
									</form>
									<!--<small class="promise"><em>We won't send spam.</em></small>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="footer_bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<ul>
							<li><a href="#">Teram of Conditions</a></li>
							<li><a href="#">How it Works</a></li>
							<li><a href="#">Cancellation & Refund</a></li>
							<li><a href="#">Disclaime</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<p>Copyright © 2017  MBR Informatics, All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        
	
	</body>
</html>