{% extends 'sponsor/dashboard/base.html.j2' %} {% load static %} {% load bootstrap %} {% block content %}
<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Dashboard 1</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li>
					<a href="{% url 'sponsor:dashboard_home' %}">Dashboard</a>
				</li>
				<li class="active">
					<a href="{% url 'sponsor:basic' %}">Basic Details</a>
				</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">
				<div class="panel-heading">My Account</div>
				<div class="panel-wrapper collapse in" aria-expanded="true">
					<div class="panel-body">
						<form class="form-horizontal" method="POST" action="{% url 'sponsor:basic' %}" enctype="multipart/form-data">
							<div class="form-body">
								<h3 class="box-title">Basic Details</h3>
								<div class="row">
									<div class="col-xs-10 col-xs-offset-1">
										{% csrf_token %} {{ poc_form | bootstrap }} {{ org_form | bootstrap }}
									</div>
								</div>
								<div class="row form-actions">
									<div class="col-md-offset-10 col-md-2">
										<button type="submit" class="btn btn-success">Save & Go</button>
										<button type="button" class="btn btn-default">Cancel</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer text-center"> 2018 &copy; Phealth </footer>
</div>
{% endblock %}