<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">

      <h3>Set Password</h3>
      <p>Setup your password  </p>
      <form action="">

        
 
        <div class="form-group">
          <label for="enc_password">Enter New password</label>
          <input type="text" class="form-control" id="enc_password" placeholder="Enter enc_password" name="enc_password">
        </div>
        
        <div class="form-group">
          <label for="re_enc_password">Re-Enter Password</label>
          <input type="text" class="form-control" id="re_enc_password" placeholder="Enter re_enc_password" name="re_enc_password">
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>

      </form>

    </div>

  </body>
</html>