<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">

      <h3>Facilities/Services Available:</h3>


      <form action="">
      <p></p>
        <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" value="Out Patient" name="facilities_id[]"  data-toggle="collapse" data-target="#outpatient">Out Patient</label>  
                </div>
                <div id="outpatient" class="collapse">
                     <label class="checkbox-inline">
                        <input type="checkbox" value="Pharmacy 24 Hours" name="facilities_services_id[]">Pharmacy 24 Hours
                    </label>
                    
                    <label class="checkbox-inline">
                        <input type="checkbox" value="Ambulance" name="facilities_services_id[]">Ambulance
                    </label>

                    <label class="checkbox-inline">
                        <input type="checkbox" value="Day Time" name="facilities_services_id[]">Day Time
                    </label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" value="In Patient" name="facilities_id[]"  data-toggle="collapse" data-target="#inpatient">In Patient</label>  
                </div>
                <div id="inpatient" class="collapse">
                     <label class="checkbox-inline">
                        <input type="checkbox" value="Casuality / Emergency" name="facilities_services_id[]">Casuality / Emergency
                    </label>
                    
                    <label class="checkbox-inline">
                        <input type="checkbox" value="Pediatric Care" name="facilities_services_id[]">Pediatric Care
                    </label>

                    <label class="checkbox-inline">
                        <input type="checkbox" value="Intensive Care Units" name="facilities_services_id[]">Intensive Care Units
                    </label>


                    <label class="checkbox-inline">
                        <input type="checkbox" value="Isolation Rooms" name="facilities_services_id[]">Isolation Rooms
                    </label>
                </div>



                <div class="checkbox">
                    <label><input type="checkbox" value="Insurance / Corporate Recognations" name="facilities_id[]"  data-toggle="collapse" data-target="#insurance">Insurance / Corporate Recognations</label>  
                </div>

                <div id="insurance" class="collapse">
                     <label class="checkbox-inline">
                        <input type="checkbox" value="Family Health Plan Limited" name="facilities_services_id[]">Family Health Plan Limited
                    </label>
                    
                    <label class="checkbox-inline">
                        <input type="checkbox" value="Good Health Plan Limited" name="facilities_services_id[]">Good Health Plan Limited
                    </label>

                    <label class="checkbox-inline">
                        <input type="checkbox" value="Medi Assist" name="facilities_services_id[]">Medi Assist
                    </label>

                    
                    <label class="checkbox-inline">
                        <input type="checkbox" value="Medicare" name="facilities_services_id[]">Medicare
                    </label>
                </div>


                <div class="checkbox">
                    <label><input type="checkbox" value="Insurance / Corporate Recognations" name="test_id[]"  data-toggle="collapse" data-target="#test">Diagnostics/ Tests</label>  
                </div>

                <div id="test" class="collapse">

                    <div class="checkbox">
                        <label><input type="checkbox" value="Insurance / Corporate Recognations" name="test_category_id[]"  data-toggle="collapse" data-target="#category">Radiology</label>  
                    </div>
                      <div id="category" class="collapse">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="X-ray" name="test_subcategory_id[]">X-ray
                            </label>

                              <label class="checkbox-inline">
                                <input type="checkbox" value="MRI Scan" name="test_subcategory_id[]">MRI Scan
                            </label>
                      </div>


                    <div class="checkbox">
                        <label><input type="checkbox" value="Pathology" name="test_category_id[]"  data-toggle="collapse" data-target="#Pathology">Pathology</label>  
                    </div>
                      <div id="Pathology" class="collapse">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="Pathology" name="test_subcategory_id[]">Pathology
                            </label>

                              <label class="checkbox-inline">
                                <input type="checkbox" value="Microbiology" name="test_subcategory_id[]">Microbiology
                            </label>
                      </div>



                   
                    
                    
                </div>
        </div>

        
       
        <button type="submit" class="btn btn-default">Submit</button>

      </form>

    </div>

  </body>
</html>