{% extends 'common/dashboard_base.html.j2' %}
{% load static %}
{% block mainhead %}
<link href="{% static 'salesagent/css/style.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'salesagent/js/main.js' %}"></script>
{% block head %}{% endblock %}
{% endblock %}
{% block section %}Sales Agent{% endblock section %}
{% block baseurl %}{% url 'salesagent:dashboard_home' %}{% endblock baseurl %}
{% block navs %}
<li><a href="{% url 'salesagent:dashboard_home' %}">Basic Information</a></li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Business<span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="{% url 'salesagent:reseller' %}">Resellers</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="{% url 'salesagent:discounts' %}">Discount Cards</a></li>
	</ul>
</li>
{% endblock navs %}
