{% extends 'blog/base.html.j2' %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	{{ title }}
	<section class="featured_blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="full_width featured_blog_in featured_blog_in_ceto featured_blog_category">
						<div style="background: #b713b0eb !important;" class="caption">
							<h3> {{ category_name }}  </h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="blog_one">
		<div class="container">
			<div class="row">
				{% for post in posts %}
					<div class="blog_con_ul">
						<div class="col-md-4 ind_categ">
							<img src= "{{ post.image }}">
							{{post.image}}
							<div class="caption_small">
								<h3>{{ post.date_added }}</h3>
								<p>{{ post.title }}</p>
								<span>{{ post.content | truncatechars:25}}</span>
								<ul class="share_coment">
									<li><a href="#"><i class="fa fa-heart"></i>26 LIKES</a></li>
									<li><a href="#"><i class="fa fa-share"></i>5 Share</a></li>
									<li><a href="#"><i class="fa fa-comment"></i>3 Comments</a></li>
								</ul>
								<a href="#">Read More</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
</div>
{% endblock %}
