{% extends 'blog/base.html.j2' %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	{{ title }}
</div>
<section class="featured_blog">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="full_width featured_blog_in">
					<div class="caption">
						<h3>Relationships 101: How to get the best<br> out of a Relationship?</h3>
						<a href="blog_single.html">Read More &nbsp;<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 padding_left_0">
				<div class="full_width add_blog">

				</div>
			</div>
		</div>
	</div>
</section>
<section class="blog_one">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="full_width blog_one_one">
					<h5><span class="fa fa-circle"></span> Healthy Hair </h5>
					<a href="#">View All</a>
				</div>
			</div>

			<div class="col-md-12">
				<ul class="blog_con_ul">
					<li class="col-md-6 no_padding_all blog_list_big blog_list_big0ne">
						<img src="img/blog/blog2.jpg">
						<div class="caption">
							<h5>Jan 29th 2018</h5>
							<p>PRP Therapy: Promising Non-Surgical Treatment for Hair Loss</p>

							<ul class="share_coment">
								<li><a href="#"><span class="fa fa-heart"></span>26 LIKES</a></li>
								<li><a href="#"><span class="fa fa-share"></span>5 Share</a></li>
								<li><a href="#"><span class="fa fa-comment"></span>3 Comments</a></li>
							</ul>
						</div>
					</li>
					<li class="col-md-3 no_padding_all blog_list_small">
						<img src="img/blog/blog3.jpg">
						<div class="caption_small">
							<h3>JAN 29th 2018</h3>
							<p>Relationships 101: How to get the best out of a Relationship?</p>
							<span>Here are 20 of the most important tips for your Do not use an anti-dandruff shampoo for </span>
							<ul class="share_coment">
								<li><a href="#"><i class="fa fa-heart"></i>26 LIKES</a></li>
								<li><a href="#"><i class="fa fa-share"></i>5 Share</a></li>
								<li><a href="#"><i class="fa fa-comment"></i>3 Comments</a></li>
							</ul>

							<a href="#">Read More</a>
						</div>
					</li>
					<li class="col-md-3 no_padding_all blog_list_small">
						<img src="img/blog/blog3.jpg">
						<div class="caption_small">
							<h3>JAN 29th 2018</h3>
							<p>Relationships 101: How to get the best out of a Relationship?</p>
							<span>Here are 20 of the most important tips for your Do not use an anti-dandruff shampoo for </span>
							<ul class="share_coment">
								<li><a href="#"><i class="fa fa-heart"></i>26 LIKES</a></li>
								<li><a href="#"><i class="fa fa-share"></i>5 Share</a></li>
								<li><a href="#"><i class="fa fa-comment"></i>3 Comments</a></li>
							</ul>
							<a href="#">Read More</a>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</section>

<section class="blog_one blog_two">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="full_width blog_one_one blog_one_two_head">
					<h5><span class="fa fa-circle"></span> Healthy Eating </h5>
					<a href="#">View All</a>
				</div>
			</div>

			<div class="col-md-12">
				<ul class="blog_con_ul">
					<li class="col-md-3 no_padding_all blog_list_small margin_0">
						<img src="img/blog/blog4.jpg">
						<div class="caption_small">
							<h3>JAN 29th 2018</h3>
							<p>Cucumber for Sexual Health</p>
							<span>Cucumber has shown to be great for sexual stamina. I was reading an article about erectile dysfunction an</span>
							<ul class="share_coment">
								<li><a href="#"><i class="fa fa-heart"></i>26 LIKES</a></li>
								<li><a href="#"><i class="fa fa-share"></i>5 Share</a></li>
								<li><a href="#"><i class="fa fa-comment"></i>3 Comments</a></li>
							</ul>

							<a href="#">Read More</a>
						</div>
					</li>
					<li class="col-md-3 no_padding_all blog_list_small">
						<img src="img/blog/blog5.jpg">
						<div class="caption_small">
							<h3>JAN 29th 2018</h3>
							<p>Welcome Summers in a Healthy Way!</p>
							<span>Here are 20 of the most important tips for your Do not use an anti-dandruff shampoo for </span>
							<ul class="share_coment">
								<li><a href="#"><i class="fa fa-heart"></i>26 LIKES</a></li>
								<li><a href="#"><i class="fa fa-share"></i>5 Share</a></li>
								<li><a href="#"><i class="fa fa-comment"></i>3 Comments</a></li>
							</ul>
							<a href="#">Read More</a>
						</div>
					</li>
					<li class="col-md-6 no_padding_all blog_list_big">
						<img src="img/blog/blog7.jpg">
						<div class="caption caption_tow">
							<h5>Jan 29th 2018</h5>
							<p>Diet Tips Every "Bride-to-Be" <br>Needs to Follow</p>

							<ul class="share_coment">
								<li><a href="#"><span class="fa fa-heart"></span>26 LIKES</a></li>
								<li><a href="#"><span class="fa fa-share"></span>5 Share</a></li>
								<li><a href="#"><span class="fa fa-comment"></span>3 Comments</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</section>

<section class="blog_one blog_three">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="full_width blog_one_two">
					<h5><span class="fa fa-circle"></span> Healthy Hair </h5>
					<a href="#">View All</a>
				</div>
			</div>

			<div class="col-md-12">
				<ul class="blog_con_ul">
					<li class="col-md-6 no_padding_all blog_list_big blog_list_big0ne blog_list_bigtwo">
						<img src="img/blog/blog8.jpg">
						<div class="caption">
							<h5>Jan 29th 2018</h5>
							<p>PRP Therapy: Promising Non-Surgical Treatment for Hair Loss</p>

							<ul class="share_coment">
								<li><a href="#"><span class="fa fa-heart"></span>26 LIKES</a></li>
								<li><a href="#"><span class="fa fa-share"></span>5 Share</a></li>
								<li><a href="#"><span class="fa fa-comment"></span>3 Comments</a></li>
							</ul>
						</div>
					</li>
					<li class="col-md-3 no_padding_all blog_list_small">
						<img src="img/blog/blog9.jpg">
						<div class="caption_small">
							<h3>JAN 29th 2018</h3>
							<p>Relationships 101: How to get the best out of a Relationship?</p>
							<span>Here are 20 of the most important tips for your Do not use an anti-dandruff shampoo for </span>
							<ul class="share_coment">
								<li><a href="#"><i class="fa fa-heart"></i>26 LIKES</a></li>
								<li><a href="#"><i class="fa fa-share"></i>5 Share</a></li>
								<li><a href="#"><i class="fa fa-comment"></i>3 Comments</a></li>
							</ul>

							<a href="#">Read More</a>
						</div>
					</li>
					<li class="col-md-3 no_padding_all blog_list_small">
						<img src="img/blog/blog10.jpg">
						<div class="caption_small">
							<h3>JAN 29th 2018</h3>
							<p>Should I Get Medically-Aided Baldness Treatment?</p>
							<span>Here are 20 of the most important tips for your Do not use an anti-dandruff shampoo for </span>
							<ul class="share_coment">
								<li><a href="#"><i class="fa fa-heart"></i>26 LIKES</a></li>
								<li><a href="#"><i class="fa fa-share"></i>5 Share</a></li>
								<li><a href="#"><i class="fa fa-comment"></i>3 Comments</a></li>
							</ul>
							<a href="#">Read More</a>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</section>

<section class="blog_one blog_four">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="full_width blog_one_one blog_one_four_head">
					<h5><span class="fa fa-circle"></span> Healthy Eating </h5>
					<a href="#">View All</a>
				</div>
			</div>

			<div class="col-md-12">
				<ul class="blog_con_ul">
					<li class="col-md-3 no_padding_all blog_list_small margin_0">
						<img src="img/blog/blog13.jpg">
						<div class="caption_small">
							<h3>JAN 29th 2018</h3>
							<p>Cucumber for Sexual Health</p>
							<span>Cucumber has shown to be great for sexual stamina. I was reading an article about erectile dysfunction an</span>
							<ul class="share_coment">
								<li><a href="#"><i class="fa fa-heart"></i>26 LIKES</a></li>
								<li><a href="#"><i class="fa fa-share"></i>5 Share</a></li>
								<li><a href="#"><i class="fa fa-comment"></i>3 Comments</a></li>
							</ul>

							<a href="#">Read More</a>
						</div>
					</li>
					<li class="col-md-3 no_padding_all blog_list_small">
						<img src="img/blog/blog12.jpg">
						<div class="caption_small">
							<h3>JAN 29th 2018</h3>
							<p>Welcome Summers in a Healthy Way!</p>
							<span>Here are 20 of the most important tips for your Do not use an anti-dandruff shampoo for </span>
							<ul class="share_coment">
								<li><a href="#"><i class="fa fa-heart"></i>26 LIKES</a></li>
								<li><a href="#"><i class="fa fa-share"></i>5 Share</a></li>
								<li><a href="#"><i class="fa fa-comment"></i>3 Comments</a></li>
							</ul>
							<a href="#">Read More</a>
						</div>
					</li>
					<li class="col-md-6 no_padding_all blog_list_big">
						<img src="img/blog/blog11.jpg">
						<div class="caption caption_tow">
							<h5>Jan 29th 2018</h5>
							<p>Diet Tips Every "Bride-to-Be" <br>Needs to Follow</p>

							<ul class="share_coment">
								<li><a href="#"><span class="fa fa-heart"></span>26 LIKES</a></li>
								<li><a href="#"><span class="fa fa-share"></span>5 Share</a></li>
								<li><a href="#"><span class="fa fa-comment"></span>3 Comments</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</section>
{% endblock %}
