{% extends 'blog/base.html.j2' %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	{{ title }}
</div>
<main id="main" class="site-main page_spacing">
	<div class="container">
		<div class="row">
			<div class="content-area content-left col-xl-8 col-lg-8 col-md-6 blog-listing blog-single">
				<article id="post-478" class="post-478 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion tag-architecture">
					<div class="entry-cover">
						<img width="770" height="513" src="img/blog/blog1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="img/blog/indiv.jpg" sizes="(max-width: 770px) 100vw, 770px">				</div>
						<div class="entry-content">
							<div class="entry-header">
								<h3 class="entry-title">Relationships 101: How to get the best
								out of a Relationship?</h3>
								<div class="post-meta">
									<span class="byline">by							<a href="http://atixscripts.info/demo/minimag/author/ati_minimag/" title="Minimag">Minimag</a>
									</span>
									<span class="post-date">August 23, 2017</span>
									<span class="post-view">92 Views</span>					</div>
								</div>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

								</p>
								<blockquote><p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.”<strong>Oscar Wilde</strong></p></blockquote>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

								</p>
								<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

								</p>
								<h4>More into summer fashion</h4>
								<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

								</p>

								<div class="entry-footer">
									<div class="tags">

									</div>
									<ul class="social-share">
										<li><a class="share-facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>						
										<li><a class="share-twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>						
										<li><a class="share-pinterest" target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>	
										<li><a class="share-google" target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>		
										<li><a class="share-linkedin" target="_blank" href="#e"><i class="fa fa-linkedin"></i></a></li>						
										<li><a class="share-digg" target="_blank" href="#"><i class="fa fa-digg"></i></a>
										</li>					
										<li><a class="share-reddit" target="_blank" href="#"><i class="fa fa-reddit"></i></a>
										</li>			
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="widget-area col-lg-4 col-md-6 col-12 sidebar-right sidebar-1 ">
						<aside id="widget_advertise-4" class="widget widget_advertise">		<div class="advertise-content">
							<img src="img/blog/add.jpg" alt="">
						</main>
{% endblock %}
