{% extends 'blog/base.html.j2' %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	{{ title }}
</div>
<main id="main" class="site-main page_spacing">
	<div class="container">
		<div class="row">
			<div class="content-area content-left col-xl-8 col-lg-8 col-md-6 blog-listing blog-single">
				<article id="post-478" class="post-478 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion tag-architecture">
					<div class="entry-cover">
						<img width="770" height="513" src="img/blog/blog1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="img/blog/indiv.jpg" sizes="(max-width: 770px) 100vw, 770px">				
					</div>
					<div class="entry-content">
						<div class="entry-header">
							<h3 class="entry-title">{{ post.title }}<h3>
								<div class="post-meta">
									<span class="byline">by							
										<a href="http://atixscripts.info/demo/minimag/author/ati_minimag/" title="Minimag">
										{{ post.author }}</a>
									</span>
									<span class="post-date">{{ post.date_added }}</span>
									<span class="post-view">{{ views }}</span>
								</div>
								<p> {{post.content}} </p>
							</div>
							<div class="entry-footer">
								<div class="tags">

								</div>
								<ul class="social-share">
									<li><a class="share-facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>						
									<li><a class="share-twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>						
									<li><a class="share-pinterest" target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>	
									<li><a class="share-google" target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>		
									<li><a class="share-linkedin" target="_blank" href="#e"><i class="fa fa-linkedin"></i></a></li>						
									<li><a class="share-digg" target="_blank" href="#"><i class="fa fa-digg"></i></a>
									</li>					
									<li><a class="share-reddit" target="_blank" href="#"><i class="fa fa-reddit"></i></a>
									</li>			
								</ul>
							</div>
						</div>
					</article>
				</div>
				<div class="widget-area col-lg-4 col-md-6 col-12 sidebar-right sidebar-1 ">
					<aside id="widget_advertise-4" class="widget widget_advertise">		<div class="advertise-content">
						<img src="img/blog/add.jpg" alt="">
					</main>
					{% endblock %}
