<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<div class="container">

      <h3>Memberships</h3>
      <form action="" >
        <div class="form-group">
          <label for="association">Name of the Association/Society </label>
          <input type="text" class="form-control" name="association" id="association">
        </div>

        <div class="form-group">
          <label for="country_id">Country </label>
          <input type="text" class="form-control" name="country_id" id="country_id">
        </div>
      
        <div class="form-group">
          <label for="city_id">City </label>
          <input type="text" class="form-control" name="city_id" id="city_id">
        </div>

       <input type="submit" class="btn btn-default" value="Add More">
       <input type="submit" class="btn btn-default" value="submit">

      </form>
          
    </div>

  </body>
</html>