<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<div class="container">

      <h3>Registrations</h3>
      <form action="" enctype="multi/meta">
      <div class="form-group">
          <label for="registeringauthority">Registering Authority </label>
          <input type="text" class="form-control" name="registeringauthority" id="registeringauthority">
        </div>

      <div class="form-group">
          <label for="registrationno">Registration Number </label>
          <input type="text" class="form-control" name="registrationno" id="registrationno">
        </div>
      
        <div class="form-group">
          <label for="year_2">Year </label>
          <input type="number" class="form-control" id="year_2" name="year_2" >
        </div>

        <div class="form-group">
          <label for="Upload">Upload</label>
          <input type="file" class="form-control" name="upload" id="upload">
        </div>

       <button type="submit" class="btn btn-default">Add More Registrations</button>
       <button type="submit" class="btn btn-default">Submit</button>
      
      </form>

    </div>

  </body>
</html>