<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h3>Education & Trainings</h3>
        <form action="">
            <div class="form-group">
                <label for="qualification_id">Basic </label>
                <select name="qualification_id[]" name="qualification_id[]" class="form-control">
                    <option value="Select from List">Select from List</option>
                    <option value="">10</option>
                    <option value="">10+2</option>
                </select>
            </div>
            <div class="form-group">
                <label for="qualification_id">Diploma </label>
                <select name="qualification_id[]" id="qualification_id[]" class="form-control">
                    <option value="Select from List">Select from List</option>
                    <option value="">Diploma</option>
                    <option value="">Diploma List</option>
                </select>
            </div>
            <div class="form-group">
                <label for="qualification_id">Post Graduation </label>
                <select name="qualification_id[]" id="qualification_id[]" class="form-control">
                    <option value="Select from List">Select from List</option>
                    <option value="">Pg</option>
                    <option value="">Pg list</option>
                </select>
            </div>
            <div class="form-group">
                <label for="qualification_id">Super Speciality </label>
                <select name="qualification_id[]" id="qualification_id[]" class="form-control">
                    <option value="Select from List">Select from List</option>
                    <option value="">Speciality List</option>
                    <option value="">Speciality List</option>
                </select>
            </div>
            <div class="form-group">
                <label for="otherdegree">Others Degrees</label>
                <input type="text" class="form-control" name="otherdegree" id="otherdegree">
            </div>
            <div class="form-group">
                <label for="othertraining">Others Trainings</label>
                <input type="text" class="form-control" name="othertraining" id="othertraining">
            </div>
            <div class="form-group">
                <label for="Upload file">Upload Photo </label>
                <input type="File" class="form-control" name="image" id="image">
            </div>
            
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>

</html>