{% extends 'common/dashboard_base.html.j2' %}
{% load static %}
{% block mainhead %}
<link href="{% static 'reseller/css/style.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'reseller/js/main.js' %}"></script>
{% block head %}{% endblock %}
{% endblock %}
{% block section %}Reseller{% endblock section %}
{% block baseurl %}{% url 'reseller:dashboard_home' %}{% endblock baseurl %}
{% block navs %}
<li><a href="{% url 'reseller:dashboard_home' %}">Basic Information</a></li>
<li><a href="{% url 'reseller:discounts' %}">Discount Cards</a></li>
{% endblock navs %}
