<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h3>Consultation Fee</h3>
        <form action="">
            
            <div class="form-group">
                <label for="consultationfee">Consultation Fee</label>
                <input type="text" class="form-control" name="consultationfee" id="consultationfee">
            </div>
            <div class="form-group">
                <label for="discount1st">Discount for 1st Consultation</label>
                <input type="text" class="form-control" name="discount1st" id="discount1st">
            </div>
            <div class="form-group">
                <label for="discountsubsequent">Discount for Subsequent Consultation</label>
                <input type="text" class="form-control" name="discountsubsequent" id="discountsubsequent">
            </div>

            <div class="form-group">
                <label for="activefrom">Active From</label>
                <input type="date" class="form-control" name="activefrom" id="activefrom">
            </div>
            <div class="form-group">
                <label for="activeto">Active To</label>
                <input type="date" class="form-control" name="activeto" id="activeto">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>

</html>