
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">

      <h3>Conditions Treated</h3>
      <p>Show all the symptoms based on the  step4 selected speciality_id</p>

      <form action="">

        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" value="general" name="symptoms_id[]">general
            </label>
            
            <label class="checkbox-inline">
                <input type="checkbox" value="Symptoms list" name="symptoms_id[]">Symptoms list
            </label>
            
            <label class="checkbox-inline">
                <input type="checkbox" value="symptom2" name="symptoms_id[]">symptom2
            </label>
            
            <label class="checkbox-inline">
                <input type="checkbox" value="symptom3" name="symptoms_id[]">symptom3
            </label>
            
            

        </div>

        
       
        <button type="submit" class="btn btn-default">Submit</button>

      </form>

    </div>

  </body>
</html>