<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">

      <h3>Offerings</h3>

      <form action="">

        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" value="Anaesthesiology & Emergency Medicine" name="speciality_id[]">Anaesthesiology & Emergency Medicine
            </label>
            
            <label class="checkbox-inline">
                <input type="checkbox" value="Ayurvedic" name="speciality_id[]">Ayurvedic
            </label>
            
            <label class="checkbox-inline">
                <input type="checkbox" value="Cardio Thorasic Surgery" name="speciality_id[]">Cardio Thorasic Surgery
            </label>
            
            <label class="checkbox-inline">
                <input type="checkbox" value="Cochlar Implant Surgery" name="speciality_id[]">Cochlar Implant Surgery
            </label>
            
            <label class="checkbox-inline">
                <input type="checkbox" value="Cardiology" name="speciality_id[]">Cardiology
            </label>
            
            <label class="checkbox-inline">
                <input type="checkbox" value="Cosmetology - Beutycare" name="speciality_id[]">Cosmetology - Beutycare
            </label>    

            <label class="checkbox-inline">
                <input type="checkbox" value="Dermatology - Skincare" name="speciality_id[]">Dermatology - Skincare
            </label>    

            <label class="checkbox-inline">
                <input type="checkbox" value="Diet & Nutrition" name="speciality_id[]">Diet & Nutrition
            </label>          

        </div>

        
       
        <button type="submit" class="btn btn-default">Submit</button>

      </form>

    </div>

  </body>
</html>