<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">

      <h3>Adding a Branch</h3>

      <form action="">

        
        <div class="form-group">
            <button type="submit" class="btn btn-default">Add a Branch</button>
        </div>
      

        <p>Onclick add a branch repeat the Step4 
        Pass is_branch =1 and under_healthproviders_id = healthproviders_id registered</p>
        
       
      

      </form>

    </div>

  </body>
</html>