<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
      
      body{
    background:#eee;
    margin-top:20px;
}
.pt-inner {
    text-align: center;
}
.tile {
    background-color: #fff;
    margin-bottom: 30px;
    position: relative;
}
.tile {
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
}
.pt-inner .pti-header {
    padding: 45px 10px 70px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
}
.bg-amber {
    background-color: #ffc107!important;
}
.bg-green {
    background-color: #4caf50!important;
}
.bg-cyan {
    background-color: #00bcd4!important;
}
.pt-inner .pti-header>h2 {
    margin: 0;
    line-height: 100%;
    color: #fff;
    font-weight: 100;
    font-size: 50px;
}
.pt-inner .pti-header>h2 small {
    color: #fff;
    letter-spacing: 0;
    vertical-align: top;
    font-size: 16px;
    font-weight: 100;
}
.pt-inner .pti-header .ptih-title {
    background-color: rgba(0,0,0,.1);
    padding: 8px 10px 9px;
    margin: 0 -10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.pt-inner .pti-header .ptih-title {
    text-transform: uppercase;
}
.pt-inner .pti-body {
    padding: 0 23px;
}
.pt-inner .pti-body .ptib-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.pt-inner .pti-body .ptib-item {
    padding: 15px 0;
    font-weight: 400;
}
.pt-inner .pti-footer {
    padding: 10px 20px 30px;
}
.pt-inner .pti-footer>a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    line-height: 60px;
    font-size: 30px;
}
                        
    </style>
  </head>
  <body>

    <div class="container">

      <h3>Plans </h3>
      <p>Group II (Eye, Dental, Physiotherapy and Alternative Medicine)</p>
      <form action="">


        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-4">
            <div class="tile pt-inner">
                <div class="pti-header bg-amber">
                    <h2>Rs.1500/- <small>| Year</small></h2>
                    <div class="ptih-title">Silver Plan</div>
                </div>
        
                <div class="pti-body">
                    <div class="ptib-item">
                       AD MyClinic Software License – 1 Year
                    </div>
                    <div class="ptib-item">
                        No. of New Registrations/Patients – 10
                    </div>
                    <div class="ptib-item">
                        Additional Benefits – Advertisements worth INR 1000/- free
                    </div>
                    <div class="ptib-item">
                        Discounts – 5% discount on AD Advertisement packages for 1 Year
                    </div>
                    <p>Terms of Plan</p>
                    <div class="ptib-item">
                        Minimum Discount for New Registrations – 50%
                    </div>
                    <div class="ptib-item">
                        Minimum Discount for Revisiting Patients – 10%
                    </div>
                    <div class="ptib-item">
                        Minimum Discount for Revisiting Patients – 10%
                    </div>
                    <div class="ptib-item">
                         AD Referral Share on Subsequent Consultations – 10%
                    </div>
                    <p>How This Plan Works? </p>
                    <div class="ptib-item">
                         Doctors registering under the Silver Plan shall be required to pay INR 1500/- as the Plan fee. Once this fee is paid, the doctor shall be able to secure 10 new patients. For each new registration, the doctor shall be providing a minimum of 50% discount to the patient. For every subsequent visit of a registered patient, the doctor shall be providing a minimum of 10% discount to the patient. Also in the event of a revisiting patient, the doctor shall be paying 10% of the appointment fee as referral amount to AarogyaData. 
                    </div>
                    <p>What Else Do You Get?  </p>
                      <div class="ptib-item">
                        Apart from the regular flow of new patients along with follow-up visits of the already registered ones, you will be able to put up advertisements worth INR 1000/- on AD site. You can also opt for a preferred advertisement package for displaying your ad on AarogyaData site for 1 year and avail a discount of 5% on the package chosen. 
                    </div>
        
                </div>
                <div class="pti-footer">
                    <button type="submit" name="plans_id" value="plans_id" class="bg-amber" >Select Plan <i class="fa fa-check"></i></button>
                   
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile pt-inner">
                <div class="pti-header bg-green">
                    <h2>Rs. 2500/- <small>| Year</small></h2>
                    <div class="ptih-title">Gold Plan</div>
                </div>
        
                <div class="pti-body">
                    <div class="ptib-item">
                       AD MyClinic Software License – 1 Year
                    </div>
                    <div class="ptib-item">
                        No. of New Registrations/Patients – 10
                    </div>
                    <div class="ptib-item">
                        Additional Benefits – Advertisements worth INR 1000/- free
                    </div>
                    <div class="ptib-item">
                        Discounts – 5% discount on AD Advertisement packages for 1 Year
                    </div>
                    <p>Terms of Plan</p>
                    <div class="ptib-item">
                        Minimum Discount for New Registrations – 50%
                    </div>
                    <div class="ptib-item">
                        Minimum Discount for Revisiting Patients – 10%
                    </div>
                    <div class="ptib-item">
                        Minimum Discount for Revisiting Patients – 10%
                    </div>
                    <div class="ptib-item">
                         AD Referral Share on Subsequent Consultations – 10%
                    </div>
                    <p>How This Plan Works? </p>
                    <div class="ptib-item">
                         Doctors registering under the Silver Plan shall be required to pay INR 1500/- as the Plan fee. Once this fee is paid, the doctor shall be able to secure 10 new patients. For each new registration, the doctor shall be providing a minimum of 50% discount to the patient. For every subsequent visit of a registered patient, the doctor shall be providing a minimum of 10% discount to the patient. Also in the event of a revisiting patient, the doctor shall be paying 10% of the appointment fee as referral amount to AarogyaData. 
                    </div>
                    <p>What Else Do You Get?  </p>
                      <div class="ptib-item">
                        Apart from the regular flow of new patients along with follow-up visits of the already registered ones, you will be able to put up advertisements worth INR 1000/- on AD site. You can also opt for a preferred advertisement package for displaying your ad on AarogyaData site for 1 year and avail a discount of 5% on the package chosen. 
                    </div>
        
                </div>
        
                <div class="pti-footer">
                   <button type="submit" name="plans_id" value="plans_id" class="bg-green" >Select Plan <i class="fa fa-check"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile pt-inner">
                <div class="pti-header bg-cyan">
                    <h2>Rs. 5000/- <small>| Year</small></h2>
                    <div class="ptih-title">Titanium Plan</div>
                </div>
        
                <div class="pti-body">
                    <div class="ptib-item">
                       AD MyClinic Software License – 1 Year
                    </div>
                    <div class="ptib-item">
                        No. of New Registrations/Patients – 10
                    </div>
                    <div class="ptib-item">
                        Additional Benefits – Advertisements worth INR 1000/- free
                    </div>
                    <div class="ptib-item">
                        Discounts – 5% discount on AD Advertisement packages for 1 Year
                    </div>
                    <p>Terms of Plan</p>
                    <div class="ptib-item">
                        Minimum Discount for New Registrations – 50%
                    </div>
                    <div class="ptib-item">
                        Minimum Discount for Revisiting Patients – 10%
                    </div>
                    <div class="ptib-item">
                        Minimum Discount for Revisiting Patients – 10%
                    </div>
                    <div class="ptib-item">
                         AD Referral Share on Subsequent Consultations – 10%
                    </div>
                    <p>How This Plan Works? </p>
                    <div class="ptib-item">
                         Doctors registering under the Silver Plan shall be required to pay INR 1500/- as the Plan fee. Once this fee is paid, the doctor shall be able to secure 10 new patients. For each new registration, the doctor shall be providing a minimum of 50% discount to the patient. For every subsequent visit of a registered patient, the doctor shall be providing a minimum of 10% discount to the patient. Also in the event of a revisiting patient, the doctor shall be paying 10% of the appointment fee as referral amount to AarogyaData. 
                    </div>
                    <p>What Else Do You Get?  </p>
                      <div class="ptib-item">
                        Apart from the regular flow of new patients along with follow-up visits of the already registered ones, you will be able to put up advertisements worth INR 1000/- on AD site. You can also opt for a preferred advertisement package for displaying your ad on AarogyaData site for 1 year and avail a discount of 5% on the package chosen. 
                    </div>
        
                </div>
        
                <div class="pti-footer">
                  <button type="submit" name="plans_id" value="plans_id" class="bg-cyan" >Select Plan <i class="fa fa-check"></i></button>
                </div>
            </div>
        </div>        
  </div>
</div>

        

      </form>

    </div>

  </body>
</html>