<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title of Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsVE0g9J5rYRh43rWyHc6NOHA8ERPCFOE&sensor=true&libraries=places">
    </script>

    <script src="jquery.placepicker.js"></script>
    <style>
      .placepicker-map {
        width: 100%;
        height: 300px;
      }
      .another-map-class {
        width: 100%;
        height: 300px;
      }
      .pac-container {
        border-radius: 5px;
      }
    </style>
  </head>
  <body>

    <div class="container">

      <h3>Contact Details</h3>
    

        <div class="row">

          <div class="col-sm-4">
            <h3>Use My current Location</h3>
            <button id="find_btn" class="btn btn-default">Get My Current Location</button>
          </div>

          <div class="col-sm-4">
            <h3>Point Location from Map</h3>
            <div class="row" data-example>
              <form>
                <div class="form-group">
                  <input class="placepicker form-control" data-map-container-id="collapseOne" />
                </div>
                <div id="collapseOne" class="collapse">
                  <div class="placepicker-map thumbnail"></div>
                </div>
              </form>
            </div>
          </div>

          <div class="col-sm-4">
            <h3>Enter Address Manually</h3>
            <div  data-example>
              <div class="form-group">
                <input class="placepicker form-control"
                  placeholder="Enter a location"
                  data-latitude-input="#latitude"
                  data-longitude-input="#longitude"/>
              </div>
            </div>
          </div>

        </div>

      <form action="" enctype="multi/meta">

        
        <div class="form-group">
          <div id="result"></div>
          
        </div>
        
        <div class="form-group">
          <label for="latitude">Latitude:</label>
          <input type="text" class="form-control" id="latitude" placeholder="Enter latitude" name="latitude">
        </div>
        
        <div class="form-group">
          <label for="longitude">Longitude:</label>
          <input type="text" class="form-control" id="longitude" placeholder="Enter longitude" name="longitude">
        </div>

        <div class="form-group">
          <label for="image">Upload Photos Use any multi upload plugin:</label>
          <input type="file" class="form-control" id="image" placeholder="Upload image" name="image">
        </div>

        
        
        <div class="form-group">
          <label for="contactperson">Contact Person</label>
          <input type="text" class="form-control" id="contactperson" placeholder="Enter Fullname" name="contactperson">
        </div>

        <div class="form-group">
          <label for="phone">Phone No</label>
          <input type="text" class="form-control" id="phone" placeholder="Enter Fullname" name="phone">
        </div> 


        <div class="form-group">
          <label for="fax">fax </label>
          <input type="text" class="form-control" id="fax" placeholder="Enter Fullname" name="fax">
        </div> 
        

        <div class="form-group">
          <label for="establishedyear">Year of Establishment </label>
          <input type="text" class="form-control" id="establishedyear" placeholder="Enter Year" name="establishedyear">
        </div> 
      
      <div class="form-group">
          <label for="beds">No of Beds </label>
          <input type="text" class="form-control" id="beds" placeholder="Enter Year" name="beds">
        </div> 
       
        <button type="submit" class="btn btn-default">Submit</button>

      </form>

    </div>

<script type="text/javascript">
  
  $("#find_btn").click(function () { //user clicks button
    if ("geolocation" in navigator){ //check geolocation available 
        //try to get user current location using getCurrentPosition() method
        navigator.geolocation.getCurrentPosition(function(position){ 
                $("#latitude").val(position.coords.latitude);
                $("#longitude").val(position.coords.longitude);
            });
    }else{
        console.log("Browser doesn't support geolocation!");
    }
});


</script>

<script>

      $(document).ready(function() {

        // Basic usage
        $(".placepicker").placepicker();

        // Advanced usage
        $("#advanced-placepicker").each(function() {
          var target = this;
          var $collapse = $(this).parents('.form-group').next('.collapse');
          var $map = $collapse.find('.another-map-class');

          var placepicker = $(this).placepicker({
            map: $map.get(0),
            placeChanged: function(place) {
              console.log("place changed: ", place.formatted_address, this.getLocation());
            }
          }).data('placepicker');
        });

      }); // END document.ready

    </script>

  </body>
</html>


       

      


      
