{% extends 'sponsor/dashboard/base.html.j2' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Manage Participants</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="index.html">Dashboard</a></li>
				<li><a href="#">Basic Details</a></li>
			</ol>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					Add New Participants
				</div>
				
				<div class="panel-wrapper collapse in" aria-expanded="true">
					<div class="panel-body">
						<div class="form-body">
							
							<ul class="nav nav-pills m-b-30 pull-right">
								<li class="active"> <a href="#singleusertab" data-toggle="tab" aria-expanded="true">Add Single User</a> </li>
								<li class=""> <a href="#bulkusertab" data-toggle="tab" aria-expanded="false">Upload Bulk Participants</a> </li>
							</ul>
							<h3 class="box-title">&nbsp;</h3>
							
							<hr class="m-t-0 m-b-40">
							
							
							
							<div class="tab-content br-n pn">
								<div id="singleusertab" class="tab-pane active">

									<form method="POST">
										{% csrf_token %}
										{{ basic_user|bootstrap }}
										{{ seeker_specific|bootstrap }}

										<div class="form-actions">
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-offset-10 col-md-2">
															<button type="submit" name="type" value="single_user" class="btn btn-success">Add Participant</button>
														</div>
													</div>
												</div>
												<div class="col-md-6"> </div>
											</div>
										</div>
									</form>
									
								</div>
								<div id="bulkusertab" class="tab-pane">
									<form method="POST" class="form-horizontal" enctype="multipart/form-data">
										
										<div class="row">

											<div class="col-md-6 col-md-offset-3">
												<h3 class="box-title">Upload Bulk Participants</h3>

												<h3>Download the template with the above fields, Keep adding rows for further details.</h4><h3><a href="{% static 'sponsor/files/template.xlsx' %}"> Get the template here</a></h3>

												{% csrf_token %}
												{{ bulk_form|bootstrap }}

												<div class="form-actions">
													<div class="row">
														<div class="col-md-12">
															<div class="row">
																<div class="col-md-offset-10 col-md-2">
																	<button type="submit" name="type" value="new_multiple" class="btn btn-success">Upload Participants</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											

										</div>
									</form>
								</div>
								
							</div>
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
	<footer class="footer text-center"> 2018 &copy; Phealth </footer>
</div>
{% endblock %}