{% extends 'healthprovider/base.html.j2' %}
{% load static %}
{% load bootstrap %}
{% block content %}
<div class="row text-center">
	<h3>{{ title }}</h3>
</div>

{% for status, data in appointments %}
<section class="row" id="{{ status }}">
	<div class="panel panel-{{ data.color }}">
		<div class="panel-heading text-center">
			<h3 class="panel-title">{{ status }}</h3>
		</div>
		<div class="panel-body hidey">
			{% for appointment in data.queryset %}
			<div class="col-md-3">
				<div class="well">
					<span class="label label-{{ data.color }}">{{ status }}</span>
					<h4>Dr. {{ appointment.under.user.name  }}</h4>
					<p>
						{{ appointment.time }}
						{{ appointment.date }}
					</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function() {
		$("section").click('on', function() { 
			$(this).find("div.hidey").fadeIn();
			$("section").find("div.hidey").hide(); 
		});
	});
</script>
{% endfor %}
{% endblock %}