{# main template for the sponsor dashboard #}
{% extends 'healthprovider/base.html.j2' %}
{% load static %}
{% load bootstrap %}
{% block content %}
<section class="row">
	<h3>{{ title }}</h3>
</section>
<section class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">{{ form_title }}</div>
		<form method="POST">
			<div class="panel-body">
				{% csrf_token %}
				{{ form | bootstrap }}
			</div>
			<div class="panel-footer">
				<button type="submit" class="btn btn-primary btn-block"><i class="fa fa-chevron-up"></i> Update!</button>
			</div>
		</form>
	</div>
</section>
{% endblock %}
