{% extends 'healthprovider/base.html.j2' %}
{% load static %}
{% load bootstrap %}
{% block head %}
<script src="{% static 'healthprovider/js/speciality.js' %}"></script>
{% endblock %}
{% block content %}
<section class="row text-center">
	<h3>{{ title }}</h3>
</section>
<section class="row new-coupon">
	<div class="row">
		<h3>Add New Speciality</h3>
	</div>
	<div class="row">
		<div class="panel panel-danger">
			<div class="panel-heading"><i class="fa fa-ticket fa-lg"></i> New Speciality</div>
			<form method="POST">
				<div class="panel-body">
					{% csrf_token %}
					{{ form | bootstrap }}
				</div>
				<div class="panel-footer">
					<button class="btn btn-block btn-danger" type="submit"
					name="type" value="add"><i class="fa fa-plus fa-lg"></i> Add!</button>
				</div>
			</form>
		</div>
	</div>
</section>
<section class="row"><hr></section>
<section class="row existing-coupons">
	<div class="row">
		<h3>Edit Current Specialities</h3>
	</div>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading"><i class="fa fa-edit fa-lg"></i> Edit specialities</div>
			<form method="POST">
				<div class="panel-body">
					{% csrf_token %}
					{{ edit_form | bootstrap }}
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-block btn-primary" name="type" value="edit"><i class="fa fa-chevron-up fa-lg"></i> Update</button>
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock %}