{% extends "clinician/dashboard/base.html.j2" %} {% load static %} {% load bootstrap %} {% block content %}
<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Dashboard 1</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li>
					<a href="{% url 'clinician:dashboard_home' %}">Dashboard</a>
				</li>
				<li>
					<a href="{% url 'clinician:awards_recognition' %}">Procedures &amp; Conditions</a>
				</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-info">
			<div class="panel-heading">
				Add Award/Recognition
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-danger wow animated progress-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"
				    style="width: 30%;">
				</div>
			</div>
			<div class="panel-wrapper collapse in" aria-expanded="true">
				<form method="POST">
					<div class="panel-body">
						{% csrf_token %} {{ award_form | bootstrap }}
					</div>
					<div class="panel-footer">
						<button class="btn btn-info" type="submit" name="btn-type" value="1">Add!</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-primary">
			<form method="POST">
				<div class="panel-heading">Modify</div>
				<div class="panel-body">
					{% csrf_token %}
					<table class="table table-responsive table-striped table-hoverable">
						<thead>
							<tr>
								<th>
									<input type="checkbox" id="all-toggle">
								</th>
								<th>Name</th>
								<th>Year</th>
								<th>Description</th>
								<th>Recognised By</th>
							</tr>
						</thead>
						<tbody>
							{% for award in awards %}
							<tr>
								<td>
									<input type="checkbox">
								</td>
								<td>
									<input type="text" name="name" value="{{ award.name }}">
								</td>
								<td>
									<input type="text" name="year" value="{{ award.year }}">
								</td>
								<td>
									<textarea name="description">{{ award.description }}&nbsp;</textarea>
								</td>
								<td>
									<input type="text" name="recognised_by" value="{{ award.recognised_by }}">
								</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="5">No Award/Recognition to choose from!</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<button type="submit" name="btn-type" value="0">Save &amp; Go!</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$("table thead tr th input[type='checkbox']").on('click', function () {
			$(this).closest('table').find("tbody input[type='checkbox']").click();
		}).click();
		$("table tbody tr td input[type='checkbox']").on('click', function () {
			$(this).closest('tr').find("input[type!='checkbox'], textarea").prop({
				'disabled': !$(this).prop('checked')
			})
		});
	});
</script>
{% endblock content %}