{% extends "clinician/dashboard/base.html.j2" %} {% load static %} {% block content %} {% load bootstrap %}
<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Dashboard 1</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li>
					<a href="{% url 'clinician:dashboard_home' %}">Dashboard</a>
				</li>
				<li>
					<a href="{% url 'clinician:education' %}">Education &amp; Offerings</a>
				</li>
			</ol>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="panel panel-warning">
			<div class="panel-heading">Add Record</div>
			<form method="POST">
				<div class="panel-body">
					{% csrf_token %} {{ education | bootstrap }}
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-warning" name="btn-type" value="1">Save &amp; Go!</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-info">
			<div class="panel-heading">Education List</div>
			<form method="POST">
				<div class="panel-body">
					{% csrf_token %}
					<table class="table table-hoverable table-striped">
						<thead>
							<tr>
								<th>
									<input type="checkbox">
								</th>
								<th>Type</th>
								<th>Title</th>
								<th>Year</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							{% for record in edu_records %}
							<tr>
								<td>
									<input type="checkbox">
								</td>
								<td>
									<input type="text" name="type" value="{{ record.type }}">
								</td>
								<td>
									<input type="text" name="title" value="{{ record.title }}">
								</td>
								<td>
									<input type="text" name="year" value="{{ record.year }}">
								</td>
								<td>
									<textarea name="description">{{ record.description }}</textarea>
								</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="5">No education/ added!</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-info" name="btn-type" value="0">Update
						<i class="fa fa-chevron-up fa-lg"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$("table thead tr th input[type='checkbox']").on('click', function () {
			$(this).closest('table').find("tbody input[type='checkbox']").click();
		}).click();
		$("table tbody tr td input[type='checkbox']").on('click', function () {
			$(this).closest('tr').find("input[type='text']").prop({
				'disabled': !$(this).prop('checked')
			})
		});
	});
</script>
{% endblock content %}