{% extends "clinician/dashboard/base.html.j2" %}
{% load static %}
{% load bootstrap %}
{% block script %}
<script src="{% static 'clinician/js/professional.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Dashboard 1</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li>
					<a href="{% url 'clinician:dashboard_home' %}">Dashboard</a>
				</li>
				<li>
					<a href="{% url 'clinician:professional_info' %}">Professional Information</a>
				</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-primary">
			<form method="POST">
				<div class="panel-heading">Modify Specialities</div>
				<div class="panel-body">
					{% csrf_token %}
					<table class="table table-responsive table-striped table-hoverable">
						<thead>
							<tr>

								<th>
									<input type="checkbox" id="all-toggle">
								</th>
								<th>Name</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							{% for spec in all_specs %}
							<tr>
								<td>
									<input type="checkbox" name="ids[]" id="{{ spec.pk }}" value="{{ spec.pk }}" {% if spec in specialities %} checked {% endif %}>
								</td>
								<td><label for="{{ spec.pk }}">{{ spec.name }}</label></td>
								<td>{{ spec.description }}</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="4">No specialities to choose from!</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<button type="submit">Save &amp; Go!</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-info">
			<div class="panel-heading">
				Specialities
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-danger wow animated progress-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"
				    style="width: 30%;">
				</div>
			</div>
			<div class="panel-wrapper collapse in" aria-expanded="true">
				<div class="panel-body">
					<div class="row">
						{% for speciality in specialities %}
						<div class="well well-lg">
							<h4 class="text-primary">{{ speciality.name }}</h4>
							<p class="text-muted">{{ speciality.description }}</p>
						</div>
						{% empty %}
						<div class="well well-lg">
							<h4 class="text-danger">No Specialities yet!</h4>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}