{% extends "clinician/dashboard/base.html.j2" %} {% load static %} {% block content %}
{% load bootstrap %}
<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Dashboard 1</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="index.html">Dashboard</a></li>
				<li><a href="#">Basic Details</a></li>
			</ol>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="col-md-12">	
			<div class="panel panel-info">
				<div class="panel-heading">
					My Account
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-danger wow animated progress-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"> <span class="sr-only">60% Complete</span> </div>
				</div>
				<div class="panel-wrapper collapse in" aria-expanded="true">
					<div class="panel-body">
						<div class="row">
							{% for speciality in speciality_list %}
							<a class="dropdown-item" href="#">
								<div class="well well-lg">
									<h4>{{speciality.name}}</h4>
									<p>
										{{speciality.description}}
									</p>
								</div>
							</a>
							{% endfor %}
						</div>
					</div>
					<div class="row">
						<form method="POST">
							<div class="panel panel-success">
								<div class="panel-body">
									{% csrf_token %}
									{{ speciality_form | bootstrap }}
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button class="btn btn-block btn-primary"><i class="fa fa-add fa-lg"></i> Add</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container-fluid -->
{% endblock content %}
