{% extends "healthprovider/dashboard/base.html.j2" %} 
{% load static %} 
{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Payments</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Dashboard</a>
            </li>
            <li>
                <a href="payment_new.html">Select Discount card/ Health Checks</a>
            </li>
            <li>
                <a href="#">Add New Payment</a>
            </li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <img class="img-responsive" alt="user" src="plugins/images/big/health1.png" style="margin: auto;width: 50%;border: 1px solid #41b3f9;padding: 10px;">
            <div class="panel-heading">ClickHealth Check</div>
            <div class="row">
                <div class="col-sm-8">
                    <table class="table">
                        <tr>
                            <th>Selected Plan</th>
                            <th>Plan Name</th>
                            <th>Amount</th>
                        </tr>
                        <tr>
                            <th>Plan 1</th>
                            <th>Health Check Plan</th>
                            <th>Rs.1500</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>
                                <button class="btn btn-success pull-right">Pay Now</button>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1">Have A Coupon ? Click Here</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Coupon Code</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" placeholder="Enter Coupon Code">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-offset-6 col-md-2">
                                                        <button type="submit" class="btn btn-success">Apply Coupon</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block script %}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group +
                                '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>
{% endblock script %}