{# Base dashboard template for admin #} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'common/dashboard/plugins/images/favicon.png' %}">
	<title>{{ title }} | Phealth - admin Dashboard</title>
	<!-- Bootstrap Core CSS -->
	<link href="{% static 'common/dashboard/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Menu CSS -->
	<link href="{% static 'common/dashboard/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
	<!-- toast CSS -->
	<link href="{% static 'common/dashboard/plugins/bower_components/toast-master/css/jquery.toast.css' %}" rel="stylesheet">
	<!-- morris CSS -->
	<link href="{% static 'common/dashboard/plugins/bower_components/morrisjs/morris.css' %}" rel="stylesheet">
	<!-- chartist CSS -->
	<link href="{% static 'common/dashboard/plugins/bower_components/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
	<link href="{% static 'common/dashboard/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
	<!-- Calendar CSS -->
	<link href="{% static 'common/dashboard/plugins/bower_components/calendar/dist/fullcalendar.css' %}" rel="stylesheet" />
	<!-- animation CSS -->
	<link href="{% static 'common/dashboard/css/animate.css' %}" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{% static 'common/dashboard/css/style.css' %}" rel="stylesheet">
	
	<!-- color CSS -->
	<link href="{% static 'common/dashboard/css/colors/default.css' %}" id="theme" rel="stylesheet">

	

	<script src="{% static 'common/dashboard/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'common/dashboard/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	
	
	<!-- FullCalendar Files -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.print.css" media='print'> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>
	
	<!-- DataTables files -->
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.1/sl-1.2.5/datatables.min.css"/> 
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.1/sl-1.2.5/datatables.min.js"></script>
	<script src="{% static 'js/datatableview.min.js' %}"></script>
	<script> datatableview.auto_initialize = true;</script>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	{% block styles %} {% endblock %}
	
</head>

<body class="fix-header">
	<div class="preloader">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
		</svg>
	</div>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<div class="top-left-part">
					<!-- Logo -->
					<a class="logo" href="{% url 'site_admin:dashboard_home_new' %}">
						<!-- Logo icon image, you can use font-icon also --><b>
                        <!--This is dark logo icon--><img src="{% static 'common/dashboard/plugins/images/admin-logo.png' %}" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="{% static 'common/dashboard/plugins/images/admin-logo-dark.png' %}" alt="home" class="light-logo" />
                     </b>
						<!-- Logo text image you can use text also --><span class="hidden-xs">
                        <!--This is dark logo text--><img src="{% static 'common/dashboard/plugins/images/admin-text.png' %}" alt="home" class="dark-logo" /><!--This is light logo text--><img src="{% static 'common/dashboard/plugins/images/admin-text-dark.png' %}" alt="home" class="light-logo" />
                     </span> </a>
				</div>
				<!-- /Logo -->
				<!-- Search input and Toggle icon -->
				<ul class="nav navbar-top-links navbar-left">
					<li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a></li>
					<!-- .Task dropdown -->
				</ul>
				<ul class="nav navbar-top-links navbar-right pull-right">
					<li class="dropdown">
						<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="{% static 'common/dashboard/plugins/images/users/varun.jpg' %}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{ admin.user.name }}</b><span class="caret"></span> </a>
						<ul class="dropdown-menu dropdown-user animated flipInY">
							<li>
								<div class="dw-user-box">
									<div class="u-img"><img src="{% static 'common/dashboard/plugins/images/users/varun.jpg' %}" alt="user" /></div>
									<div class="u-text">
										<h4>{{ admin.org_name }}</h4>
										<p class="text-muted">{{ admin.user.name }}</p><a href="{% url 'site_admin:basic_details' %}" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
								</div>
							</li>
							<li role="separator" class="divider"></li>
							<li><a href="{% url 'site_admin:basic_details' %}"><i class="ti-user"></i> My Profile</a></li>
							<li><a href="{% url 'common:signout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
        
		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav slimscrollsidebar">
				<div class="sidebar-head">
					<h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
				<div class="user-profile">
				</div>
				<ul class="nav" id="side-menu">
					<li><a href="{% url 'site_admin:dashboard_home_new' %}" class="waves-effect"><i class="mdi mdi-av-timer fa-fw"></i> <span class="hide-menu"> Dashboard </span></a></li>
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-format-paint fa-fw" data-icon="v"></i> <span class="hide-menu"> CMS <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="{% url 'site_admin:cms_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add New</span></a> </li>
							<li> <a href="{% url 'site_admin:cms_view' %}"><i class=" fa-fw"></i><span class="hide-menu">View / Update</span></a> </li>
						</ul>
					</li>
					
                    
                    <li> <a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-settings fa-fw"></i> <span class="hide-menu">Configurations<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Conditions </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:condition_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:condition_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                    <li> <a href="{% url 'site_admin:symptomsarea_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Symptomsarea Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:symptomsarea_view' %}"><i class=" fa-fw"></i><span class="hide-menu">Symptomsarea View/ Update</span></a> </li>

                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Time Session </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:timesession_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:timesession_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Specialities </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:speciality_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:speciality_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Coupons </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:coupons_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:coupons_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                    <li> <a href="{% url 'site_admin:coupons_reports' %}"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Test Masters </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:test_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:test_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                    <li> <a href="{% url 'site_admin:test_category_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Category Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:test_category_view' %}"><i class=" fa-fw"></i><span class="hide-menu">Category view</span></a> </li>
                                    <li> <a href="{% url 'site_admin:test_subcategory_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Sub-Category Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:test_subcategory_view' %}"><i class=" fa-fw"></i><span class="hide-menu">Sub-Category view</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Facilities Type </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:facility_type_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:facility_type_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Facilities </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:facility_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:facility_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Roles </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:roles_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:roles_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">ID Configuration </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:idconfiguration_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:idconfiguration_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                    
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-account-multiple fa-fw" data-icon="v"></i> <span class="hide-menu"> Users <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="{% url 'site_admin:users' %}"><i class=" fa-fw"></i><span class="hide-menu">All Users</span></a> </li>
							<li> <a href="{% url 'site_admin:users' %}"><i class=" fa-fw"></i><span class="hide-menu">Health Seekers</span></a> </li>
							<li> <a href="{% url 'site_admin:users' %}"><i class=" fa-fw"></i><span class="hide-menu">Sponsors</span></a> </li>
							<li> <a href="{% url 'site_admin:users' %}"><i class=" fa-fw"></i><span class="hide-menu">Health Providers</span></a> </li>
							<li> <a href="{% url 'site_admin:users' %}"><i class=" fa-fw"></i><span class="hide-menu">Clinicians</span></a> </li>
							<li> <a href="{% url 'site_admin:users' %}"><i class=" fa-fw"></i><span class="hide-menu">Sales Agents</span></a> </li>
							<li> <a href="{% url 'site_admin:users' %}"><i class=" fa-fw"></i><span class="hide-menu">Resellers</span></a> </li>
						</ul>
					</li>
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-account-switch fa-fw" data-icon="v"></i> <span class="hide-menu"> Sales Agents <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="{% url 'site_admin:salesagents_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add New</span></a> </li>
							<li> <a href="{% url 'site_admin:salesagents_view' %}"><i class=" fa-fw"></i><span class="hide-menu">View / Update</span></a> </li>
						</ul>
					</li>
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-calendar-clock fa-fw" data-icon="v"></i> <span class="hide-menu"> Appointment <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="{% url 'site_admin:health_daily' %}"><i class=" fa-fw"></i><span class="hide-menu">Daily</span></a> </li>
							<li> <a href="{% url 'site_admin:health_weekly' %}"><i class=" fa-fw"></i><span class="hide-menu">Weekly</span></a> </li>
							<li> <a href="{% url 'site_admin:health_monthly' %}"><i class=" fa-fw"></i><span class="hide-menu">Monthly</span></a> </li>
						</ul>
					</li>
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-wallet-giftcard fa-fw" data-icon="v"></i> <span class="hide-menu">Discount Cards <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="{% url 'site_admin:discountcard_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add New</span></a> </li>
							<li> <a href="{% url 'site_admin:discountcard_view' %}"><i class=" fa-fw"></i><span class="hide-menu">View / Update</span></a> </li>
							<li> <a href="{% url 'site_admin:discountcard_reports' %}"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
						</ul>
					</li>
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-medical-bag fa-fw" data-icon="v"></i> <span class="hide-menu">Health Checks <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="{% url 'site_admin:healthcheck_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add New</span></a> </li>
							<li> <a href="{% url 'site_admin:healthcheck_view' %}"><i class=" fa-fw"></i><span class="hide-menu">View / Update</span></a> </li>
							<li> <a href="{% url 'site_admin:healthcheck_reports' %}"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
						</ul>
					</li>
                    <li> <a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-cash-multiple fa-fw"></i> <span class="hide-menu">Plans & Packages<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Healthprovider Plans </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:healthprovider_plans_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:healthprovider_plans_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                    <li> <a href="{% url 'site_admin:healthprovider_plans_reports' %}"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Sales Agent Packages</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:salesagents_packages_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:salesagents_packages_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                    <li> <a href="{% url 'site_admin:salesagents_packages_reports' %}"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Reseller Packages </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{% url 'site_admin:resellers_packages_add' %}"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="{% url 'site_admin:resellers_packages_view' %}"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                    <li> <a href="{% url 'site_admin:resellers_packages_reports' %}"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                    
					
				</ul>
			</div>
		</div>
		<div id="page-wrapper">
			{% block content %} {% endblock %}
			<footer class="footer text-center"> 2018 &copy; Phealth </footer>
		</div>
	</div>
	<!-- Menu Plugin JavaScript -->
	<script src="{% static 'common/dashboard/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
	<!--slimscroll JavaScript -->
	<script src="{% static 'common/dashboard/js/jquery.slimscroll.js' %}"></script>
	<!--Wave Effects -->
	<script src="{% static 'common/dashboard/js/waves.js' %}"></script>
	<!--Counter js -->
	<script src="{% static 'common/dashboard/plugins/bower_components/waypoints/lib/jquery.waypoints.js' %}"></script>
	<script src="{% static 'common/dashboard/plugins/bower_components/counterup/jquery.counterup.min.js' %}"></script>
	<!-- chartist chart -->
	<script src="{% static 'common/dashboard/plugins/bower_components/chartist-js/dist/chartist.min.js' %}"></script>
	<script src="{% static 'common/dashboard/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
	<!-- Sparkline chart JavaScript -->
	<script src="{% static 'common/dashboard/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
	<!-- Custom Theme JavaScript -->
	<script src="{% static 'common/dashboard/js/custom.min.js' %}"></script>
	<script src="{% static 'common/dashboard/js/dashboard1.js' %}"></script>
	<script src="{% static 'common/dashboard/plugins/bower_components/toast-master/js/jquery.toast.js' %}"></script>
	<!--Style Switcher -->
	<script src="{% static 'common/dashboard/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
	{% block script %} {% endblock %}
</body>
