{% extends "site_admin/dashboard/base.html" %} {% load static %} {% block content %}
         <div class="container-fluid">
            <div class="row bg-title">
               <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                  <h4 class="page-title">Manage Conditions/ Symptoms</h4>
               </div>
               <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                  <ol class="breadcrumb">
                     <li><a href="index.html">Dashboard</a></li>
                     <li><a href="#">Add  Conditions/ Symptoms</a></li>
                  </ol>
               </div>
               <!-- /.col-lg-12 -->
            </div>
            <div class="row ">
               <div class="col-md-12 ">
                  <div class="panel panel-info ">
                     <div class="panel-heading">
                        Add New Symptom
                     </div>
                     <br>
                      
                      <div class="col-md-12 white-box">
                     <div class="panel-body">
                          <form method="POST" class="post-form">{% csrf_token %}
                            	{% for field in form %}
										   <div class="col-md-6">
										   <div class="form-group">
											{{ field.label_tag }}<br>
											{{ field }}
											{% for error in field.errors %}
											  <p style="color: red">{{ error }}</p>
											{% endfor %}
										  </div>
										  </div>
										{% endfor %}

                            <button type="submit" class="btn btn-success pull-right">Save</button>
                        </form>


                     </div>
                          </div>
                  </div>
               </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2018 &copy; Phealth </footer>
         </div>
        {% endblock content %}
