{% extends "site_admin/dashboard/base.html" %} {% load static %} {% block content %}
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Manage Discountcards</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<ol class="breadcrumb">
							<li><a href="index.html">Dashboard</a></li>
							<li><a href="discountcard_view.html">View Discountcard</a></li>
							<li><a href="#">Edit Discountcard</a></li>
						</ol>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-info">
							<div class="panel-heading">
                                   Edit Discountcard
                            </div>
                                    
							<div class="panel-wrapper collapse in" aria-expanded="true">
								<div class="panel-body">
									<form action="discountcard_view.html" class="form-horizontal">
										<div class="form-body">
											<h3 class="box-title">Edit Discountcard</h3>
                                            <p></p>
											<hr class="m-t-0 m-b-40">
											<div class="row">
												
													
													<div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Title</label>
															<div class="col-md-9">
																<input type="text" class="form-control" id="title" placeholder="Enter The Title" value="Discount Card Name"  name="title">
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Promo Image</label>
															<div class="col-md-9">
																<input type="file" class="form-control" id="image" placeholder="image" name="image">
															</div>
														</div>
													</div>
                                                    <div class="col-md-12">
														<div class="form-group">
															<label  class="control-label col-md-1" >Discription (Write-Up)</label>
															<div class="col-md-11">
                                                                <textarea class="form-control summernote" name="description" id="description"> Complete description about Discount card </textarea>
															</div>
														</div>
													</div>
                                                 
                                                <div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Price</label>
															<div class="col-md-9">
																<input type="text" class="form-control" id="price" value="365"  placeholder="price" name="price">
															</div>
														</div>
													</div>
                                                <div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >validity</label>
															<div class="col-md-9">
																<input type="text" class="form-control" id="validity" value="05-05-2020" placeholder="validity" name="validity">
															</div>
														</div>
													</div>
                                                <div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >coverage</label>
															<div class="col-md-9">
																<input type="number" class="form-control" id="coverage" value="4" placeholder="coverage" name="coverage">
															</div>
														</div>
													</div>
                                                
                                                
                                                <div class="col-md-6">
                                                
                                                    <p>Restrict Family Members</p>
                                                    <div class="radio radio-primary">
                                                        <input type="radio" checked name="radio" id="restrictyes" value="option3">
                                                        <label for="restrictyes"> Yes </label>
                                                    </div>
                                                    <div class="radio radio-primary">
                                                        <input type="radio" name="radio" id="restrictno" value="option3">
                                                        <label for="restrictno"> No </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                     <p>If restrction is yes show this else hide</p>
                                                        <div class="panel">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover manage-u-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th  class="text-center"><div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" >
                                                                                    <label for="checkbox2"> Select All </label>
                                                                                </div></th>
                                                                            <th>Family Members</th>
                                                                            <th>Quantity</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Spouse</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" value="2" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                         <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox"  checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>1st Kid</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" value="1" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>2nd Kid</td>
                                                                            <td>
                                                                                <input type="number" class="form-control"  value="1" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                       
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Father</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" value="1" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Mother</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" value="1" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" >
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Brother - Dependent</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" >
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Sister - Dependent</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" >
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Father-in-law</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" >
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Mother-in-law</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" >
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Extra Kids</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        </div>
                                                 <div class="col-md-6">
                                                
                                                    <p>Additional Family Members</p>
                                                    <div class="radio radio-primary">
                                                        <input type="radio" name="additionalradio" id="additionalyes" checked value="additionalyes">
                                                        <label for="additionalyes"> Yes </label>
                                                    </div>
                                                    <div class="radio radio-primary">
                                                        <input type="radio" name="additionalradio" id="additionalno" value="additionalno">
                                                        <label for="additionalno"> No </label>
                                                    </div>
                                                </div>
                                                 <div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Price per member</label>
															<div class="col-md-9">
																<input type="text" class="form-control" value="100" id="extraprice" placeholder="Enter Price per member" name="extraprice">
															</div>
														</div>
													</div>
                                                
                                                 <div class="col-md-12">
                                                     <p>If restrction is yes show this else hide</p>
                                                        <div class="panel">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover manage-u-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th  class="text-center"><div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2"> Select All </label>
                                                                                </div></th>
                                                                            <th>Family Members</th>
                                                                            <th>Quantity</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                       
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Father</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Mother</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Brother - Dependent</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Sister - Dependent</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Father-in-law</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Mother-in-law</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <div class="checkbox checkbox-primary">
                                                                                    <input id="checkbox2" type="checkbox" checked="">
                                                                                    <label for="checkbox2">  </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>Extra Kids</td>
                                                                            <td>
                                                                                <input type="number" class="form-control" placeholder="Enter Quantity">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        </div>
                                                 <div class="col-md-12">
                                                    <hr>
                                                </div>
                                                
                                                
                                                <div class="col-md-12"><p>Card Special Benefits</p></div>
                                                <div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Health Checks</label>
															<div class="col-md-9">
                                                            <select class="form-control">
                                                                <option>Select Healthcheck</option>
                                                                <option selected>Healthcheck 1</option>
                                                                <option>Healthcheck 2</option>
                                                                <option>Healthcheck 3</option>
                                                                <option>Healthcheck 4</option>
                                                            </select>
															</div>
														</div>
													</div>
                                                
                                                <div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Consultations</label>
															<div class="col-md-9">
                                                            <select class="form-control">
                                                                <option>Select Consultation</option>
                                                                <option selected>Consultation 1</option>
                                                                <option>Consultation 2</option>
                                                                <option>Consultation 3</option>
                                                                <option>Consultation 4</option>
                                                            </select>
															</div>
														</div>
													</div>
                                                 <div class="col-md-12">
                                                    <hr>
                                                </div>
                                                <div class="col-md-6">
                                                
                                                    <p>Applicability</p>
                                                    <div class="radio radio-primary">
                                                        <input type="radio" name="applicabilityradio" id="applicableforgeneral" value="applicableforgeneral">
                                                        <label for="applicableforgeneral"> General </label>
                                                    </div>
                                                    <div class="radio radio-primary">
                                                        <input type="radio" name="applicabilityradio" checked id="applicableforsponsor" value="applicableforsponsor">
                                                        <label for="applicableforsponsor"> Group/Sponsered </label>
                                                    </div>
                                                </div>
                                                   <div class="col-md-6">
														<div class="form-group">
                                                <p>If Sponsor show option to select sponsor</p>
															<label  class="control-label col-md-3" >Select Group / Sponsor</label>
															<div class="col-md-9">
                                                            <select class="form-control">
                                                                <option>Select Sponsor</option>
                                                                <option selected>Sponsor 1</option>
                                                                <option>Sponsor 2</option>
                                                                <option>Sponsor 3</option>
                                                                <option>Sponsor 4</option>
                                                            </select>
															</div>
														</div>
													</div>
                                                <div class="col-md-12">
                                                    <hr>
                                                </div>
                                                <div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Assign A Coupon</label>
															<div class="col-md-9">
                                                            <select class="form-control">
                                                                <option>Select Coupon</option>
                                                                <option selected>Coupon 1</option>
                                                                <option>Coupon 2</option>
                                                                <option>Coupon 3</option>
                                                                <option>Coupon 4</option>
                                                            </select>
															</div>
														</div>
													</div>
                                                    </div>
												
											</div>
											<div class="form-actions">
												<div class="row">
													<div class="col-md-12">
														<div class="row">
															<div class="col-md-offset-10 col-md-2">
																<button type="submit" class="btn btn-success">Save / Update</button>
																<button type="button" class="btn btn-default">Cancel</button>
															</div>
														</div>
													</div>
													<div class="col-md-6"> </div>
												</div>
											</div>
									</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endblock content %}