{% extends "site_admin/dashboard/base.html" %} {% load static %} {% block content %}

            <div class="container-fluid">
                <div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Manage Discountcards</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<ol class="breadcrumb">
							<li><a href="index.html">Dashboard</a></li>
							<li><a href="#">View / Update Discountcards</a></li>
						</ol>
					</div>
					<!-- /.col-lg-12 -->
				</div>
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">View / Update Discountcards</h3>


                            <p class="text-muted m-b-30"></p>
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Title</th>
                                            <th>Promo Image</th>
                                            <th>Price</th>
                                            <th>validity</th>
                                            <th>coverage</th>
                                            <th>Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Discountcard1</td>
                                            <td style="max-width: 100px;">Image/banner12-a1.png</td>
                                            <td>365</td>
                                            <td>05-05-2020</td>
                                            <td>4</td>
                                            <td>
                                                <a href="discountcard_edit.html"><button class="btn btn-primary">View/Update</button></a>
                                                <button class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Discountcard2</td>
                                            <td style="max-width: 100px;">Image/banner12-a1.png</td>
                                            <td>365</td>
                                            <td>05-05-2020</td>
                                            <td>4</td>
                                            <td>
                                                <a href="discountcard_edit.html"><button class="btn btn-primary">View/Update</button></a>
                                                <button class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                        
                                        
                                        
                                     
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
               
            </div>
                        {% endblock content %}