{% extends "site_admin/dashboard/base.html" %} {% load static %} {% block content %}

			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Manage Healthchecks</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<ol class="breadcrumb">
							<li><a href="index.html">Dashboard</a></li>
							<li><a href="#">Add Healthchecks</a></li>
						</ol>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-info">
							<div class="panel-heading">
                                    Add New Healthchecks
                            </div>
                                    
							<div class="panel-wrapper collapse in" aria-expanded="true">
								<div class="panel-body">
									<form action="discountcard_view.html" class="form-horizontal">
										<div class="form-body">
											<h3 class="box-title">Add New Healthchecks</h3>
                                            <p></p>
											<hr class="m-t-0 m-b-40">
											<div class="row">
												
													
													<div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Title</label>
															<div class="col-md-9">
																<input type="text" class="form-control" id="title" placeholder="Enter The Title" name="title">
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Promo Image</label>
															<div class="col-md-9">
																<input type="file" class="form-control" id="image" placeholder="image" name="image">
															</div>
														</div>
													</div>
                                                    <div class="col-md-12">
														<div class="form-group">
															<label  class="control-label col-md-1" >Discription (Write-Up)</label>
															<div class="col-md-11">
                                                                <textarea class="form-control summernote" name="description" id="description"> </textarea>
															</div>
														</div>
													</div>
                                                 
                                                <div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Price</label>
															<div class="col-md-9">
																<input type="text" class="form-control" id="price" placeholder="price" name="price">
															</div>
														</div>
													</div>
                                                  <div class="col-md-12">
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <h3>Select The Test Category</h3>
                                                    <p>By selecting the category the follwoing Tests will displays</p>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="checkbox2" type="checkbox" >
                                                        <label for="checkbox2"> Select All </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="category1" type="checkbox" >
                                                        <label for="category1"> Test Category 1 </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="category2" type="checkbox" >
                                                        <label for="category2"> Test Category2 </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="category3" type="checkbox" >
                                                        <label for="category3"> Test Category3 </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="category4" type="checkbox" >
                                                        <label for="category4"> Test Category4 </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3>Tests</h3>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="tests1" type="checkbox" >
                                                        <label for="tests1"> Test Name1 </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="tests2" type="checkbox" >
                                                        <label for="tests2"> Test Name2 </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="tests3" type="checkbox" >
                                                        <label for="tests3"> Test Name3 </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="tests4" type="checkbox" >
                                                        <label for="tests4"> Test Name4 </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="tests5" type="checkbox" >
                                                        <label for="tests5"> Test Name5 </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="tests6" type="checkbox" >
                                                        <label for="tests6"> Test Name6 </label>
                                                    </div>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="tests7" type="checkbox" >
                                                        <label for="tests7"> Test Name7 </label>
                                                    </div>
                                                </div>
                                                
                                                
                                                 
                                                
                                                
                                                
                                                 <div class="col-md-12">
                                                    <hr>
                                                </div>
                                                <div class="col-md-6">
                                                
                                                    <p>Applicability</p>
                                                    <div class="radio radio-primary">
                                                        <input type="radio" name="applicabilityradio" id="applicableforgeneral" value="applicableforgeneral">
                                                        <label for="applicableforgeneral"> General </label>
                                                    </div>
                                                    <div class="radio radio-primary">
                                                        <input type="radio" name="applicabilityradio" id="applicableforsponsor" value="applicableforsponsor">
                                                        <label for="applicableforsponsor"> Group/Sponsered </label>
                                                    </div>
                                                </div>
                                                   <div class="col-md-6">
														<div class="form-group">
                                                <p>If Sponsor show option to select sponsor</p>
															<label  class="control-label col-md-3" >Select Group / Sponsor</label>
															<div class="col-md-9">
                                                            <select class="form-control">
                                                                <option>Select Sponsor</option>
                                                                <option>Sponsor 1</option>
                                                                <option>Sponsor 2</option>
                                                                <option>Sponsor 3</option>
                                                                <option>Sponsor 4</option>
                                                            </select>
															</div>
														</div>
													</div>
                                                <div class="col-md-12">
                                                    <hr>
                                                </div>
                                                <div class="col-md-6">
														<div class="form-group">
															<label  class="control-label col-md-3" >Assign A Coupon</label>
															<div class="col-md-9">
                                                            <select class="form-control">
                                                                <option>Select Coupon</option>
                                                                <option>Coupon 1</option>
                                                                <option>Coupon 2</option>
                                                                <option>Coupon 3</option>
                                                                <option>Coupon 4</option>
                                                            </select>
															</div>
														</div>
													</div>
                                                    </div>
												
											</div>
											<div class="form-actions">
												<div class="row">
													<div class="col-md-12">
														<div class="row">
															<div class="col-md-offset-10 col-md-2">
																<button type="submit" class="btn btn-success">Add</button>
																<button type="button" class="btn btn-default">Cancel</button>
															</div>
														</div>
													</div>
													<div class="col-md-6"> </div>
												</div>
											</div>
									</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endblock content %}