{% extends "site_admin/dashboard/base.html" %} {% load static %} {% block content %}

            <div class="container-fluid">
                <div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Manage Health Checks</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<ol class="breadcrumb">
							<li><a href="index.html">Dashboard</a></li>
							<li><a href="#">View Health Checks Reports</a></li>
						</ol>
					</div>
					<!-- /.col-lg-12 -->
				</div>
                <!-- /row -->
                <div class="row">
                    
                    
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">View Health Checks Reports</h3>
                            
                    <div class="panel panel-default">
                         <form>
                         <div class="col-lg-2 col-sm-6 row-in-br">
                                    <div class="input-group">
                                        <input type="date" class="form-control mydatepicker" placeholder="mm/dd/yyyy" name="fromdate"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6 row-in-br">
                                    <div class="input-group">
                                        <input type="date" class="form-control mydatepicker" placeholder="mm/dd/yyyy" name="todate"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                    </div>
                                    </div>
                                    </div>
                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                    <button class="btn btn-block btn-info btn-rounded"type="submit">Filter</button>
                                </div>
                            <div class="panel-body">
                             
                             <p class="text-muted m-b-30"></p>
                           
                             
                             <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Title</th>
                                            <th>Promo Image</th>
                                            <th>Price</th>
                                            <th>HealthSeekerID</th>
                                            <th>Transaction No</th>
                                            <th>Transaction Date</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>{{result.id}}</td>
                                            <td>{{result.tests.name}}</td>
                                            <td>{{result.image}}</td>
                                            <td>{{result.price}}</td>
                                            <td>{{s.user_id}}</td>
                                            <td>{{s.transactions.id}}</td>
                                            <td>{{s.transactions.timestamp}}</td>
                                        </tr>



                                        
                                     
                                        
                                    </tbody>
                                </table>
                            </div>
                             
                             
                        </div>
                    </div>
                            

                        </div>
                    </div>
                    
                </div>
               
            </div>
            <!-- /.container-fluid -->
            {% endblock content %}