{% extends 'base.html.j2' %} {% load static %} {% block mainhead %}
<link type="text/css" rel="stylesheet" href="{% static "site_admin/css/style.css" %}"> {% endblock %} {% block maincontent %}
<div id="wrapper>
          <nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<div class="top-left-part">
					<a class="logo" href="javascript:void(0)">
						<b>
							<img src="{%static "images/admin-logo.png" %}" alt="home" class="dark-logo" />
							<img src="{%static "images/admin-logo-dark.png" %}" alt="home" class="light-logo" />
						</b>

						<span class="hidden-xs">
							<img src="{% static "images/admin-text.png" %}" alt="home" class="dark-logo" />
							<img src="{% static "images/admin-text-dark.png" %}" alt="home" class="light-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left">
					<li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a></li>
				</ul>
				<ul class="nav navbar-top-links navbar-right pull-right">
					<li>
						<form role="search" class="app-search hidden-sm hidden-xs m-r-10">
							<input type="text" placeholder="Search..." class="form-control"> <a href="#"><i class="fa fa-search"></i></a>
						</form>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="javascript:void(0)"> <img src="plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Admin</b><span class="caret"></span> </a>
						<ul class="dropdown-menu dropdown-user animated flipInY">
							<li>
								<div class="dw-user-box">
									<div class="u-img"><img src="plugins/images/users/varun.jpg" alt="user" /></div>
									<div class="u-text">
										<h4>Administration</h4>
										<p class="text-muted">name</p>
										<a href="basic.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
									</div>
								</div>
							</li>
							<li role="separator" class="divider"></li>
							<li><a href="basic.html"><i class="ti-user"></i> My Profile</a></li>
							<li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
						</ul>

					</li>

				</ul>
			</div>
		</nav>
</div>
{% endblock %}
