<!DOCTYPE html>
<html lang="en">
   <!--    35:17 GMT -->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" sizes="16x16" href="plugins/images/favicon.png">
      <title>PHealth Health Provider Dashboard</title>
      <!-- Bootstrap Core CSS -->
      <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Menu CSS -->
      <link href="plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
      <!-- toast CSS -->
      <link href="plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
      <!-- morris CSS -->
      <link href="plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
      <!-- chartist CSS -->
      <link href="plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
      <link href="plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
      <!-- Calendar CSS -->
      <link href="plugins/bower_components/calendar/dist/fullcalendar.css" rel="stylesheet" />
      <!-- animation CSS -->
      <link href="css/animate.css" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="css/style.css" rel="stylesheet">
      <!-- color CSS -->
      <link href="css/colors/default.css" id="theme" rel="stylesheet">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <style>
      body {
      background: #f6f6f6;
      }
      label > input{ /* HIDE RADIO */
      visibility: hidden; /* Makes input not-clickable */
      position: absolute; /* Remove input from document flow */
      }
      label > input + img{ /* IMAGE STYLES */
      cursor:pointer;
      border:2px solid transparent;
      }
      label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
      border:2px solid #2758a5;
      }
      .dclass{
      text-align: center;
      }
      .radioimage{
      margin: 10px 50px;
      }
      .radioimage img {
      width: 100px;
      margin: 0 auto;
      }
      .btn1 {
      margin: 20px;
      }
   </style>
   <body class="fix-header">
      <!-- ============================================================== -->
      <!-- Preloader -->
      <!-- ============================================================== -->
      <div class="preloader">
         <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
         </svg>
      </div>
      <!-- ============================================================== -->
      <!-- Wrapper -->
      <!-- ============================================================== -->
      <div id="wrapper">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <nav class="navbar navbar-default navbar-static-top m-b-0">
         <div class="navbar-header">
            <div class="top-left-part">
               <!-- Logo -->
               <a class="logo" href="index.html">
                  <!-- Logo icon image, you can use font-icon also -->
                  <b>
                     <!--This is dark logo icon--><img src="plugins/images/admin-logo.png" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                  </b>
                  <!-- Logo text image you can use text also -->
                  <span class="hidden-xs">
                     <!--This is dark logo text--><img src="plugins/images/admin-text.png" alt="home" class="dark-logo" /><!--This is light logo text--><img src="plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
                  </span>
               </a>
            </div>
            <!-- /Logo -->
            <!-- Search input and Toggle icon -->
            <ul class="nav navbar-top-links navbar-left">
               <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a></li>
               <!-- .Task dropdown -->
            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">
               <li>
                  <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                     <input type="text" placeholder="Search..." class="form-control"> <a href="#"><i class="fa fa-search"></i></a> 
                  </form>
               </li>
               <li class="dropdown">
                  <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Admin</b><span class="caret"></span> </a>
                  <ul class="dropdown-menu dropdown-user animated flipInY">
                     <li>
                        <div class="dw-user-box">
                           <div class="u-img"><img src="plugins/images/users/varun.jpg" alt="user" /></div>
                           <div class="u-text">
                              <h4>Administrator</h4>
                              <p class="text-muted">name</p>
                              <a href="basic.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                           </div>
                        </div>
                     </li>
                     <li role="separator" class="divider"></li>
                     <li><a href="basic.html"><i class="ti-user"></i> My Profile</a></li>
                     <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                  </ul>
                  <!-- /.dropdown-user -->
               </li>
               <!-- /.dropdown -->
            </ul>
         </div>
         <!-- /.navbar-header -->
         <!-- /.navbar-top-links -->
         <!-- /.navbar-static-side -->
      </nav>
      <!-- End Top Navigation -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
                <div class="user-profile">
                    
                </div>
                <ul class="nav" id="side-menu">
					<li><a href="index.html" class="waves-effect"><i class="mdi mdi-av-timer fa-fw"></i> <span class="hide-menu"> Dashboard </span></a></li>
					<li>
						<a href="#" class="waves-effect"><i class="mdi mdi-format-paint fa-fw" data-icon="v"></i> <span class="hide-menu"> CMS <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="cms_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add New</span></a> </li>
							<li> <a href="cms_view.html"><i class=" fa-fw"></i><span class="hide-menu">View / Update</span></a> </li>
						</ul>
					</li>
                    
                    <li> <a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-settings fa-fw"></i> <span class="hide-menu">Configurations<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Conditions </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="condition_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="condition_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Time Session </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="timesession_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="timesession_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Specialities </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="speciality_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="speciality_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Coupons </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="coupons_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="coupons_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                    <li> <a href="coupons_reports.html"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Test Masters </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="test_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>                                     <li> <a href="test_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>                                     <li> <a href="test_category_add.html"><i class=" fa-fw"></i><span class="hide-menu">Category Add</span></a> </li>                                     <li> <a href="test_category_view.html"><i class=" fa-fw"></i><span class="hide-menu">Category view</span></a> </li>                                     <li> <a href="test_subcategory_add.html"><i class=" fa-fw"></i><span class="hide-menu">Sub-Category Add</span></a> </li>                                     <li> <a href="test_subcategory_view.html"><i class=" fa-fw"></i><span class="hide-menu">Sub-Category view</span></a> </li>
                                     
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Facilities Type </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="facility_type_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="facility_type_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Facilities </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="facility_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="facility_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Roles </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="roles_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="roles_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">ID Configuration </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="idconfiguration_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="idconfiguration_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                    
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-account-multiple fa-fw" data-icon="v"></i> <span class="hide-menu"> Users <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="users.html"><i class=" fa-fw"></i><span class="hide-menu">All Users</span></a> </li>
							<li> <a href="users.html"><i class=" fa-fw"></i><span class="hide-menu">Health Seekers</span></a> </li>
							<li> <a href="users.html"><i class=" fa-fw"></i><span class="hide-menu">Sponsors</span></a> </li>
							<li> <a href="users.html"><i class=" fa-fw"></i><span class="hide-menu">Health Providers</span></a> </li>
							<li> <a href="users.html"><i class=" fa-fw"></i><span class="hide-menu">Clinicians</span></a> </li>
							<li> <a href="users.html"><i class=" fa-fw"></i><span class="hide-menu">Sales Agents</span></a> </li>
							<li> <a href="users.html"><i class=" fa-fw"></i><span class="hide-menu">Resellers</span></a> </li>
						</ul>
					</li>
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-account-switch fa-fw" data-icon="v"></i> <span class="hide-menu"> Sales Agents <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="salesagents_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add New</span></a> </li>
							<li> <a href="salesagents_view.html"><i class=" fa-fw"></i><span class="hide-menu">View / Update</span></a> </li>
						</ul>
					</li>
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-calendar-clock fa-fw" data-icon="v"></i> <span class="hide-menu"> Appointment <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="health_daily.html"><i class=" fa-fw"></i><span class="hide-menu">Daily</span></a> </li>
							<li> <a href="health_weekly.html"><i class=" fa-fw"></i><span class="hide-menu">Weekly</span></a> </li>
							<li> <a href="health_monthly.html"><i class=" fa-fw"></i><span class="hide-menu">Monthly</span></a> </li>
						</ul>
					</li>
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-wallet-giftcard fa-fw" data-icon="v"></i> <span class="hide-menu">Discount Cards <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="discountcard_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add New</span></a> </li>
							<li> <a href="discountcard_view.html"><i class=" fa-fw"></i><span class="hide-menu">View / Update</span></a> </li>
							<li> <a href="discountcard_reports.html"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
						</ul>
					</li>
                    <li>
						<a href="#" class="waves-effect"><i class="mdi mdi-medical-bag fa-fw" data-icon="v"></i> <span class="hide-menu">Health Checks <span class="fa arrow"></span> </span></a>
						<ul class="nav nav-second-level">
							<li> <a href="healthcheck_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add New</span></a> </li>
							<li> <a href="healthcheck_view.html"><i class=" fa-fw"></i><span class="hide-menu">View / Update</span></a> </li>
							<li> <a href="healthcheck_reports.html"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
						</ul>
					</li>
                    <li> <a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-cash-multiple fa-fw"></i> <span class="hide-menu">Plans & Packages<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Healthprovider Plans </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="healthprovider_plans_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="healthprovider_plans_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                    <li> <a href="healthprovider_plans_reports.html"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Sales Agent Packages</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="salesagents_packages_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="salesagents_packages_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                    <li> <a href="salesagents_packages_reports.html"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Reseller Packages </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="resellers_packages_add.html"><i class=" fa-fw"></i><span class="hide-menu">Add</span></a> </li>
                                    <li> <a href="resellers_packages_view.html"><i class=" fa-fw"></i><span class="hide-menu">view/ Update</span></a> </li>
                                    <li> <a href="resellers_packages_reports.html"><i class=" fa-fw"></i><span class="hide-menu">Reports</span></a> </li>
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                    
					
				</ul>
            </div>
        </div>
      <!-- ============================================================== -->
      <!-- End Left Sidebar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page Content -->
      <!-- ============================================================== -->
      <div id="page-wrapper">
         <div class="container-fluid">
            <div class="row bg-title">
               <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                  <h4 class="page-title">Manage Tests Category</h4>
               </div>
               <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                  <ol class="breadcrumb">
                     <li><a href="index.html">Dashboard</a></li>
                     <li><a href="#">Add  Tests Category</a></li>
                  </ol>
               </div>
               <!-- /.col-lg-12 -->
            </div>
            <div class="row ">
               <div class="col-md-12 ">
                  <div class="panel panel-info ">
                     <div class="panel-heading">
                        Add New Test Category
                     </div>
                     <br>
                      
                      <div class="col-md-12 white-box">
                     <div class="panel-body">
                         <div class="form-group">
                           <label for="title">Test Category Title</label>
                           <input type="text" class="form-control" id="title" placeholder="Enter Title " name="title">
                        </div>
                         
                         
                         
                        
                         <div class="form-group">
                           <label for="title">Discription</label>
                             <textarea class="form-control"  placeholder="EnterDiscription" ></textarea>
                        </div>
                        
                        
                        <div class="form-group">
                           <a href="#"><button class="btn btn-success pull-right">Add</button></a>
                        </div>
                     </div>
                          </div>
                  </div>
               </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2018 &copy; Phealth </footer>
         </div>
         <!-- ============================================================== -->
         <!-- End Page Content -->
         <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Wrapper -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- All Jquery -->
      <!-- ============================================================== -->
      <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- Menu Plugin JavaScript -->
      <script src="plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
      <!--slimscroll JavaScript -->
      <script src="js/jquery.slimscroll.js"></script>
      <!--Wave Effects -->
      <script src="js/waves.js"></script>
      <!--Counter js -->
      <script src="plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
      <script src="plugins/bower_components/counterup/jquery.counterup.min.js"></script>
      <!-- chartist chart -->
      <script src="plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
      <script src="plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
      <!-- Sparkline chart JavaScript -->
      <script src="plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
      <!-- Custom Theme JavaScript -->
      <script src="js/custom.min.js"></script>
      <script src="js/dashboard1.js"></script>
      <script src="plugins/bower_components/toast-master/js/jquery.toast.js"></script>
      <!--Style Switcher -->
      <script src="plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
   </body>
</html>
</html>