{% extends "site_admin/dashboard/base.html" %} {% load static %} {% block content %}
            <div class="container-fluid">
                <div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Users</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<ol class="breadcrumb">
							<li><a href="index.html">Dashboard</a></li>
							<li><a href="#">Users</a></li>
						</ol>
					</div>
					<!-- /.col-lg-12 -->
                    
				</div>
                <!-- /row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="row row-in">
                                
                                <div class="col-lg-2 col-sm-6">
                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <select name="Obstetrician" class="form-control">
                                                <option value="" disabled="" selected="">Select Roles</option>
                                                <option value="All">All</option>
                                                <option value="healthseeker">Health Seker</option>
                                                <option value="healthporovider">healthporovider</option>
                                                <option value="clinicians">Clinicians</option>
                                                <option value="SalesAgents">SalesAgents</option>
                                                <option value="Ressellers">Ressellers</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <select name="Obstetrician" class="form-control">
                                                <option value="" disabled="" selected="">Select Status</option>
                                                <option value="All">All</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                    <button class="btn btn-block btn-info btn-rounded">Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-md-12">
						<div class="panel panel-info">
							<div class="panel-heading">
                                 All Users 
                            </div>
							<div class="panel-wrapper collapse in" aria-expanded="true">
								<div class="panel-body">
								    <div class="white-box">
                                        <div class="table-responsive">
                                            <table id="myTable" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.No</th>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Mobile</th>
                                                        <th>Gender</th>
                                                        <th>Role</th>
                                                        <th>RegisteredDate</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% for user in values %}
                                                        <td>{{ user.sr.no }}</td>
                                                        <td>{{ user.id }}</td>
                                                        <td>{{ user.name }}</td>
                                                        <td>{{ user.email }}</td>
                                                        <td>{{ user.mobile }}</td>
                                                        <td>{{ user.gender}}</td>
                                                        <td>{{ user.role }}</td>
                                                        <td>{{ user.reg_date }}</td>
                                                        <td>{{ user.status }}</td>
                                                        <td>
                                                            <button class="btn btn-success  href="{% url 'site_admin:users' %}" waves-effect waves-light marextra"><span class="btn-label"><i class="fa fa-check"></i></span>Active</button>

                                                    <button class="btn btn-danger  waves-effect waves-light marextra"><span class="btn-label"><i class="fa fa-times"></i></span>Hold</button>
                                                        </td>
                                                         </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    {% endblock content %}        