{% extends 'base.html.j2' %}
{% load static %}
{% block mainhead %}
<link href="{% static 'healthprovider/css/style.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'healthprovider/js/main.js' %}"></script>
{% block head %}
{% endblock %}
{% endblock %}
{% block maincontent %}
	{% block navbar %}
	{% endblock %}
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	{% block footer %}
	{% endblock %}
{% endblock %}
