<div class="col-lg-1 col-sm-4 col-xs-12">
    <a href="{% url 'healthprovider:branch_basic_update' %}">
        <button class="btn btn-block btn-default btn-outline">Basic Details</button>
    </a>
</div>
<div class="col-lg-2 col-sm-4 col-xs-12">
    <a href="{% url 'healthprovider:branch_contact_update' %}">
        <button class="btn btn-block btn-default btn-outline">Contact Details</button>
    </a>
</div>
<div class="col-lg-2 col-sm-4 col-xs-12">
    <a href="{% url 'healthprovider:branch_organization_update' %}">
        <button class="btn btn-block btn-default btn-outline">Organization Details</button>
    </a>
</div>
<div class="col-lg-1 col-sm-4 col-xs-12">
    <a href="{% url 'healthprovider:branch_speciality_update' %}">
        <button class="btn btn-block btn-default btn-outline">Specialities</button>
    </a>
</div>
<div class="col-lg-2 col-sm-4 col-xs-12">
    <a href="{% url 'healthprovider:branch_facilities_update' %}">
        <button class="btn btn-block btn-default btn-outline">Facilities/Services</button>
    </a>
</div>
<div class="col-lg-2 col-sm-4 col-xs-12">
    <a href="{% url 'healthprovider:branch_offerings_update' %}">
        <button class="btn btn-block btn-default btn-outline">Offerings</button>
    </a>
</div>
<div class="col-lg-2 col-sm-4 col-xs-12">
    <a href="{% url 'healthprovider:branch_healthcheck_update' %}">
        <button class="btn btn-block btn-default btn-outline">Health Checks Configuration</button>
    </a>
</div>