{% extends "healthprovider/dashboard/base.html.j2" %} 
{% load static %} 
{% block content %}
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Weekly Appointments View</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Dashboard</a>
                </li>
                <li>
                    <a href="#">Appointments</a>
                </li>
                <li>
                    <a href="#">Weekly Appointments View</a>
                </li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <div class="row row-in">
                    <div class="col-lg-3 col-sm-6 row-in-br">
                        <div class="input-group">
                            <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy">
                            <span class="input-group-addon">
                                <i class="icon-calender"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                <select name="Obstetrician" class="form-control">
                                    <option value="" disabled="" selected="">Select Status</option>
                                    <option value="Rajesh">Dr. Rajesh</option>
                                    <option value="Srinivasulu">Dr. Srinivasulu</option>
                                    <option value="Priya">Dr. Priya</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                <select name="Obstetrician" class="form-control">
                                    <option value="" disabled="" selected="">Select Status</option>
                                    <option value="urologist">urologist</option>
                                    <option value="Cardiologist">Cardiologist</option>
                                    <option value="Dermatologist">Dermatologist</option>
                                    <option value="Surgery">Surgery</option>
                                    <option value="neurologist">neurologist</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <div class="col-md-9">
                                <select name="Obstetrician" class="form-control">
                                    <option value="" disabled="" selected="">Select Status</option>
                                    <option value="scheduled">Scheduled</option>
                                    <option value="waitinglist">Waiting List</option>
                                    <option value="rejected">Rejected</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-12">
                        <button class="btn btn-block btn-info btn-rounded">Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Weekly Appointments View
                </div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <div class="form-body">

                            <div class="demo-popover">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3 ">
                                                <button type="button" class="btn btn-primary popover-primary sr-only"> Primary </button>
                                                <div class="popover top btn_pop">
                                                    <h3 class="popover-title">Sunday</h3>
                                                    <div class="popover-content">
                                                        <p>Cancel 1</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary popover-primary sr-only"> Primary </button>
                                                <div class="popover top btn_pop">
                                                    <h3 class="popover-title">Monday</h3>
                                                    <div class="popover-content">
                                                        <p>Scheduled 5</p>
                                                        <p>Cancel 6</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary popover-primary sr-only"> Primary </button>
                                                <div class="popover top btn_pop">
                                                    <h3 class="popover-title">Tuesday</h3>
                                                    <div class="popover-content">
                                                        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary popover-primary sr-only"> Primary </button>
                                                <div class="popover top btn_pop">
                                                    <h3 class="popover-title">Wednesday</h3>
                                                    <div class="popover-content">
                                                        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3 ">
                                                <button type="button" class="btn btn-primary popover-primary sr-only"> Primary </button>
                                                <div class="popover top btn_pop">
                                                    <h3 class="popover-title">Thursday</h3>
                                                    <div class="popover-content">
                                                        <p>Cancel 1</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary popover-primary sr-only"> Primary </button>
                                                <div class="popover top btn_pop">
                                                    <h3 class="popover-title">Friday</h3>
                                                    <div class="popover-content">
                                                        <p>Scheduled 5</p>
                                                        <p>Cancel 6</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary popover-primary sr-only"> Primary </button>
                                                <div class="popover top btn_pop">
                                                    <h3 class="popover-title">Saturday </h3>
                                                    <div class="popover-content">
                                                        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %} 
{% block script %}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group +
                                '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>
<!-- Clock Plugin JavaScript -->
<script src="{% static 'common/dashboard/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js' %}"></script>
<!-- Color Picker Plugin JavaScript -->
<script src="{% static 'common/dashboard/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asColor.js' %}"></script>
<script src="{% static 'common/dashboard/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asGradient.js' %}"></script>
<script src="{% static 'common/dashboard/plugins/bower_components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js' %}"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="{% static 'common/dashboard/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<!-- Date range Plugin JavaScript -->
<script src="{% static 'common/dashboard/plugins/bower_components/timepicker/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'common/dashboard/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script>
    // Clock pickers
    $('#single-input').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });
    $('.clockpicker').clockpicker({
        donetext: 'Done',
    }).find('input').change(function () {
        console.log(this.value);
    });
    $('#check-minutes').click(function (e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show').clockpicker('toggleView', 'minutes');
    });
    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
    // Colorpicker
    $(".colorpicker").asColorPicker();
    $(".complex-colorpicker").asColorPicker({
        mode: 'complex'
    });
    $(".gradient-colorpicker").asColorPicker({
        mode: 'gradient'
    });
    // Date Picker
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });
    // Daterange picker
    $('.input-daterange-datepicker').daterangepicker({
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-daterange-timepicker').daterangepicker({
        timePicker: true,
        format: 'MM/DD/YYYY h:mm A',
        timePickerIncrement: 30,
        timePicker12Hour: true,
        timePickerSeconds: false,
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-limit-datepicker').daterangepicker({
        format: 'MM/DD/YYYY',
        minDate: '06/01/2015',
        maxDate: '06/30/2015',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse',
        dateLimit: {
            days: 6
        }
    });
</script>
{% endblock script %}