{# main basic dashboard template #}
{% extends 'sponsor/base.html.j2' %}
{% load static %}
{% load bootstrap %}
{% block content %}
<div class="row page-header well">
	<h3>{{ title }}</h3>
</div>
{% endblock %}
