{# main template for the sponsor dashboard #}
{% extends 'sponsor/base.html.j2' %}
{% load static %}
{% load bootstrap %}
{% block content %}
<div class="row">
	<h3>{{ title }}</h3>
</div>
{% endblock %}
