{% load static %}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="{% static 'common/dashboard/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'common/dashboard/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Menu Plugin JavaScript -->
<script src="{% static 'common/dashboard/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
<!--slimscroll JavaScript -->
<script src="{% static 'common/dashboard/js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'common/dashboard/js/waves.js' %}"></script>
<!--Counter js -->
<script src="{% static 'common/dashboard/plugins/bower_components/waypoints/lib/jquery.waypoints.js' %}"></script>
<script src="{% static 'common/dashboard/plugins/bower_components/counterup/jquery.counterup.min.js' %}"></script>
<!-- chartist chart -->
<script src="{% static 'common/dashboard/plugins/bower_components/chartist-js/dist/chartist.min.js' %}"></script>
<script src="{% static 'common/dashboard/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
<!-- Sparkline chart JavaScript -->
<script src="{% static 'common/dashboard/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'common/dashboard/js/custom.min.js' %}"></script>
<script src="{% static 'common/dashboard/js/dashboard1.js' %}"></script>
<script src="{% static 'common/dashboard/plugins/bower_components/toast-master/js/jquery.toast.js' %}"></script>
<!--Style Switcher -->
<script src="{% static 'common/dashboard/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
