{# main template for the sponsor dashboard #}
{% extends 'sponsor/base.html.j2' %}
{% load static %}
{% load bootstrap %}
{% block content %}
<div class="row page-header well">
	<h3>{{ title }}</h3>
</div>
<section class="row existing_users">
	<div class="row well">
		<h4>Add/Modify Existing users</h4>
	</div>
	<div class="row">
		<form method="POST">
			<div class="panel panel-success">
				<div class="panel-heading"><i class="fa fa-user"></i> Add existing</div>
				<div class="panel-body">
					{% csrf_token %}
					{{ existing_multiple | bootstrap }}
				</div>
				<div class="panel-footer">
					<button class="btn btn-success btn-block" name="type" value="existing_multiple"><i class="fa fa-plus fa-lg"></i> Add!</button>
				</div>
			</div>
		</form>
	</div>
</section>
<div class="row"><hr></div>
<section class="row new_user_bulk">
	<div class="row well">
		<h4>Add multiple (new) users</h4>
	</div>
	<div class="row">
		<form method="POST" enctype="multipart/form-data">
			<div class="panel panel-info">
				<div class="panel-heading"><i class="fa fa-file"></i> Upload Bulk File</div>
				<div class="panel-body">
					<p class="text-muted">Add a set of users by uploading an <strong>excel</strong> sheet with the required details. The column names correspond to the details that have to be filled. Keep adding rows for further details. <em class="lead text-danger">Get the template <a href="{% static 'sponsor/files/template.xlsx' %}">here</a>.</em>
					</p>
					<p class="text-muted">
						The required fields are:
						<ul class="text-muted">
							<li>Email</li>
							<li>Name</li>
							<li>Mobile</li>
							<li>password</li>
							<li>gender ('M'/'F'/'O')</li>
							<li>DOB</li>
						</ul>
						<span class="text-muted">Make sure the users update their <em>security question</em>, answer and profile picture after account creation. All other details will be filled with the given information, and certain fields will be filled with defaults and <strong>should</strong> be edited after creation.</span>
					</p>
					{% csrf_token %}
					{{ bulk_form | bootstrap }}
				</div>
				<div class="panel-footer">
					<button class="btn btn-block btn-info" name="type" value="new_multiple"><i class="fa fa-book fa-lg"></i> Add Bulk</button>
				</div>
			</div>
		</form>
	</div>
</section>
<section class="row single_user_new">
	<div class="row well">
		<h4>Add single (new) user</h4>
	</div>
	<div class="row">
		<form method="POST">
			<div class="panel panel-danger">
				<div class="panel-heading"><i class="fa fa-user-circle-o"></i> Single User Details</div>
				<div class="panel-body">
					{% csrf_token %}
					{{ single_user.basic_user | bootstrap }}
					{{ single_user.seeker_specific | bootstrap }}
				</div>
				<div class="panel-footer">
					<button class="btn btn-danger btn-block" name="type" value="single_user"><i class="fa fa-plus"></i> Add!</button>
				</div>
			</div>
		</form>
	</div>
</section>
<div class="row"><hr></div>

{% endblock %}
